@media (min-width: 767px) {

    br {
        display: block;
        margin: 12px 0;
        content: '';
    }

    input[type=range] {
        height: 6px;
    }

    input[type=range]::-webkit-slider-runnable-track {
        height: 6px;
    }

    input[type=range]::-webkit-slider-thumb {
        height: 6px;
    }

    input[type=range]::-moz-range-thumb {
        height: 6px;
    }

    input[type=range]::-moz-range-track {
        height: 6px;
    }

    input[type=range]::-ms-track {
        height: 6px;
    }

    input[type=range].rating-progress::-ms-fill-lower {
        height: 6px;
    }

    body {
        padding: 20px 0;
    }

    body::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: url('../img/pattern.png');
        opacity: .13;
        z-index: -99;
    }

    .section-title {
        font-size: 28px;
    }

    h3 {
        font-size: 25px;
    }

    .container {
        max-width: 768px;
        padding: 0 20px;
    }

    header {
        max-width: 528px;
        margin: auto auto 20px auto;
        padding: 28px 28px 20px 28px;
    }

    header::after {
        background: url('../img/pattern_tablet.png') no-repeat;
        background-position: bottom;
        background-size: 100%;
    }

    .menu-item {
        width: calc(100% / 5);
    }

    .rating_stars_vector {
        width: 126px;
        height: 21px;
    }

    .user-rating {
        padding: 16px;
        margin-bottom: 24px;
    }

    .user-status {
        font-size: 15px;
    }


    .user-rating_line {
        margin: 0 0 8px 0;
    }

    .user-rating_percent i {
        font-size: 15px;
    }

    .user-rating_line-info {
        margin-bottom: 22px;
    }

    .user-buttons {
        font-size: 19px;
    }

    .user-photo {
        max-width: 156px;
        max-height: 156px;
        margin-bottom: 8px;
        border: 6px solid #4A8787;
    }

    .user-photo img {
        width: 144px;
        height: 144px;
    }

    .user-photo_like svg {
        width: 34px;
        height: 30px;
    }

    .user-name {
        font-size: 25px;
    }

    .button.grd {
        padding: 14px 50px 14px 60px;
        box-shadow: 0px 3px 5px rgba(0, 41, 28, 0.3);
    }

    .user-note {
        line-height: 1.5;
    }

    .article-type_2-content {
        column-count: 2;
        display: block;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-gap: 0;
        -moz-column-fill: initial;
        -webkit-column-fill: initial;
        column-fill: initial;
        width: 100%;
    }

    .articles .user-article_text {
        padding: 8px 10px 0 10px;
    }

    .article-others {
        padding: 20px 0 0 16px;
        text-align: left;
    }

    /* .article-type_2 .article-others {
        padding: 14px 0 0 0;
    } */

    .article-type_2 .article-others {
        padding: 14px 0 0 0;
        text-align: center;
    }

    .user-article_image {
        max-height: 398px;
    }

    .user-article_image img {
        height: 398px;
    }

    .user-article {
        background: radial-gradient(33.34% 11.83% at 58.53% 81.4%, #FFEEBD 0%, rgba(255, 236, 179, 0) 100%), linear-gradient(180deg, #FFD9A8 44.83%, rgba(255, 213, 158, 0) 61.25%), radial-gradient(63.1% 57.46% at 50% 43.69%, #FFF4C2 19.79%, rgba(255, 241, 179, 0) 100%), #FFFFFF;
        margin-bottom: 44px;
        padding-bottom: 18px;
    }

    .slider .section-title {
        margin-bottom: 20px;
    }

    .slider-box-nav {
        position: relative;
        padding-top: 13px;
    }

    .main-menu {
        background: #FFFFFF;
        border-radius: 14px;
        padding: 12px 27px 12px 27px;
        max-width: 728px;
        margin: auto auto 45px auto;
        text-align: center;
    }

    .menu-item a:hover {
        color: #3C76A6;
        border-bottom: none;
    }

    .review-item {
        max-width: 354px;
    }

    .reviews-wrapper {
        justify-content: space-between;
        gap: 20px 0;
    }

    .button {
        padding: 12px 68px;
    }

    .vote {
        margin-bottom: 27px;
    }

    .vote-wrapper {
        max-width: 528px;
        margin: auto auto 58px auto;
        padding: 18px 14px 10px 14px;
    }

    .vote-info {
        justify-content: center;
        gap: 5px;
    }

    .subvote-wrapper {
        background: linear-gradient(180deg, #F0F6FA 0%, #FFFFFF 100%);
        box-shadow: 0px 0px 14px rgba(17, 36, 50, 0.25);
        border-radius: 12px;
        border-left: 0;
        align-items: center;
        text-align: center;
        max-width: 528px;
        margin: auto;
        padding: 8px 0 18px 0;
    }

    .cards {
        margin-bottom: 120px;
    }

    .cards .section-title {
        margin-bottom: 13px;
    }

    .cards-wrapper {
        padding-top: 97px;
        gap: 20px 0;
    }

    .card-item {
        max-width: 354px;
    }

    .card-image {
        max-width: 354px;
    }

    .articles .section-title {
        margin-bottom: 16px;
    }

    .articles .user-article_image {
        max-height: 440px;
    }

    .articles .user-article_image img {
        height: 440px;
    }

    .user-article_text {
        padding: 10px 16px 0 16px;
    }

    .article-type_2 .user-article_text {
        text-align: center;
    }


    .slider-wrapper {
        overflow: hidden;
        margin-top: 50px;
    }

    .main-slider__item {
        max-width: 558px;
        max-height: 558px;
        height: 558px;
        border-radius: 14px;
    }

    .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
    }

    .default .section-title {
        margin-bottom: 12px;
    }

    .default-wrapper {
        padding-top: 22px;
    }

    .default .user-article {
        margin-bottom: 37px;
        /* background: linear-gradient(180deg, #FFFBF0 0%, #FFFFFF 100%); */
        box-shadow: 0px 0px 12px rgba(36, 30, 0, 0.25);
        border-radius: 14px;
        background: linear-gradient(90deg, #FFEED1 51.49%, #FFFDFA 100%);
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 10px 0;
    }

    .review-box__block {
        padding: 12px 16px 14px 16px;
    }

    .reviews-box {
        padding-top: 44px;
    }

    .reviews-box__info {
        font-size: 17px;
        margin-bottom: 16px;
    }

    .review-form input#name,
    .review-form input#lastname {
        width: 49%;
    }

    .choose-photo {
        width: 50px;
        margin-left: 14px;
    }

    input#choose {
        width: 50px;
        height: 50px;
    }

    .choose-photo__input-label {
        width: 50px;
        height: 50px;
    }

    .review-form input#email {
        width: 86%;
    }

    .review-form {
        gap: 16px 0;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 17px;
    }

    .review-controls__rating i {
        font-size: 23px;
    }

    .review-controls {
        font-size: 17px;
    }


    button#add_review {
        padding: 12px 92px;
    }

    .reviews-list {
        padding-top: 17px;
    }

    .reviews-list__stat {
        max-width: 100%;
        align-items: center;
        gap: 0 24px;
        margin-bottom: 16px;
    }


    .review-controls__rating {
        width: 167px;
        height: 25px;
        margin-bottom: 6px;
    }

    .reviews-rating {
        max-width: max-content;
        margin-bottom: 0;
        order: 2;
    }

    .reviews-list__counts {
        font-size: 17px;
    }

    .comment {
        gap: 12px 0;
    }

    .comment-box {
        padding: 16px 16px 18px 16px;
    }

    .review-block__photo {
        width: 52px;
        height: 52px;
    }

    .review-block__fio {
        font-size: 18px;
    }

    .review-block__rating {
        font-size: 15px;
    }

    .review-block__date {
        font-size: 14px;
    }

    .commnet-children>.comment {
        padding-left: 18px;
    }

    .like-count {
        font-size: 16px;
    }

    .popup {
        padding: 63px 14px 14px 14px;
        max-width: 586px;
        border-radius: 10px;
    }

    form.reply-form {
        gap: 16px 0;
    }

    .close_button_popup {
        width: 35px;
        height: 35px;
        top: 12px !important;
        right: 14px !important;
    }

    .reply-form input#email {
        width: 86%;
    }

    .reply-form input#name,
    .reply-form input#lastname {
        width: 49%;
    }

    /* forum page */ 

    .forum-title {
        font-size: 23px;
        margin-bottom: 24px;
    }
    
    .forum-topic__block {
        max-width: 728px;
    }

    .topic__head {
        padding: 10px 20px 12px 20px;
    }

    .topic__title {
        font-size: 20px;
        line-height: 1.3;
    }

    .topic__author {
        font-size: 18px;
    }
        
    .topic__author-date {
        font-size: 17px;
    }
    
    .topic__content {
        padding: 12px 14px;
    }

    .topic__message {
        padding: 10px 14px 12px 34px;
    }
    
    /* contacts page */ 

    body.contacts-page .main-menu {
        margin-top: 30px;
        margin-bottom: 23px;
    }

    .contact__box {
        padding: 12px 16px;
        border-radius: 14px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    }

    .contact__box .section-title {
        margin-bottom: 8px;
    }

    .contact_note {
        padding: 47px 0 25px 0;
    }
    
    .note__text {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .block__title {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .article-type_2-content {
        margin-bottom: 0;
    }

    .article-others {
        padding: 0;
    }


}


@media (min-width: 1215px) {

    body {
        padding: 90px 0 55px 0;
    }

    .container {
        max-width: 1280px;
        width: 100%;
        padding: 0 60px 0 60px;
    }

    .custom-checkbox>span {
        font-size: 17px;
    }


    .button:hover {
        cursor: pointer;
        background: #03B57C;
    }

    .btn_button:hover {
        cursor: pointer;
        background: #009E6C;
        border-radius: 24px;
    }


    h3 {
        font-size: 26px;
        margin-bottom: 0;
    }

    header {
        max-width: 100%;
        margin: auto auto 30px auto;
        padding: 27px 0 20px 0;
        background: url('../img/header_desktop.jpg') no-repeat;

        background-size: 100%;
    }

    .user-others {
        margin-bottom: 22px;
    }

    header::after {
        display: none;
    }

    .header-wrapper {
        max-width: 500px;
        margin: auto;
    }

    .menu-item {
        width: auto;
    }

    .user-article {
        border-radius: 16px;
        box-shadow: 0px 0px 20px rgba(56, 36, 0, 0.6);
        background: radial-gradient(33.34% 11.83% at 58.53% 81.4%, #FFF0C2 0%, rgba(255, 236, 179, 0) 100%), linear-gradient(180deg, #FFD9A8 56.68%, rgba(255, 213, 158, 0) 70.14%), radial-gradient(63.1% 57.46% at 50% 43.69%, #FFF4C2 19.79%, rgba(255, 241, 179, 0) 100%), #FFFFFF;
        margin-bottom: 30px;
        padding-bottom: 14px;
    }

    .article-type_2-content {
        column-count: 1;
        -moz-column-count: 1;
        -webkit-column-count: 1;
    }

    .articles .section-title {
        margin-bottom: 36px;
    }

    .articles .user-article_text {
        padding: 10px 22px 0 22px;
    }


    .user-others .button.grd {
        display: none;
    }

    .user-article_image {
        max-height: 467px;
    }

    .user-article_image img {
        height: 467px;
    }

    .user-article_text {
        padding: 12px 22px 20px 22px;
    }

    .main-menu {
        border-radius: 16px;
        padding: 18px 62px 20px 62px;
        max-width: 1160px;
        margin: auto auto 18px auto;
    }

    .main-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 14px 22px;
    }

    .reviews-wrapper {
        gap: 30px 0;
        padding: 40px 0 0 0;
    }

    .review-item {
        max-width: 368px;
    }

    /* .review-item:nth-child(n+4) {
        display: none;
    } */

    .reviews {
        margin-bottom: 40px;
    }

    .vote {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    .vote-wrapper {
        order: 2;
        max-width: 560px;
        width: 100%;
        margin: 0;
        padding: 16px 14px 10px 14px;
    }

    .subvote-wrapper {
        order: 1;
        max-width: 560px;
        width: 100%;
        margin: 0;
    }

    .subvote-list {
        font-size: 22px;
        line-height: 1.2;
    }

    .vote-question {
        font-size: 24px;
    }

    .vote-info {
        font-size: 17px;
    }

    .vote-variant {
        font-size: 19px;
    }

    .vote-whois {
        font-size: 17px;
    }

    .cards-wrapper {
        padding-top: 50px;
        gap: 40px 0;
    }

    .cards {
        margin-bottom: 84px;
    }

    .articles .user-article_image {
        max-height: 580px;
    }

    .articles .user-article_image img {
        height: 580px;
    }

    .article-type_2 {
        display: flex;
        justify-content: space-between;
        background: linear-gradient(270deg, #FFFDFA 0%, #FFEED1 42.27%);
    }

    .article-type_2 .user-article_image {
        max-height: 449px;
        max-width: 708px;
    }

    .article-type_2 .user-article_image img {
        height: 449px;
    }

    .article-type_2 .user-article_text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 418px;
        width: 100%;
        text-align: left;
    }

    .article-type_2 .user-article_text h3 {
        text-align: center;
    }

    .article-others {
        padding: 20px 0 0 22px;
        text-align: left;
    }

    .article-type_2 .article-others {
        text-align: center;
    }

    .article-type_2:nth-child(2n+1) .user-article_image {
        order: 2;
    }

    .article-type_2:nth-child(2n+1) {
        background: linear-gradient(270deg, #FFEED1 57.49%, #FFFDFA 100%);
    }

    .main-slider__navigation {
        display: flex;
    }

    .default-wrapper {
        padding-top: 10px;
    }

    .slider-box-nav {
        padding-top: 57px;
    }

    .slider {
        margin-bottom: 66px;
    }

    .slider-dots {
        display: none;
    }

    .slider p {
        margin-bottom: 23px;
    }

    .slider .section-title {
        margin-bottom: 27px;
    }

    .slider-wrapper {
        position: relative;
        z-index: 1;
    }

    .main-slider__item {
        max-width: 890px;
        max-height: 590px;
        height: 590px;
        border-radius: 16px;
    }

    .main-slider {
        max-width: 888px;
        overflow: hidden;
        margin: auto;
        width: 100%;
    }

    .review-box__block {
        padding: 16px 28px 16px 28px;
    }

    .reviews-box__info {
        font-size: 15px;
        margin-bottom: 16px;
    }

    .review-form input#email {
        width: 91%;
    }

    .review-controls__rating i {
        font-size: 25px;
    }

    .reviews-rating {
        gap: 0 7px;
    }

    .comment-box {
        padding: 18px 24px 20px 24px;
    }

    .popup {
        padding: 63px 18px 14px 18px;
        max-width: 698px;
    }

    .close_button_popup {
        top: 12px !important;
        right: 18px !important;
    }

    .default.articles-box {
        padding-top: 30px;
    }

    .reviews-box__wrapper {
        padding-top: 30px;
    }

        /* forum page */ 
    
        .forum-topic__block {
            max-width: 1160px;
        }
    
        .topic__head {
            padding: 10px 28px 12px 28px;
        }
                            
        .topic__content {
            padding: 12px 18px;
        }
    
        .topic__message {
            padding: 10px 18px 12px 38px;
        }



     /* contacts page */ 

     body.contacts-page .main-menu {
        margin-top: 44px;
        margin-bottom: 44px;
    }

    .contacts-block .title {
        margin-bottom: 47px;
    }

    .contact__box {
        padding: 14px 22px;
        border-radius: 16px;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
    }

    .contact__box .section-title {
        margin-bottom: 10px;
    }

    .contact_note {
        padding: 30px 0 37px 0;
    }
    
    .note__text {
        font-size: 20px;
        margin-bottom: 22px;
    }

    .block__title {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .dwnld_links {
        gap: 10px 0;
        padding-top: 10px;
    }

}