/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');


@font-face {
    font-family: 'icons';
    src: url('../fonts/icons.eot?93zmug');
    src: url('../fonts/icons.eot?93zmug#iefix') format('embedded-opentype'),
        url('../fonts/icons.ttf?93zmug') format('truetype'),
        url('../fonts/icons.woff?93zmug') format('woff'),
        url('../fonts/icons.svg?93zmug#icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i {
    font-family: 'icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_left:before {
    content: "\e900";
    color: #000;
}

.icon-arrow_right:before {
    content: "\e901";
    color: #000;
}

.icon-button_hearth_icon:before {
    content: "\e902";
    color: #fff;
}

.icon-hearth_icon:before {
    content: "\e903";
    color: #ff616e;
}

.icon-like_icon:before {
    content: "\e904";
    color: #01c241;
}

.icon-star_default_icon:before {
    content: "\e905";
    /* color: #d8d8d8; */
}

.icon-telegram_icon .path1:before {
    content: "\e906";
    color: rgb(0, 136, 204);
}

.icon-telegram_icon .path2:before {
    content: "\e907";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-telegram_icon .path3:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-union_icon:before {
    content: "\e909";
}

.icon-video_icon:before {
    content: "\e90a";
}


*,
*::after,
*::before {
    box-sizing: border-box;
}


body,
h1,
h2,
h3,
h4,
h5,
p,
ul {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

body {
    min-height: 100vh;
}

input,
button,
textarea,
select {
    font: inherit;
}


html,
body {
    scroll-behavior: smooth;
}



/* checkbox */


.custom-checkbox {
    max-width: 100%;
    display: flex;
    align-items: center;
}

.checkbox {
    margin-bottom: 0.2em;
}

.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    color: #000000;
    font-size: 15px;
}

.custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    background-image: url("../img/check_box.svg");
    color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    transition: all .2s linear;
    margin-right: 8px;
}

.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
    cursor: pointer;
    border-color: #00C241;
}

.custom-checkbox>input:not(:disabled):active+span::before {
    border: 1px solid rgba(255, 255, 255, 0.2);
}


.custom-checkbox>input:focus:not(:checked)+span::before {
    border-color: #00C241;
}

.custom-checkbox>input:checked+span::before {
    background-image: url('../img/check_box_checked.svg');
    transition: all .2s linear;
}

.custom-checkbox>input:checked .span::before {
    -webkit-box-shadow: 0px 0px 0px 2px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0);
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0);
}

.custom-checkbox>input:disabled+span::before {
    background-color: #e9ecef;
}


.custom-checkbox.vote_checkbox>span {
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.custom-checkbox.vote_checkbox>span {
    font-size: 17px;
    font-weight: 400;
}


.custom-checkbox.vote_checkbox>span::before {
    margin-right: 0;
}

.custom-checkbox.vote_checkbox>span::before {
    background-image: url("../img/check_box_black.svg");
}

textarea.review_message {
    height: 105px;
}

h1,
h2,
h3 {
    color: #1C1C1C;
}

h1,
h2 {
    position: relative;
    padding-left: 22px;
}

h1::after,
h2::after {
    position: absolute;
    content: '§';
    left: 0;
    top: 0;
    color: #478080;
}


input[type=range] {
    height: 4px;
    -webkit-appearance: none;
    pointer-events: none;
}

input[type=range].vote-count {
    height: 7px;
}

/*progress support*/
input[type=range].rating-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(var(--ratio) * 100%);
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 4px;
    visibility: hidden;
}

input[type=range].vote-count::-webkit-slider-thumb {
    height: 7px;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    border: none;
    border-radius: 6px;
    background: #efefef;
    box-shadow: none;
}

input[type=range].vote-count::-webkit-slider-runnable-track {
    height: 7px;
    background: #fff;
}

input[type=range].rating-progress::-webkit-slider-runnable-track {
    background: linear-gradient(#00C241, #00C241) 0/var(--sx) 100% no-repeat, #efefef;
}

input[type=range].vote-count::-webkit-slider-runnable-track {
    background: linear-gradient(#00C241, #00C241) 0/var(--sx) 100% no-repeat, #fff;
}


/*mozilla*/
input[type=range]::-moz-range-thumb {
    width: 0;
    height: 4px;
    visibility: hidden;
}

input[type=range].vote-count::-moz-range-thumb {
    height: 7px;
}


input[type=range]::-moz-range-track {
    height: 4px;
    border: none;
    border-radius: 6px;
    background: #efefef;
    box-shadow: none;
}

input[type=range].vote-count::-moz-range-track {
    height: 7px;
    background: #fff;
}


input[type=range].rating-progress::-moz-range-track {
    background: linear-gradient(#00C241, #00C241) 0/var(--sx) 100% no-repeat, #efefef;
}

input[type=range].vote-count::-moz-range-track {
    background: linear-gradient(#00C241, #00C241) 0/var(--sx) 100% no-repeat, #fff;
}


/*ms*/
input[type=range]::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
}

input[type=range]::-ms-thumb {
    width: 0;
    height: 0;
    border-radius: 1em;
    background: #FFFFFF;
    border: none;
    box-shadow: none;
    margin-top: 0;
    box-sizing: border-box;
}

input[type=range]::-ms-track {
    height: 4px;
    border-radius: 6px;
    background: #efefef;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
}

input[type=range].vote-count::-ms-track {
    height: 7px;
    background: #fff;
}


input[type=range].rating-progress::-ms-fill-lower {
    height: 4px;
    border-radius: 6px 0 0 6px;
    margin: 0;
    background: #00C241;
    border: none;
    border-right-width: 0;
}

input[type=range].vote-count::-ms-fill-lower {
    height: 7px;
    transition: all .5s linear;
}

input:focus,
textarea:focus {
    background-size: 100% 100%, 100% 100%;
    transition-duration: 0.3s;
    /* box-shadow: none; */
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 158, 108, 1);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0, 158, 108, 1);
    box-shadow: 0px 0px 0px 1px rgba(0, 158, 108, 1);
    outline: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    color: #a5a5a5;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    color: #a5a5a5;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    color: #a5a5a5;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    color: #a5a5a5;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px 10px 9px;
    background: #F7F7F7;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #969696;
}

textarea {
    width: 100%;
    resize: none;
}


.title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 2px;
}

a {
    color: #009E6C;
}

p {
    font-size: 19px;
    line-height: 1.5;
}

.section-title {
    font-size: 25px;
}

h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

ul {
    padding: 0 0 0 35px;
    line-height: 1.5;
}

.button {
    display: inline-flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    border-radius: 24px;
    font-weight: 400;
    background: #009E6C;
    padding: 10px 45px;
    /* transition: all .2s linear; */
    border: 0;
}

.button.tap {
    background: linear-gradient(90deg, #048F5F 0%, #048F5F 100%) !important;
    /* background: #048F5F !important; */
}

button.button.butph.tap {
    transform: scale(0.98);
    transition: all 1.5s linear;
}


/* .button:hover {
    background: #03B57C;
    transition: all .2s linear;
} */

.button.grd {
    position: relative;
    font-weight: 400;
    gap: 0 5px;
    padding: 13px 26px 13px 26px;
    border-radius: 38px;
    overflow: hidden;
    background: linear-gradient(90deg, #048F5F 0%, #03B57C 100%);
    z-index: 1;
}

/* .button.grd:hover {
    cursor: pointer;
}

  .button.grd::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #03B57C 0%, #03B57C 100%);
    z-index: -1;
    transition: opacity .3s linear;
    opacity: 0;
  }

  .button.grd:hover::before {
    opacity: 1;
  } */

.button.butph {
    position: relative;
    padding: 5px 25px 5px 7px;
    background: linear-gradient(90deg, #03B57C 0%, #048F5F 100%);
    box-shadow: 0px 3px 5px rgba(0, 41, 28, 0.3);
    border-radius: 38px;
    gap: 0 6px;
    box-shadow: 0px 3px 5px rgba(0, 41, 28, 0.3);
    overflow: hidden;
    z-index: 1;
}

/* .button.butph:hover {
    cursor: pointer;
} */

/* .button.butph::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #03B57C 0%, #03B57C 100%);
    z-index: -1;
    transition: opacity .3s linear;
    opacity: 0;
  }

  .button.butph:hover::before {
    opacity: 1;
  } */


.button.butph .butph-photo {
    margin-right: 2px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.btn_button {
    outline: 0;
    border: none;
    background: #BFBFBF;
    border-radius: 24px;
    padding: 8px 32px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
}

/* .btn_button:hover {
    cursor: pointer;
    background: #009E6C;
    border-radius: 24px;
} */



body {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
    min-width: 360px;
    overflow-x: hidden;
    position: relative;
    line-height: normal;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 90%, rgba(244, 248, 251, 1) 100%);
}


.container {
    max-width: 360px;
    padding: 10px;
    width: 100%;
    margin: auto;
}


/* header */


header {
    position: relative;
    width: 100%;
    border-radius: 18px;
    overflow: hidden;
    padding: 26px 14px 16px 14px;
    background: linear-gradient(180deg, rgba(80, 145, 145, 1) 0%, rgba(208, 235, 235, 1) 100%);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.36);
    margin-bottom: 20px;
    z-index: 0;
}

header::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url('../img/pattern_mobile.png') no-repeat;
    background-position: 100% -30px;
    z-index: -1;
    background-size: contain;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.user-photo {
    position: relative;
    max-width: 126px;
    max-height: 126px;
    border: 5px solid #4A8787;
    border-radius: 50%;
    margin-bottom: 4px;
}


.user-photo img {
    position: relative;
    width: 116px;
    height: 116px;
    border-radius: 50%;
    object-fit: cover;
}


.user-photo_outline {
    position: relative;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 245, 139, 1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 245, 139, 1);
    box-shadow: 0px 0px 4px 0px rgba(0, 245, 139, 1);
    border-radius: 50%;

    /* animation: pulse 5s infinite; */
}


.rating_stars_vector {
    width: 118px;
    height: 20px;
}

/* анимация внутрь */
/* .user-photo_outline::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 2px solid rgb(0 245 139);
    -webkit-box-shadow: 0px 0px 4px 0px rgb(0 245 139)  inset;
    -moz-box-shadow: 0px 0px 4px 0px rgb(0 245 139)  inset;
    box-shadow: 0px 0px 4px 0px rgb(0 245 139) inset;
    border-radius: 50%;

    animation: pulse_2 1.5s ease-in-out infinite;
} */


/* .user-photo_outline::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    border: 2px solid rgb(0 245 139);
    -webkit-box-shadow: 0px 0px 4px 0px rgb(0 245 139)  inset;
    -moz-box-shadow: 0px 0px 4px 0px rgb(0 245 139)  inset;
    box-shadow: 0px 0px 4px 0px rgb(0 245 139) inset;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    animation: pulse_2 1.5s ease-in-out infinite;
} */


.user-photo_outline::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    background: rgb(0 245 139);
    -webkit-box-shadow: 0px 0px 4px 0px rgb(0 245 139);
    -moz-box-shadow: 0px 0px 4px 0px rgb(0 245 139);
    box-shadow: 0px 0px 4px 0px rgb(0 245 139);
    border-radius: 50%;
    transform: translate(-50%, -50%);

    animation: pulse 1.5s ease-in-out infinite;
}




.user-photo_like {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);

    animation: pulse_hearth 1.5s linear infinite;
}

.user-photo_like svg {
    width: 28px;
    height: 24px;
}


.user-status {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 0 3.5px;
    margin-bottom: 6px;
}

.status_indicator {
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.status_indicator.online {
    background: #00F58B;
}

.status_indicator.offline {
    background: #d40000;
}

.user-name {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.5));
    margin-bottom: 25px;
}


.user-rating {
    width: 100%;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.36);
    padding: 12px 12px 10px 12px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}

.user-rating_line-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.user-rating_percent {
    line-height: 0;
    display: block;
    max-width: 70px;
}

.user-rating_percent i {
    font-size: 14px;
}

.user-rating_percent .percent_count {
    color: #00C241;
}

.user-rating_reviews {
    color: #000;
}


/* .user-rating_end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 170px;
} */

.user-rating_end {
    display: flex;
    align-items: center;
    gap: 0 10px;
}


.user-rating_score {
    padding: 2px 10px;
    border-radius: 4px;
    background: #00BD3F;
    color: #fff;
    font-size: 15px;
}

.user-rating_stars i {
    color: #F7C70A;
    font-size: 20px;
    line-height: 1.2;
}


.user-rating_line {
    width: 100%;
    border-radius: 6px;
    margin: 0 0 7px 0;
    padding: 0;
}


.user-buttons {
    width: 100%;
    padding: 0 14px 0 18px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.link_button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #16517E;
    gap: 0 2px;
}

.link_button i {
    color: #16517E;
    font-size: 15px;
    line-height: 0;
}


/* user others */

.user-others {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px 0;
    margin-bottom: 20px;
}

.user-note {
    padding: 4px 10px 6px 10px;
    background: linear-gradient(90deg, rgba(255, 251, 235, 1) 0%, rgba(255, 255, 255, 1) 100%);
    border-left: 2px solid #009E6C;
    max-width: 960px;
    width: 100%;
    margin: auto;
}

.user-note a {
    color: #009E6C;
}



/* user article */


.user-article ul {
    padding: 0 0 0 22px;
}

.user-article {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    /* background: linear-gradient(180deg, #FFD9A8 18.33%, rgba(255, 213, 158, 0) 30.18%), radial-gradient(75.35% 89.81% at 50% 16.76%, #FFF4C2 19.79%, rgba(255, 241, 179, 0) 100%), #FFFFFF; */
    background: linear-gradient(180deg, #FFD9A8 18.33%, rgba(255, 217, 168, 0) 30.18%), radial-gradient(57.35% 89.81% at 50% 16.76%, #FFF4C2 19.79%, rgba(255, 241, 179, 0) 100%), #FFFFF5;
    box-shadow: 0px 0px 10px rgb(56 36 0 / 45%);
    margin-bottom: 57px;
    padding-bottom: 12px;
}

.user-article_image {
    max-height: 196px;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

.user-article_image img {
    width: 100%;
    height: 196px;
    object-fit: cover;
    object-position: top;
}

.user-article_text {
    padding: 4px 12px 0 12px;
}

.article-type_2 .user-article_text {
    padding: 4px 12px 14px 12px;
}

/* main menu */


.main-menu {
    width: 100%;
    background: #F0F6FA;
    padding: 14px 10px 18px 10px;
    margin-bottom: 20px;
}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 18px 0;
}

.menu-item {
    font-size: 19px;
    font-weight: 500;
}

.menu-item a {
    color: #16517E;
    text-decoration: none;
    border-bottom: 1px dashed;
}

/* reviews */

.reviews {
    margin-bottom: 30px;
}

.reviews-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 0;
    padding: 50px 0 0 0;
}

.review-item {
    display: block;
    text-decoration: none;
    max-width: 368px;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    background: #404040;
    font-size: 15px;
}

.review_controls {
    width: 100%;
    display: flex;
    justify-content: center;
}


.review-item:nth-child(n+3) {
    display: none;
}

@media (min-width: 1215px) {

    .review-item:nth-child(n+3) {
        display: block;
    }

    .review-item:nth-child(n+4) {
        display: none;
    }
}

.button.show_all_reviews {
    margin: auto;
}

.review-item__content {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    border-radius: 12px;
    overflow: hidden;
    background: #9D6A45;
}

.review-item__content iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

.review-item__info {
    padding: 8px 25px 8px 25px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}


.reveiw-item:nth-child(2) .review-item__content {
    background: #995252;
}

.controls {
    width: 100%;
    text-align: center;
    padding: 4px 0 0 0;
}


/* vote */

.vote {
    margin-bottom: 20px;
}

.vote-wrapper {
    position: relative;
    padding: 16px 10px 8px 10px;
    background: linear-gradient(180deg, #EFF6F6 0%, #B3D5D5 100%);
    border: 1px solid #478080;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    margin-bottom: 30px;
}

.vote-menu {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vote-menu:hover {
    cursor: pointer;
}

.vote-menu:hover svg circle {
    fill: #000;
}

.vote-title {
    text-align: center;
}

.vote-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.75);
}

.vote-question {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
}

.vote-count {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    margin: 0;
}


.vote-number {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 2px;
}

.current-vote {
    color: #009E6C;
}

.vote-variants {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
}

.vote-variant {
    position: relative;
    background: rgba(71, 128, 128, 0.15);
    border-radius: 4px;
    padding: 8px;
    font-weight: 400;
    font-size: 17px;
    overflow: hidden;
    z-index: 0;
    line-height: 22px;
    transition: all .2s ease-in-out;
}

.vote-variant.pool_checked {
    position: relative;
}



.vote-variant .vote-variant_result {
    position: absolute;
    content: '';
    width: 0%;
    opacity: 0;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(116, 116, 116, 0.14);
    z-index: -1;
    transition: all .3s linear;
}

.vote-variant .vote-variant__counts {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    padding-right: 7px;
    font-weight: 500;
    opacity: 0;
    transition: all .3s linear;
}


.vote-variant:hover {
    cursor: pointer;
    background: rgba(71, 128, 128, 0.45);
}

.vote-variants.this-vote_end .vote-variant:hover {
    pointer-events: none;
    cursor: default;
    background: rgba(71, 128, 128, 0.15);
}

.vote-variants .next-vote {
    display: none;
    margin: auto;
}

.vote_2,
.vote_3,
.vote_4,
.vote_5,
.vote_6,
.vote_last_step {
    display: none;
}

.vote_7.vote__item.vote_last_step .last_vote_controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
}

/* 
.vote-variant__checkbox {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
} */

.selected_var {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.82) inset;
    -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.82) inset;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.82) inset;
    background: rgba(71, 128, 128, 0.45);
}

.vote-variants.this_finish {
    pointer-events: none;
}

.vote-variants.this_finish .button.next-vote {
    pointer-events: all;
}

.vote-variant__checkbox {
    position: relative;
    z-index: 1;
    display: flex;
    margin: -8px;
    justify-content: space-between;
    align-items: center;
}

.vote-variant__checkbox label:hover {
    cursor: pointer;
}

.vote-variant__checkbox label {
    width: 100%;
    padding: 8px;
}


.vote__item.last__question .end_vote {
    display: block;
    margin: auto;
}

.vote-whois {
    padding-top: 8px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.75);
}


.subvote-wrapper {
    padding: 0px 10px 8px 14px;
    border-left: 2px solid #009E6C;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.subvote-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 14px;
    font-size: 19px;
    line-height: 1;
}

.subvote-list_item {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 14px;
}

.subvote-list a {
    color: #203F57;
    text-decoration: none;
    border-bottom: 1px dashed #203F57;
}

.subvote-list_parent {
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 14px;
}


/* cards */


.cards {
    margin-bottom: 50px;
}

.cards .section-title {
    margin-bottom: 40px;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 14px 0;
    justify-content: space-between;
    padding-top: 45px;
}


.card-item {
    position: relative;
    max-width: 360px;
    max-height: 312px;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
}


.card-image {
    max-width: 360px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-info {
    position: absolute;
    bottom: 18px;
    padding: 0 10px;
    text-align: center;
    color: #fff;
}

.card-text {
    font-size: 16px;
    margin-bottom: 8px;
}


.card-name {
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
}


/* articles */


.articles {
    margin-bottom: 60px;
}

.articles .section-title {
    margin-bottom: 46px;
}

.articles-wrapper {}

.articles .user-article_image {
    max-height: 213px;
}

.articles .user-article_image img {
    height: 213px;
}

.articles .user-article_text {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
}

.article-others {
    padding: 12px 16px 0 16px;
    text-align: center;
}

.user-article.article-type_2 {
    padding-bottom: 0;
}

/* default */

.default .section-title {
    margin-bottom: 7px;
}

.default-wrapper {
    padding-top: 85px;
}

.default .user-article {
    margin-bottom: 37px;
}



/* info */

.info-text {
    margin-bottom: 70px;
}

.info-text p {
    margin-bottom: 10px;
}

.info-text__wrapper {
    padding-top: 7px;
}


/* slider */


.slider {
    margin-bottom: 20px;
}



.slider-wrapper {
    overflow: hidden;
}

.main-slider {
    padding-top: 50px;
}

.main-slider__navigation {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    /* display: flex; */
    width: 100%;
    justify-content: space-between;
    z-index: 0;
}

.main-slider__navigation {
    display: none;
}


.slide-prev svg path,
.slide-next svg path {
    transition: all .2s linear;
}

.slide-prev.swiper-button-disabled svg path,
.slide-next.swiper-button-disabled svg path {
    fill: #bbbbbb;
}

.slide-next:hover svg path,
.slide-prev:hover svg path {
    cursor: pointer;
    fill: #009E6C;
    transition: all .2s linear;
}


.main-slider__item {
    max-width: 308px;
    max-height: 308px;
    width: 100%;
    height: 308px;
    overflow: hidden;
    border-radius: 12px;
}

.main-slider__item img {
    height: 100%;
    object-fit: cover;
}

.slider-dots {
    display: flex;
    justify-content: center;
    padding: 16px 0;
}

.swiper-pagination-bullet {
    background: #D9D9D9;
    width: 14px;
    height: 14px;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #505050;
}


/* review box */


.reviews-box {
    padding-top: 50px;
}

.reviews-box__wrapper {
    padding-top: 33px;
}

.review-box__block {
    padding: 10px 10px 14px 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.reviews-box__info {
    padding: 8px;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    background: #F0F6FA;
    border-radius: 8px;
    margin-bottom: 14px;
}


.review-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 14px 0;
}

.review-form input#name,
.review-form input#lastname {
    width: 48%;
}

.review-form input#email {
    width: 76.5%;
}

.choose-photo {
    width: 46px;
    position: relative;
    display: flex;
}

input#choose {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 0;
    opacity: 0;
}

.choose-photo__icon-img {
    border-radius: 50%;
    transition: all .3s linear;
}

.choose-photo__input-label:hover {
    cursor: pointer;
}

.choose-photo__input-label:hover .choose-photo__icon-img {
    filter: drop-shadow(0px 0px 1px black);
    transition: all .3s linear;
}

.choose-photo__input-label {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 46px;
    height: 46px;
}

.review-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}


.review-controls__publishbox {
    display: flex;
    align-items: center;
    font-weight: 600;
}


.rating-item {
    color: #F7C70A;
    border: 2px solid #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* .review-controls__rating {
    display: flex;
    gap: 0 5px;
} */

.review-controls__rating {
    display: flex;
    width: 118px;
    height: 20px;
    font-size: 18px;
    gap: 4px;
    margin-bottom: 4px;
}

.review-controls__ratingbox span {
    font-weight: 600;
}


.rating-item.active~.rating-item {
    color: #D8D8D8;
}

.review-controls__rating:hover .rating-item {
    color: #F7C70A;
}

.rating-item:hover~.rating-item {
    color: #D8D8D8;
}


#add_review {
    margin: 0 0 0 auto;
}


/* reviews list */

.reviews-list {

    padding-top: 14px;
}


/* .reviews-list__stat {
    max-width: 187px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 14px;
} */

.reviews-list__stat {
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 14px;
}


.reviews-rating {
    max-width: 100%;
    width: 100%;
    margin-bottom: 8px;
}


.reviews-list__counts {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}



.comment-box {
    display: flex;
    flex-direction: column;
    padding: 12px 12px 14px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    gap: 10px 0;
    margin-bottom: 16px;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}


.review-block__top {
    display: flex;
    align-items: center;
    gap: 0 14px;
}

.review-block__photo {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}

.review-block__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px 0;
}

.review-block__fio {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}


.review-block__info-att {
    display: flex;
    gap: 0 13px;
    align-items: center;
}


.review-block__rating {
    font-size: 14px;
    color: #F7C70A;
}

.review-block__date {
    font-size: 13px;
    line-height: 16px;
    color: #969696;
}

.review-block__text {
    font-weight: 400;
    line-height: 22px;
    color: #000000;
}

.review-block__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.reply-review__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #28659F;
}

.reply-review__link:hover {
    color: #3C76A6;
}


.review-block__like {
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 0 4px;
}

.review-block__like svg {
    height: 18px;
    width: 21px;
}

.review-block__like svg:hover {
    fill: #ED4A4A;
    cursor: pointer;
}


.review-block__like svg:hover path {
    stroke: #ED4A4A;
}


.like_btn {
    border: 0;
    background: url('../img/like_icon.svg') no-repeat;
    width: 21px;
    height: 18px;
    transition: all .2s linear;
    background-size: contain;
}


.like_btn.liked {
    background: url('../img/like_icon_liked.svg') no-repeat;
    transition: all .2s linear;
}

.like_btn:hover {
    cursor: pointer;
    background: url('../img/like_icon_liked.svg') no-repeat;
    transition: all .2s linear;
}



.like-count {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #8E8E8E;
}


.commnet-children>.comment {
    padding-left: 14px;
    border-left: 1px solid rgba(0, 0, 0, 0.18);
}

.commnet-children>.commnet-children {
    margin-left: 14px;
}

.commnet-children>.comment:not(:last-child) {
    margin-bottom: 16px;
}




/* loader */

.form-sended__loading {
    width: 150px;
    display: none;
    padding: 30px 0;
    text-align: center;
    margin: auto;
}

.loader-counter {
    padding-top: 16px;
    font-weight: 600;
}

#form-sended__message {
    display: none;
    width: 100%;
    text-align: center;
}

#loader {
    z-index: 1;
    border: 8px solid #9E9E9E;
    border-radius: 50%;
    border-top: 8px solid #000000;
    width: 138px;
    height: 138px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}



@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse_2 {
    0% {
        -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 245, 139, 0) inset;
        -moz-box-shadow: 0px 0px 4px 0px rgba(0, 245, 139, 0) inset;
        box-shadow: 0px 0px 4px 0px rgba(0, 245, 139, 0) inset;
        opacity: 0;
    }

    20% {
        -webkit-box-shadow: 0px 0px 4px 0px rgb(0 245 139) inset;
        -moz-box-shadow: 0px 0px 4px 0px rgb(0 245 139) inset;
        box-shadow: 0px 0px 4px 0px rgb(0 245 139) inset;
        opacity: 1;
    }

    100% {
        -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 245, 139, 0) inset;
        -moz-box-shadow: 0px 0px 4px 0px rgba(0, 245, 139, 0) inset;
        box-shadow: 0px 0px 4px 0px rgba(0, 245, 139, 0) inset;
        opacity: 0;
    }

}



@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(0.9);
        -webkit-box-shadow: 0px 0px 0px 0px rgb(0 245 139);
        -moz-box-shadow: 0px 0px 0px 0px rgb(0 245 139);
        box-shadow: 0px 0px 0px 0px rgb(0 245 139);
        opacity: 0;
    }

    20% {
        transform: translate(-50%, -50%) scale(1.02);
        -webkit-box-shadow: 0px 0px 4px 0px rgb(0 245 139);
        -moz-box-shadow: 0px 0px 4px 0px rgb(0 245 139);
        box-shadow: 0px 0px 4px 0px rgb(0 245 139);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(1.02);
        -webkit-box-shadow: 0px 0px 0px 0px rgb(0 245 139);
        -moz-box-shadow: 0px 0px 0px 0px rgb(0 245 139);
        box-shadow: 0px 0px 0px 0px rgb(0 245 139);
        opacity: 0;
    }

}





@keyframes pulse_hearth {
    0% {
        transform: translate(-50%, 0) scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(-50%, 0) scale(1.2);
        opacity: 0;
    }
}