html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    color: #141414;
}

body {
    position: relative;
    font-size: 16px;
    background-color: #eeeeee;
    background: url(../img/bg.png) repeat-y;
    background-size: cover;


}

.header {
    top: -56px;
    text-align: center;
    opacity: 0;
    transition: top 1s;
}

.header.fixed {
    
    width: 100%;
    position: fixed;
    top: 0;
    opacity: 1;
}



svg {
    position: fixed;
    z-index: -1;
    max-width: 1280px;
    width: 100%;

    display: block;
    left: -15.625rem;
    top: -17.5rem;
    transform: rotate(-20deg);
    opacity: 6%;

    animation-name: rotation;
    animation-duration: 240s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


#home {
	overflow: hidden;
	bottom: 56px;
	position: relative;
}


#about, #portfolio, #contacts {
    padding-top: 100px;
    /* margin-bottom: 60px; */

}

@font-face {
    font-family: Southern Aire Personal Use Only;
    /* Имя шрифта */
    src: url(../fonts/19944.ttf);
    /* Путь к файлу со шрифтом */
}



* {
    box-sizing: border-box;
}


*,
p {
    margin: 0;
    padding: 0;
}

span {
    display: inline-block;
}

span:first-letter {
    color: red;
}


.row {
    height: 100vh;
}


.welcome {
    /*text-align: center;*/
    font-family: Southern Aire Personal Use Only;
    font-size: 8em;

    -webkit-animation: pulse 15s infinite;
    /* Safari 4+ */
    -moz-animation: pulse 15s infinite;
    /* Fx 5+ */
    -o-animation: pulse 15s infinite;
    /* Opera 12+ */
    animation: pulse 15s infinite;
    /* IE 10+, Fx 29+ */

    width: 60%;
    margin: 0 auto;

}


.subtitle {
    text-transform: uppercase;

    -webkit-animation: pulse 25s infinite;
    /* Safari 4+ */
    -moz-animation: pulse 25s infinite;
    /* Fx 5+ */
    -o-animation: pulse 25s infinite;
    /* Opera 12+ */
    animation: pulse 25s infinite;
    /* IE 10+, Fx 29+ */
}


.fixed-bottom {
    bottom: 50px;
}


.arrow-8 {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    /* margin: 30px auto 80px auto; */
    margin: 0 auto;
}

.arrow-8:before,
.arrow-8:after {
    display: block;
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* border-left: 26px solid #337AB7;
    border-bottom: 26px solid #337AB7; */
    border-left: 12px solid #ff0000;
    border-bottom: 12px solid #ff0000;
    animation: arrow-8 3s linear infinite;
}

.arrow-8:after {
    animation: arrow-8 3s linear infinite -1.5s;
}


@keyframes arrow-8 {
    0% {
        opacity: 0;
        transform: translate(0, -53px) rotate(-45deg);
    }

    10%,
    90% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translate(0, 0) rotate(-45deg);
    }

    100% {
        opacity: 0;
        transform: translate(0, 53px) rotate(-45deg);
    }
}

#to-about {
    position: relative;
    bottom: -120px;
}


.bg-red {
    background-color: #ff000026 !important;
}

.offset-top {
    position: relative;
    display: block;
    top: 56px;
}



/* animations */

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(720deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.spin-wrapper {
    position: relative;
    width: 100%;
    height: 30vh;
    /*background: #080705;*/
}
.spin-wrapper .spinner {
    position: absolute;
    height: 60px;
    width: 60px;
    border: 3px solid transparent;
    border-top-color: #a04668;
    top: 50%;
    left: 50%;
    margin: -30px;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}
.spin-wrapper .spinner:before, .spin-wrapper .spinner:after {
    content: '';
    position: absolute;
    border: 3px solid transparent;
    border-radius: 50%;
}
.spin-wrapper .spinner:before {
    border-top-color: #254e70;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    animation: spin 3s linear infinite;
}
.spin-wrapper .spinner:after {
    border-top-color: #fffbfe;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    animation: spin 4s linear infinite;
}

  
  @keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }

  /*------*/


  