.hidden-search {
	display: none !important;
}


li[data-parent].closed {
	display: none !important;
}

li[data-parent].open:not(.hidden-search) {
	display: block !important;
}

.vsb-menu {
    cursor: pointer;
    z-index: 1000;
    display: block;
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    background-clip: padding-box;
    /* border: none; */
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    border-radius: 4px;
    font-size: 11px;
    bottom: 55px;
    max-height: 250px;
    max-width: none;
    width: 100%;
    overflow-y: scroll;
}

@media (max-width: 1440px) {

	.vsb-menu {
		max-width: 230px;
		width: 100%;
		overflow-y: scroll;
	}

}

.vsb-js-search-zone {
	position: absolute;
	z-index: 1001;
	width: 80%;
	min-height: 1.8em;
	padding: 2px;
	background-color: #fff;
}

.vsb-js-search-zone input {
	border: 1px solid grey;
	margin-left: 2px;
	width: 96%;
	border-radius: 4px;
	height: 25px !important;
}

.vsb-main {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	width: 100%;
}

.vsb-menu li:hover {
	background: linear-gradient(#f5f5f5, #e8e8e8);
}

.vsb-menu ul {
	user-select: none;
	list-style: none;
	white-space: nowrap;
	margin: 0px;
	margin-top: 4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 3px;
	color: #333;
	cursor: pointer;
}

li.disabled {
	cursor: not-allowed;
	opacity: 0.3;
	background-color: #999;
}

li.overflow {
	cursor: not-allowed;
	opacity: 0.3;
	background-color: #999;
}

li.short {
	overflow: hidden;
	text-overflow: ellipsis;
}

.vsb-main button {
    max-width: none;
    border-radius: 8px;
    width: 100%;
    text-align: left;
    z-index: 1;
    color: #1f1f1f;
    background: white !important;
    border: 1px solid #d1d1d1 !important;
    line-height: 20px;
    font-size: 14px;
    padding: 6px 12px;
    min-height: 48px;
    max-height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.vsb-main button.disabled {
	cursor: not-allowed;
	opacity: 0.65;
}

.vsb-main .title {
    margin-right: 6px;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 234px;
}


@media (max-width: 1440px) {

	.vsb-main .title {
		margin-right: 6px;
		user-select: none;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 139px;
	}

}

.vsb-main li:hover {
	background: #f5f5f5;
}

.vsb-main ul {
	white-space: nowrap;
}

.vsb-menu li {
	font-size: 14px;
	background-color: #fff;
	min-height: 1.4em;
	padding: 0.2em 2em 0.2em 1em;
}

.vsb-menu li.grouped-option b {
	display: inline-block;
	font-size: 15px;
	margin-left: 10px;
	transform: translate(-18px);
}

.vsb-menu li.grouped-option.open span {
	display: inline-block;
	font-size: inherit;
	margin-top: -2px;
	height: 8px;
	width: 8px;
	transform: translate(-38px) rotate(45deg);
	border-bottom: 3px solid black;
	border-right: 3px solid black;
	border-radius: 2px;
}

.vsb-menu li.grouped-option.closed span {
	display: inline-block;
	font-size: inherit;
	height: 8px;
	width: 8px;
	transform: translate(-38px) rotate(-45deg);
	border-bottom: 3px solid black;
	border-right: 3px solid black;
	border-radius: 2px;
}

.vsb-menu li.grouped-option i {
	display: inline-block;
	font-size: inherit;
	float: left;
	font-weight: bold;
	margin-left: 22px;
	margin-right: 2px;
	height: 11px;
	width: 8px;
	border: 1px solid;
	border-radius: 3px;
	padding: 1px 3px 2px 3px;
	margin-top: 0px;
	color: black;
}

.vsb-menu li.grouped-option.checked i::after {
	content: "";
	display: inline-block;
	font-size: inherit;
	color: #333;
	float: left;
	margin-left: 0px;
	display: inline-block;
	transform: rotate(45deg);
	height: 8px;
	width: 5px;
	border-bottom: 3px solid black;
	border-right: 3px solid black;
}

.vsb-menu :not(.multi) li.active {
	margin-left: 7px;
}

.vsb-menu :not(.multi) li.active::before {
	content: "";
	display: inline-block;
	font-size: inherit;
	margin-left: -18px;
	transform: rotate(45deg);
	height: 10px;
	width: 5px;
	border-bottom: 3px solid black;
	border-right: 3px solid black;
	border-radius: 2px;
}

.vsb-menu .multi li {
    font-size: 12px;
    background-color: #fff;
    min-height: 1.4em;
    padding: 5px 16px 8px 26px;
    line-height: 22px;
    font-weight: 400;
	color: #151D33;
}

.vsb-menu .multi li.grouped-option {
	font-size: 15px;
	padding-left: 5px;
}


.vsb-menu .multi li.grouped-option:hover {
	font-weight: bold;
	text-decoration: underline;
	color: rgb(52, 31, 112);
}


.vsb-menu .multi li:not(.grouped-option)::before {
	content: "";
	display: inline-block;
	font-size: inherit;
	float: left;
	font-weight: normal;
	margin-left: -22px;
	margin-right: 5px;

	border-radius: 0;
	padding: 7px;
	margin-top: 3px;
	color: black;
	width: 16px;
	height: 16px;
	left: 0;
	border: 1px solid #ccc;
	transition: background-color .2s ease-in-out;
}


.vsb-menu .multi li:not(.grouped-option).active::after {
	display: inline-block;
	font-size: inherit;
	color: #333;
	float: left;
	margin-left: -22px;

	margin-top: 11px;


	background: url(../img/icons/check.svg) no-repeat center;
	background-color: #ff502f;
	background-size: 8px;
	border-color: #ff502f;


	content: '';
	width: 16px;
	height: 16px;

	top: 50%;
	transform: translateY(-50%);
	left: 0;
	/*border: 1px solid #ccc;*/
	transition: background-color .2s ease-in-out;

}


.vsb-menu .multi li:not(.grouped-option).active::after:hover {
	background: rgb(245, 125, 125);
	transition: all .3s linear;
}

span.caret::before {
    content: '';
    z-index: 9;
    top: calc(50% - 6px);
    right: 8px;
    height: 2px;
    width: 8px;
    position: absolute;
    pointer-events: none;
    background: #151d33;
    transform: rotate(-45deg);
    transition: all .2s ease-in-out;
    border: 0;
    margin: 0;
    transform-origin: 50% 50%;
}

span.caret::after {
    content: '';
    z-index: 9;
    top: calc(50% - 6px);
    right: 13px;
    height: 2px;
    width: 8px;
    position: absolute;
    pointer-events: none;
    background: #151d33;
    transform: rotate(45deg);
    transition: all .2s ease-in-out;
    border: 0;
    margin: 0!important;
    transform-origin: 50% 50%;
}

span.caret.is-opn::before {
    transform: rotate(45deg);
    background: #FF502F;
}

span.caret.is-opn::after {
    transform: rotate(-45deg);
    background: #FF502F;
}


li[data-parent] {
	padding-left: 50px !important;
}

.counter {
    background: #e6482a;
    padding: 5px;
    border-radius: 8px;
    width: 32px;
    text-align: center;
    color: white;
    margin-right: 27px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
}

.vsb-menu span.active, .vsb-menu span {
    color: #ff502f;
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
}

@media (max-width: 768px) {

    .vsb-main {
        width: 100%;
    }

    .vsb-menu {
        width: 100%;
        max-width: none;
    }

    .vsb-main .title {
        max-width: 650px;
        width: 100%;
    }
}