/* шрифты */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: Southern Aire Personal Use Only;
    src: url(../font/19944.ttf) format('truetype');
    font-weight: normal;
    font-style: normal
}



/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}


body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


::-webkit-scrollbar {
    width: 0;
}



body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    /* overflow-x: hidden; */

    overflow: auto;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.container {
    max-width: 610px;
    width: 100%;
    margin: 0 auto;
    /* height: 100vh;  */
    height: 100%;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.xl {
    max-width: 1200px;
}


.main {
    /* padding: 240px 0 80px 0; */
    position: relative;

    -moz-animation: wrapper 3s forwards;
    -webkit-animation: wrapper 3s forwards;
    -ms-animation: wrapper 3s forwards;
    animation: wrapper 3s forwards;
}


.title {
    color: #fff;
    margin-bottom: 22px;
}

.title h1 {
    font-family: Southern Aire Personal Use Only;
    font-size: 200px;
    line-height: 200px;

}

.title p {
    font-size: 18px;
    line-height: 21px;
    text-align: right;
}

.content {
    max-width: 610px;
    /* margin-left: 285px; */
    width: 100%;
}


.social {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: center;
    z-index: 3;

}


a.button-switch {
    margin: 0 0 10px 10px;
    display: flex;
    align-items: center;
    background: #f35f5a00;
    border-radius: 54px;
    overflow: hidden;
    color: #fff;
    max-width: fit-content;
    width: 57px;
    padding: 3px 15px 0 3px;
    transition: all .4s ease-in-out;
 
}

a.button-switch .button-svg {
    margin-right: 10px;
}

a.button-switch:hover {
    cursor: pointer;
    background: rgb(48 48 48 / 60%);
    width:100%;
    transition: all .4s ease-in-out;
}

a.button-switch:hover .button-svg{
    animation: .4s ease-out 0s normal none running flip;
  -webkit-animation: .4s ease-out 0s normal none running flip;
}

@keyframes flip {

    0% {
        transform: rotate3d(1, 0, 0, 0deg);
    }

    50% {
        transform: rotate3d(1, 0, 0, 180deg); 
    }

    100% {
        transform: rotate3d(1, 0, 0, 360deg);
    }
}

@-webkit-keyframes flip {

    0% {
        transform: rotate3d(1, 0, 0, 0deg);
    }

    50% {
        transform: rotate3d(1, 0, 0, 180deg); 
    }

    100% {
        transform: rotate3d(1, 0, 0, 360deg);
    }
}




@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


.other {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 10px;
}

.other a {
    margin: 0 0 10px 10px;
}


.web {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 12px;
    line-height: 14px;

    margin-bottom: 33px;

}

.button-svg-def path{
    fill: #ffffff;

    transition: all .4s ease-in-out;
}


.button-svg-def {
    margin-right: 5px;
}

.web a.button {
    display: flex;
    align-items: center;

    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

    margin-left: 20px;
    max-width: 145px;

    transition: all .4s ease-in-out;

}

.web a.button:hover {
    cursor: pointer;
    color: #3f3f3f;

    transition: all .4s ease-in-out;
}

.web a.button:hover .button-svg-def path{
    fill: #3f3f3f;

    transition: all .4s ease-in-out;
}

.links {
    font-size: 12px;
    line-height: 12px;

    display: flex;
    justify-content: right;
}


.links a {
    color: #3f3f3f;
    margin-left: 18px;
    transition: all .4s ease-in-out;
}

.links a:hover {
    color: #fff;
    text-decoration: underline;
    transition: all .4s ease-in-out;
}

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.footer a {
    color: #fff;
}


.new-video-stream {

    position: absolute;
    left: 0;
    top: 53%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    font-size: 24px;
    line-height: 22px;
    text-transform: uppercase;

    max-width: 234px;
    max-height: 130px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;

    background: rgb(0, 0, 0);
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.5));

    /* animation-name: swing;
    animation-duration: .5s;
    animation-delay: 5s;
    animation-iteration-count: 1; */

    -webkit-animation:hoverWave linear 1s infinite;
    animation:hoverWave linear 1s infinite;

    transition: all .4s ease-in-out;

    z-index: 0;

    opacity: .5;

}

.new-video-stream img.youtube-img {
    max-width: 234px;
    max-height: 130px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .4;
    z-index: -1;

    transition: all .4s ease-in-out;
}

.new-video-stream:hover {
    cursor: pointer;
    opacity: 1;
    -webkit-animation:hoverWave linear 1s;
    animation:hoverWave linear 1s;
    transition: all .4s ease-in-out;
}

.new-video-stream:hover h5.info{
    opacity: 0;
    transition: all .4s ease-in-out;
}

.new-video-stream:hover a.info_watch{
    opacity: 1;
    transition: all .4s ease-in-out;
}

.new-video-stream:hover img.youtube-img{
    opacity: .7;
    transition: all .4s ease-in-out;
}


.new-video-stream h5.info {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    transition: all .4s ease-in-out;
}

.new-video-stream a.info_watch {
    position: absolute;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    text-align: center;
    transition: all .4s ease-in-out;
}

.new-video-stream a.info_watch {
    opacity: 0;
    color: #fff;
    transition: all .4s ease-in-out;
}

/* modal */ 

h5.modal-title {
    font-size: 22px;
    line-height: 24px;
}

.modal-inner p {
    font-size: 16px;
    line-height: 20px;
    color: #1a1a1a;
}

form {
    margin-top: 20px;
}



 /* text field */
 .text-field {
    margin-bottom: 14px;
}

  .text-field__label {
    display: block;
    margin-bottom: 0.25rem;
  }

  .text-field__input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #282828;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

  .text-field__input[type="search"]::-webkit-search-decoration,
  .text-field__input[type="search"]::-webkit-search-cancel-button,
  .text-field__input[type="search"]::-webkit-search-results-button,
  .text-field__input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  .text-field__input::placeholder {
    color: #212529;
    opacity: 0.4;
  }

  .text-field__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
  }

  .text-field__input:disabled,
  .text-field__input[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
  }

  /* with floating label */
  .text-field_floating {
    position: relative;
  }

  .text-field_floating .text-field__input {
    height: 50px;
    line-height: 1;
    padding: 16px;
}

.text-field_floating .text-field__label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 16px;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .15s ease-in-out, transform .15s ease-in-out;
}

  .text-field_floating .text-field__input::-moz-placeholder {
    color: transparent;
  }

  .text-field_floating .text-field__input::placeholder {
    color: transparent;
  }

  .text-field_floating .text-field__input:focus,
  .text-field_floating .text-field__input:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: .625rem;
  }

  .text-field_floating .text-field__input:focus~.text-field__label,
  .text-field_floating .text-field__input:not(:placeholder-shown)~.text-field__label {
    opacity: .65;
    transform: scale(.85) translateY(-.75rem) translateX(.15rem);
  }


  button.button-form {
    background: rgba(22, 22, 22, 0.9);
    border-radius: 15px;
    overflow: hidden;
    color: #fff;
    max-width: fit-content;
    padding: 8px 0;
    max-width: 100px;
    width: 100%;
    text-align: center;
 
}


/* web */ 


h1.web-title {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

h4.tab {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    /* text-align: center; */
    margin-bottom: 50px;
}

.web-head {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 30px;
}

.web-icon {
    margin-bottom: 30px;
}

.web-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.web-side {

}

.web-content {
    max-width: 860px;
    width: 100%;
}

.portfolio-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-items .item {
    max-width: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    flex: 0 1 33.3333%;

    margin-bottom: 25px;
}

.portfolio-items .item img{
    object-fit: cover;
    margin: 0 0 15px 0;
    border-radius: 15px;
    max-width: 270px;
    width: 100%;
}

.portfolio-items .item p{
    color: #fff;
    line-height: 18px;
    text-align: center;
    margin-bottom: 15px;

    max-height: 54px;
    height: 54px;
    overflow: hidden;
    text-overflow: ellipsis;
}


a.button-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    /* background: #6c6c6c; */
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: .5;
}


.web-menu ul li {
    margin-bottom: 10px;
}

.web-menu ul li a{
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}