@media (max-width: 1140px) {
  body.active {
    padding-top: 117px;
  }

  body.notfound-page {
    height: 100vh;
  }

  .container {
    max-width: 1024px;
    padding: 0 15px;
  }

  .page-top::after {
    background-size: 200%;
    background-position-y: 0;
    bottom: -37px;
    background-position-x: center;
  }

  body.watchtv footer::after {
    display: none;
  }

  header.mobile-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    -webkit-animation: header_minimal 5s;
    animation: header_minimal 0.5s;
    padding-top: 10px;
    padding-bottom: 9px;
  }

  header.mobile-fixed .logo {
    max-width: 154px;
    max-height: 46px;
  }

  header.mobile .header-top {
    margin-bottom: 0;
    align-items: center;
  }

  header.mobile .button-header {
    display: none;
  }

  header.mobile .open-top-lng,
  header.mobile .open-top-menu {
    display: flex;
  }

  header.mobile .header-menu {
    display: none;
    margin-top: 50px;
  }

  .world-menu {
    justify-content: space-evenly;
  }

  .menu-item {
    margin-bottom: 20px;
  }

  .arrow-button-large.but-play {
    bottom: 250px;
  }

  .arrow-button-large.but-allseries {
    bottom: -30px;
  }

  .game-start {
    width: 463px;
    top: 180px;
    background-size: contain;
  }

  .game-text {
    font-size: 36px;
    line-height: 48px;
  }

  .game::after {
    width: 100%;
    top: 50px;
  }

  .most-popular-item {
    max-width: 210px;
  }

  .tv-watch-more {
    width: 320px;
    height: 120px;
    background-size: contain;
    left: 0;
  }

  .tv-block-info {
    right: 0;
  }

  .cartoon-tv-block .tv-block-info {
    right: 0;
  }

  .cartoon-tv-block .arrow-button-large.but-allseries {
    bottom: -34px;
  }

  .seasons-block .arrow-button-large.but-allseries {
    bottom: -56px;
  }

  .season-list.mobile-list .arrow-button-large.but-watch {
    bottom: -265px;
  }

  .watch-more-text {
    top: 20px;
    left: 26px;
    max-width: 250px;
    font-size: 36px;
  }

  .watch-more-text span {
    font-size: 24px;
  }

  .tv-watch-more::after,
  .video-tv::before {
    display: none;
  }

  .tv-info {
    width: 360px;
    height: 212px;
    bottom: 30px;
    left: 0;
    padding: 33px 22px 30px 22px;
  }

  .world-list__image {
    max-width: 25px;
    width: 100%;
    object-fit: contain;
  }

  .after-carrot::before {
    z-index: 0;
  }

  .today-wrapper {
    width: 90%;
    -webkit-mask-box-image: url("../img/popular-mask-mobile.svg");
  }

  .today-image {
    max-width: 405px;
  }

  .subscribe-form {
    max-width: 430px;
  }

  .custom-input input {
    width: 100%;
  }

  .footer-info {
    max-width: 350px;
  }

  .form-inputs {
    padding-bottom: 55px;
  }

  .top-block {
    padding-top: 0;
  }

  .top-block::before {
    width: 100%;
    background-size: 120%;
    background-position: center;
  }

  .top-block-box {
    justify-content: center;
  }

  .top-block-elements {
    max-width: 405px;
  }

  .top-block-elements::before {
    left: -15px;
    top: -70px;
    width: 288px;
    height: 128px;
  }

  .top-block-wrapper {
    width: 405px;
    padding: 50px 10px 42px 10px;
  }

  .top-block-text {
    font-size: 36px;
    line-height: 48px;
  }

  .top-block-elements::after {
    position: absolute;
    content: "";
    right: -35px;
    top: -85px;
    width: 180px;
    height: 140px;
  }

  .top-block-image {
    width: 55%;
  }

  .top-block-image img {
    width: 100%;
    object-fit: cover;
  }

  .cartoons-categories::before {
    display: none;
  }

  .cartoons-category-item {
    width: 300px;
  }

  .cartoon-tv-wrapper {
    display: flex;
  }

  .btn-arrow-sm.select-cartoon {
    left: 50%;
    transform: translate(-50%, 0) rotate(-4deg);
  }

  .select-season-wrapper::before,
  .footer-box::before,
  body.watchtv footer::before,
  body.only-season footer::before,
  body.only-release footer::before,
  .cartoons-categories-box::before,
  .more-series .select-season-wrapper::before,
  .buy::before,
  .buy::after,
  .buy-block {
    background-size: 25%;
  }

  .buy:after {
    top: -45px;
  }

  .release .cartoon-tv-block {
    top: 0px;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .release .tv-block-info {
    position: relative;
    left: -10%;
    top: 310px;
    z-index: 2;
    transform: translate(-50%, 0);
    max-width: 370px;
  }

  .release-info-block {
    position: relative;
    left: 0;
    top: -50px;
    display: flex;
    flex-direction: column-reverse;
    z-index: 1;
  }

  .release-description {
    position: relative;
    max-width: 100%;
    width: 100%;
    z-index: 0;
    top: -35px;
  }

  .release-subdesc {
    max-width: 100%;
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .release-subdesc-content {
    padding: 30px;
  }

  .release .video-tv::after {
    display: none;
  }

  .release .container::after {
    width: 100%;
    background-size: 180%;
    background-position: center;
    top: 0;
  }

  body.only-release .select-season-content {
    padding: 0;
    justify-content: space-around;
  }

  .detail-news-wrapper {
    flex-direction: column;
    padding-top: 112px;
  }

  .detail-image {
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    top: 0;
  }

  .detail-news-content {
    padding: 430px 60px 70px 60px;
  }

  .news-else .news-content {
    padding: 0;
    justify-content: space-around;
  }

  .games-main .play-game-btn {
    left: 50%;
    transform: translate(-50%, 0) rotate(4.38deg);
    bottom: -50px;
  }

  .notfound-wrapper {
    max-width: 375px;
    padding-top: 0;
  }

  .page-notfound .but-gohome .arrow-button-large-inner {
    width: 184px;
    padding-left: 43px;
    height: 55px;
  }

  .page-notfound .but-gohome {
    bottom: -38px;
  }

  .page-notfound .but-gohome .arrow-button-large-text {
    font-size: 20px;
    line-height: 25px;
  }

  .notfound-title {
    font-size: 160px;
    line-height: 0.55;
  }

  .notfound-block {
    width: 375px;
    padding: 35px 35px 45px 42px;
  }

  .notfound-text {
    font-size: 40px;
    line-height: 46px;
  }

  .page-notfound .gohome-btn {
    left: 50%;
    transform: translate(-50%, 0) rotate(-3.96deg);
    width: 185px;
    height: 70px;
    font-size: 24px;
    background-size: contain;
    padding: 14px 5px 14px 20px;
    bottom: 55px;
  }

  .page-notfound .gohome-btn {
    bottom: -40px;
  }

  body.notfound-page::after {
    background-size: 150%;
  }

  body.notfound-page::before {
    background-position-y: 0;
    background-position: bottom;
  }

  .tv-watch-more::before {
    right: -20px;
    bottom: -32px;
  }

  body.watchtv footer::after,
  body.seasons footer::after {
    display: none;
  }
}

@media (max-width: 890px) {
  .arrow-button-large-inner {
    width: 154px;
    height: 50px;
    padding-left: 22px;
  }

  .arrow-button-large-image {
    max-width: 15px;
    max-height: 15px;
    margin-right: 8px;
  }

  .arrow-button-large-text {
    font-size: 20px;
    line-height: 25px;
  }

  .arrow-button-large.but-play {
    bottom: -30px;
  }

  .arrow-button-large.but-watch {
    bottom: -25px;
  }

  .but-join .arrow-button-large-inner {
    width: 170px;
    height: 50px;
  }

  .but-join {
    bottom: -45px;
  }

  .but-subscribe .arrow-button-large-inner {
    width: 187px;
    height: 52px;
  }

  .world-menu {
    justify-content: space-evenly;
  }

  .menu-item {
    margin-bottom: 20px;
  }

  .game {
    padding-bottom: 232px;
  }

  .game-image {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
  }

  .game-start {
    top: 487px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .game::after {
    width: 100%;
    top: 343px;
    background-size: 150% 100%;
    background-position: bottom;
  }

  .basic-btn.play-game {
    bottom: 8px;
  }

  .most-popular-wrapper {
    position: relative;
    top: 0;
  }

  .most-popular-block {
    -webkit-mask-box-image: url("../img/popular-mask-mobile.svg");
    mask-border: url("../img/popular-mask-mobile.svg");
  }

  .most-popular {
    padding-top: 140px;
    padding-bottom: 60px;
  }

  .most-popular::after {
    -webkit-mask-box-image: url("../img/most-popular-mask-mobile.svg");
    mask-border: url("../img/most-popular-mask-mobile.svg");
    height: 100%;
    bottom: 0;
    top: 30px;
  }

  .most-popular-item {
    max-width: 250px;
    margin-bottom: 23px;
  }

  .video-box-wrapper .arrow-button-large.but-allseries {
    bottom: -540px;
  }

  .season-list.mobile-list .arrow-button-large.but-watch {
    bottom: -540px;
  }

  .video-box {
    padding-top: 125px;
    padding-bottom: 290px;
  }

  .video-box-wrapper {
    left: 0;
  }

  .video-tv {
    max-width: 580px;
    z-index: 0;
  }

  .tv-img {
    z-index: 0;
    width: 100%;
  }

  .video-tv-play {
    max-width: 333px;
    max-height: 301px;
    top: 54px;
    left: 66px;
    /* z-index: -1; */
  }

  .tv-block-info .box-shadow {
    height: 0;
  }

  body.only-release .tv-block-info .box-shadow {
    height: auto;
  }

  .tv-item__image-wrp {
    max-width: 322px;
    max-height: 320px;
  }

  .tv-block-info {
    left: 50%;
    top: -62px;
    position: absolute;
    transform: translate(-50%, 0);
  }

  .tv-watch-more {
    top: 0;
  }

  .tv-info {
    width: 360px;
    bottom: -296px;
    left: 8px;
    height: 220px;
  }

  .tv-item__image-wrp:before {
    width: 90px;
    height: 86px;
  }

  .tv-watch-more::before {
    position: absolute;
    content: "";
    right: -8px;
    top: 60px;
    background: url("../img/flowers_2.svg") no-repeat;
    background-size: cover;
    width: 63px;
    height: 90px;
  }

  .catalog-list {
    padding: 0;
  }

  .buy:after {
    bottom: 45px;
  }

  .buy::before {
    top: -45px;
  }
  .today {
    padding-top: 0;
  }

  .today-box .section-title {
    display: flex;
    color: #fff;
    margin-bottom: 20px;
  }

  .today-title {
    display: none;
  }

  .today-image {
    max-width: 100%;
    max-height: 315px;
  }

  .today-block {
    padding-top: 20px;
    padding-left: 34px;
    padding-bottom: 30px;
  }

  .today-list-desc {
    max-width: 350px;
  }

  .today-list-number {
    width: 50px;
    height: 50px;
  }

  .basic-btn.art-btn {
    left: 50%;
    bottom: -8%;
    transform: translate(-50%, 0) rotate(-3.51deg);
  }

  .masha-2::after,
  .after-carrot::before {
    display: none;
  }

  .today::after {
    bottom: -220px;
    left: 0;
    background-size: 170%;
    background-position: bottom;
  }

  footer .footer-title {
    margin-bottom: 20px;
  }

  .footer-wrapper {
    padding: 0 50px;
  }

  .subscribe-form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    order: 2;
  }
  .footer-politics {
    max-width: 100%;
  }

  .cartoon-tv-wrapper {
    display: block;
  }

  .footer-info-box {
    order: 1;
    filter: none;
    margin-bottom: 20px;
  }

  .footer-info {
    max-width: 100%;
    -webkit-mask-box-image: none;
    background: none;
    padding: 0;
  }

  .arrow-button-large.but-subscribe::before {
    position: absolute;
    content: "";
    background: url(../img/butterfly.svg) no-repeat;
    width: 50px;
    height: 54px;
    background-size: contain;
    left: -35px;
    bottom: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 1;
  }

  .catalog-item-with-buttons__catalog-buttons {
    max-width: 315px;
  }

  .footer-info-box::after {
    display: none;
  }

  .footer-copyright {
    bottom: 5px;
  }

  .seasons-list.desktop-list {
    display: none;
  }

  .select-season-wrapper {
    padding: 0;
  }

  .season-list.mobile-list {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
  }

  .season-list.mobile-list .watch-more-text {
    padding: 0 20px;
    font-size: 30px;
    line-height: 75%;
    top: 30px;
    left: 55px;
  }

  .season-list.mobile-list .watch-more-text span {
    font-size: 18px;
  }

  .season-list.mobile-list .watch-btn {
    bottom: -276px;
  }

  .season-list.mobile-list .tv-watch-more::after {
    position: absolute;
    content: "";
    width: 110px;
    height: 146px;
    display: block;
    left: -10px;
    top: -50px;
    background: url("../img/squrrel.png") no-repeat;
    background-size: cover;
    z-index: 1;
  }

  .season-list.mobile-list .seasons-number {
    margin-bottom: 318px;
  }

  .season-list.mobile-list
    .seasons-number:not(:first-child)
    .tv-watch-more::after {
    display: none;
  }

  .season-list.mobile-list .seasons-number:last-child {
    margin-bottom: 280px;
  }

  .top-block {
    padding-bottom: 70px;
  }

  .top-block-box {
    flex-direction: column-reverse;
  }

  .top-block-elements::after {
    right: -10px;
    top: -55px;
    width: 120px;
    height: 95px;
  }

  .top-block-image {
    top: 5px;
    z-index: -1;
  }

  .top-block::before {
    background-size: 160%;
    background-position: top;
    z-index: -1;
  }

  .cartoons-categories {
    padding-top: 80px;
  }

  .cartoon-tv-block {
    position: relative;
    top: 0;
    z-index: 1;
    left: 0;
    transform: none;
  }

  .cartoon-tv-block .video-tv {
    left: 50%;
    transform: translate(-50%, 0);
  }

  .cartoon-tv-block .arrow-button-large.but-allseries {
    bottom: -255px;
  }

  body.watchtv .cartoon-tv-block .arrow-button-large.but-allseries {
    bottom: -540px;
  }

  .cartoon-tv-wrapper {
    left: 0;
  }

  .cartoons-categories-box {
    margin-top: 145px;
    padding-top: 375px;
    padding-bottom: 110px;
  }

  .cartoons-categories-box::before {
    top: 100px;
    -webkit-mask-box-image: url(../img/cartoons-mask-mobile.svg);
  }
  .cartoons-categories-box::after {
    top: 100px;
    -webkit-mask-box-image: url(../img/cartoons-mask-mobile.svg);
  }

  .cartoons-categories-box::before {
    background-size: 50%;
  }

  .cartoons-category-item {
    width: 350px;
    margin-bottom: 300px;
  }

  .cartoons-category-item:last-child {
    margin-bottom: 0;
  }

  .cartoons-category-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-box::before {
    background-size: 50%;
  }

  .select-season-wrapper::before {
    background-size: 50%;
    -webkit-mask-box-image: url(../img/cartoons-mask-mobile.svg);
  }

  .select-season-wrapper::after {
    -webkit-mask-box-image: url(../img/cartoons-mask-mobile.svg);
  }

  .select-season-content {
    padding: 0;
  }

  .select-season-item {
    flex: 0 1 49%;
  }

  .select-season-item:last-child {
    margin-bottom: 90px;
  }

  .element-squirel::before {
    display: none;
  }

  body.watchtv footer::before,
  body.only-season footer::before,
  body.only-release footer::before,
  .more-series .select-season-wrapper::before {
    background-size: 50%;
  }

  body.only-release .cartoon-tv-wrapper {
    flex-direction: column;
  }

  .release .tv-block-info {
    left: 50%;
    top: -20px;
    z-index: 2;
    transform: translate(-50%, 0);
  }

  .release .tv-block-info::before {
    top: -29px;
    left: 0px;
    width: 118px;
    height: 118px;
  }

  .release-info-block {
    left: 0;
    top: -85px;
    z-index: 1;
  }

  .release-description {
    top: -15px;
  }

  .release-subdesc {
    z-index: 0;
  }

  .news-content {
    padding: 0;
  }

  .news-item {
    max-width: 340px;
    flex: 0 1 48%;
  }

  .page-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 35px;
  }

  .page-title span {
    font-size: 26px;
  }

  .games-content {
    padding: 0;
  }

  .games-item {
    flex: 0 1 48%;
  }

  body.notfound-page::before {
    width: 120%;
    background-size: 120%;
    background-position-y: 0;
    background-position: 60% 110%;
  }

  body.notfound-page::after {
    background-size: 200%;
    background-position: bottom;
  }

  .basic-btn.play-game .basic-btn-text {
    padding-left: 10px;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  }

  .modal2-inner {
    -webkit-mask-box-image: url(../img/modal-mobile-mask_1.svg);
    mask-border: url(../img/modal-mobile-mask_1.svg);
    padding: 45px 0 100px 0;
  }

  .choose-text {
    display: block;
  }

  .modal2-content {
    flex-direction: column;
  }

  .modal2-current-lng {
    margin-bottom: 20px;
  }

  .select-language .btn-modal {
    left: 50%;
    transform: translate(-50%, 0) rotate(3.9deg);
    width: 193px;
    height: 72px;
    padding: 10px;
    background-size: contain;
  }

  .modal-subscribe {
    max-width: 350px;
  }

  .modal1-inner {
    justify-content: center;
    flex-direction: column;
  }

  .modal1-image-block {
    position: absolute;
    top: -9px;
    max-height: 332px;
    max-width: 350px;
    left: 50%;
    background: none;
    -webkit-mask-box-image: none;
    transform: translate(-50%, 0);
  }

  .modal1-info-block {
    max-width: 350px;
    width: 100%;
  }

  .modal-subscribe .carousel__button.is-close {
    top: -32px;
    right: -10px;
  }

  .modal1-info {
    padding: 350px 20px 48px 20px;
  }

  .modal1-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .modal1-title span {
    font-size: 24px;
  }

  .modal1-desc {
    font-size: 18px;
    line-height: 22px;
  }

  .mult-wrapper {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: auto;
  }

  .mult-view-left {
    width: 100%;
  }

  .mult-view-right {
    max-width: 100%;
    padding-bottom: 25px;
  }

  .mult-view-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 320px !important;
    max-width: 320px;
    width: 100% !important;
  }

  .mult-view-nav-slider {
    max-width: 320px;
    width: 100%;
  }

  .mult-view-nav-slider .slick-list.draggable {
    height: auto !important;
  }

  .prev-arrow.mult-view-arrow-prev.slick-arrow,
  .next-arrow.mult-view-arrow-next.slick-arrow {
    margin-right: 10px;
    margin-left: 10px;
    flex-shrink: 0;
    transform: rotate(0deg);
  }

  .mult-view-left {
    text-align: center;
    height: 65vh;
  }

  .mult-view-close {
    left: 50%;
    transform: translate(-50%, 0);
    margin-left: 0;
    margin-bottom: 35px;
  }

  .empty::before {
    bottom: 134px;
    width: 186px;
    height: 280px;
  }

  .empty-block {
    padding: 58px 47px 58px 62px;
  }

  .empty::after {
    bottom: 72px;
    width: 210px;
    height: 370px;
  }

  .seasons-block .arrow-button-large.but-allseries {
    bottom: -29px;
  }

  body.notfound-page {
    height: 100vh;
  }

  .mult-wrapper {
    justify-content: normal;
  }

  .mult-view-left {
    margin-bottom: 20px;
  }

  .mult-view-close {
    margin-bottom: 8px;
  }

  .footer-page-notfound {
    padding-bottom: 46%;
  }

  .footer-page-notfound::before {
    background-size: 200%;
  }

  .footer-page-notfound::after {
    height: 140%;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 375px;
  }

  header.mobile .header-menu {
    height: 100vh;
    margin-top: 20px;
  }

  body.fixeddd {
    overflow: hidden;
  }

  header.mobile .mobile-world-add .button-header {
    display: block;
  }

  .mobile-world-add {
    position: static;
  }

  .menu-item {
    margin-bottom: 12px;
  }

  .world-menu {
    justify-content: center;
  }

  .video-box-wrapper .arrow-button-large.but-allseries {
    bottom: -415px;
  }

  .logo {
    max-width: 154px;
    max-height: 47px;
    margin: 0 auto;
  }

  .game-image img {
    max-width: 375px;
  }

  .game {
    padding-top: 20px;
    padding-bottom: 215px;
  }

  .game-start {
    width: 340px;
    top: 320px;
  }

  .game-block {
    padding: 35px 10px 30px 25px;
  }

  .game-start::before {
    width: 100%;
    height: 90px;
    left: 0;
    top: -35px;
    background-size: contain;
  }

  .game-start::after {
    width: 77px;
    height: 78px;
    right: -15px;
    top: -29px;
    background-size: contain;
  }

  .game::after {
    width: 100%;
    top: -15px;
    background-size: 350%;
    background-position: left -320px top;
    height: 120%;
  }

  .most-popular::before {
    width: 120%;
    height: 50px;
    left: -30px;
    top: -30px;
  }

  .most-popular-wrapper::before {
    background-size: contain;
    width: 122px;
    height: 155px;
    top: -50px;
  }

  .most-popular .section-title {
    font-size: 36px;
    line-height: 24px;
  }

  .section-title span {
    font-size: 24px;
  }

  .most-popular-block {
    padding: 30px 50px 40px 50px;
  }

  a.most-popular-item:nth-child(n + 3) {
    display: none;
  }

  .most-popular {
    padding-top: 125px;
  }

  .video-box {
    padding-top: 130px;
    padding-bottom: 290px;
  }

  .tv-block-info {
    left: -15px;
    top: -85px;
    position: absolute;
    transform: none;
    right: 0;
  }

  .video-tv-play {
    max-width: 210px;
    max-height: 180px;
    top: 30px;
    left: 30px;
  }

  .tv-item__image-wrp {
    max-width: 210px;
    max-height: 180px;
  }

  .tv-watch-more {
    width: 280px;
    top: 0;
    left: 15px;
  }

  .watch-more-text {
    top: 14px;
    left: 14px;
    max-width: 250px;
  }

  body.home .watch-more-text {
    top: 14px;
    left: 14px;
  }

  .tv-watch-more::before {
    right: -30px;
    top: 52px;
  }

  .tv-item__image-wrp:before {
    width: 45px;
    height: 43px;
  }

  .tv-info {
    width: 360px;
    bottom: -176px;
    height: 212px;
  }

  .tv-slide-count {
    width: 35px !important;
    height: 33px !important;
    margin: 0 5px;
  }

  .tv-slide-count.slick-current {
    width: 45px !important;
    height: 43px !important;
  }

  .tv-counts {
    width: 138px;
  }

  .video-tv::after {
    position: absolute;
    content: "";
    right: 0;
    top: -66px;
    background: url("../img/antenna.png") no-repeat;
    width: 71px;
    height: 67px;
  }

  .buy .section-title {
    margin: 0 auto 30px auto;
    font-size: 36px;
  }

  .buy-block {
    background-size: 50%;
  }

  .buy:after {
    -webkit-mask-box-image: url("../img/shop-mobile-mask.svg");
    mask-border: url("../img/shop-mobile-mask.svg");
  }

  .buy::before {
    -webkit-mask-box-image: url("../img/shop-mobile-mask.svg");
    background: url("../img/pattern-2.png");
    background-size: 50% !important;
  }

  .catalog-item-with-buttons__catalog-buttons {
    max-width: 320px;
  }

  .catalog-list {
    margin-bottom: 0;
  }

  .catalog-item-with-buttons:nth-child(n + 4) {
    display: none;
  }

  .today {
    padding-top: 0px;
    padding-bottom: 50px;
  }

  .today-wrapper {
    width: 100%;
  }

  .today .but-join {
    bottom: -34px;
  }

  .today-box .section-title {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .today-image img {
    height: 315px;
  }

  .today-block {
    padding-left: 24px;
    padding-bottom: 30px;
  }

  .today-list-number {
    width: 45px;
    height: 43px;
    margin-right: 20px;
  }

  .today-list-desc {
    max-width: 250px;
  }

  .today::after {
    bottom: -245px;
    left: 0;
    background-size: 350%;
    background-position: bottom;
  }

  footer .footer-title {
    margin-bottom: 20px;
    font-size: 36px;
  }

  .footer-box {
    padding-top: 40px;
  }

  .footer-wrapper {
    padding: 0;
  }

  .footer-info-text {
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
  }

  .custom-input input {
    padding: 23px 0 18px 0;
    font-size: 16px;
    line-height: 22px;
  }

  .form-inputs {
    padding-bottom: 50px;
  }

  .but-submit-lng .arrow-button-large-inner {
    padding-left: 33px;
  }

  .basic-checkbox__text {
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
  }

  .basic-checkbox__style {
    width: 24px;
    height: 24px;
  }

  .footer-img {
    height: 520px;
    object-position: 45%;
  }

  .footer-copyright {
    bottom: 12px;
    width: 100%;
  }

  .top-block-elements::before {
    left: -8px;
    top: -51px;
    width: 229px;
    height: 102px;
  }

  .top-block-wrapper {
    width: 340px;
    padding: 45px 48px 40px 50px;
  }

  .top-block-elements::after {
    right: 0px;
    top: -50px;
    width: 95px;
    height: 95px;
  }

  .top-block-image {
    width: 100%;
  }

  .top-block::before {
    background-size: 300%;
    background-position: top left -228px;
    z-index: -1;
    height: 100%;
  }

  .top-block {
    padding-bottom: 158px;
  }

  .season-list.mobile-list .seasons-number {
    margin-bottom: 344px;
  }

  .select-season-wrapper {
    padding: 30px 0;
  }

  .select-season::before {
    width: 110px;
    height: 74px;
    top: -25px;
    left: -21px;
  }

  .select-season::after {
    width: 57px;
    height: 59px;
    top: 0px;
    right: -10px;
  }

  .select-season .section-title {
    font-weight: 400;
    font-size: 40px;
  }

  .select-season .section-title span {
    font-size: 30px;
  }

  .select-season-item {
    flex: 0 1 100%;
  }

  .page-top::after {
    width: 100%;
    top: auto;
    background-size: 300%;
    background-position: left -249px top 0;
    bottom: -22px;
    height: 155%;
  }

  .release .tv-block-info {
    top: -2px;
    max-width: 360px;
  }

  .release .tv-block-info::before {
    top: -29px;
    left: 0px;
  }

  .release .tv-info {
    width: 360px;
    height: 212px;
    left: -15px;
  }

  .release-tv-elements::after {
    display: none;
  }

  .release-info-block {
    top: -68px;
  }

  .release-subdesc-content {
    padding: 26px;
  }

  .release-description-content {
    -webkit-mask-box-image: url(../img/desc-mask-mobile.svg);
    mask-border: url(../img/desc-mask-mobile.svg);
    padding: 55px 20px 58px 27px;
  }

  .article-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  .release .container::after {
    width: 100%;
    background-size: 300%;
    background-position: top left -220px;
    top: -115px;
    z-index: -2;
  }

  .breadcrumbs {
    max-width: 300px;
    margin: 0 auto 42px auto;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }

  .news-content {
    justify-content: center;
  }

  .news-item {
    flex: 0 1 100%;
  }

  .news-item:nth-child(n + 5) {
    display: none;
  }

  .detail-news {
    margin-bottom: 30px;
  }

  .detail-image {
    max-width: 330px;
    height: 238px;
  }

  .detail-news-content {
    width: 110%;
    padding: 150px 30px 70px 30px;
    -webkit-mask-box-image: url(../img/news-detail-mobile-mask.svg);
    mask-border: url(../img/news-detail-mobile-mask.svg);
  }

  .detail-news-article {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
  }

  .detail-news .detail-mobile-title {
    display: flex;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.12);
    max-width: 300px;
    width: 100%;
    margin: 0 auto 30px auto;
  }

  .detail-news .detail-mobile-title span {
    font-size: 26px;
  }

  .detail-news-top {
    display: none;
  }

  .news-else .section-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
  }

  .games-item {
    flex: 0 1 100%;
    margin-bottom: 65px;
  }

  body.notfound-page::before {
    background-size: 250%;
    background-position-y: 80%;
    background-position-x: 30%;
  }

  body.notfound-page::after {
    background-size: 255%;
    background-position: bottom;
    background-position-x: 48%;
  }

  .notfound-block {
    width: 335px;
    padding: 25px 35px 32px 42px;
  }

  .mult-view-left-top {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-left: 0;
  }

  .notfound-wrapper {
    max-width: 335px;
  }

  .notound-footer::after {
    background-size: 250%;
    background-position: bottom;
  }

  .page-notfound .gohome-btn {
    bottom: -50px;
  }

  .mult-view-nav-item {
    padding: 0 0px;
    max-width: 246px;
  }

  .mult-view-nav {
    max-width: 246px;
  }

  .mult-view-right {
    max-width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  body.notfound-page {
    height: 100vh;
  }

  .empty-logo {
    margin-bottom: 195px;
  }

  .empty::before {
    bottom: 160px;
    width: 120px;
    height: 184px;
  }

  .empty-page {
    background-size: 250%;
  }

  .empty-block {
    padding: 59px 39px 59px 44px;
    max-width: 360px;
  }

  .empty-text {
    font-size: 30px;
    line-height: 38px;
  }

  .empty::after {
    bottom: 130px;
    width: 145px;
    height: 258px;
  }

  .footer-empty-page {
    padding-bottom: 150px;
    position: relative;
  }

  body.watchtv .cartoon-tv-block .arrow-button-large.but-allseries {
    bottom: -420px;
  }
  .season-list.mobile-list .arrow-button-large.but-watch {
    bottom: -420px;
  }

  .arrow-button-large.but-play {
    bottom: -30px;
  }

  .arrow-button-large.but-play {
    bottom: -42px;
  }

  .select-language {
    padding: 0 10px;
  }

  .mult-view-left {
    margin-bottom: 20px;
  }

  .mult-series-name {
    font-size: 18px;
    line-height: 14px;
  }

  .mult-series-number {
    font-size: 10px;
    line-height: 13px;
  }

  .mult-full {
    padding-top: 67.5%;
  }
  .mult-view-nav-item.slick-slide.slick-current.slick-active {
    background: none;
    -webkit-mask-box-image: none;
  }

  .mult-view-nav-item.slick-slide.slick-current.slick-active
    .most-popular-item
    .most-popular-item__name,
  .mult-view-nav-item.slick-slide.slick-current.slick-active
    .most-popular-item
    .most-popular-item__number {
    color: #515151 !important;
  }

  .footer-page-notfound {
    padding-bottom: 60%;
  }

  .footer-page-notfound::before {
    background-size: 250%;
  }

  .footer-page-notfound::after {
    height: 300%;
    background-size: 250%;
    background-position-y: bottom;
    background-position-x: 23%;
    bottom: 0;
  }
}
