/* шрифты */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);


/* обнуления */

/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}


/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Убираем полосу проктутки */
/* ::-webkit-scrollbar {
    width: 0;
} */


/* body шрифт, размер */
body {
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    overflow-x: hidden;
}

/* контейнеры */

.container {
    width: 100%;
    margin: 0 auto;
}

section.home .container {
    max-width: 1220px;
}

section.company .container {
    max-width: 1140px;
    align-items: center;
}

section.services .container {
    max-width: 1216px;
}

section.excellence .container {
    max-width: 840px;

}

section.steps .container {
    max-width: 1235px;
}

section.portfolio .container {
    max-width: 1288px;
}

section.clients .container {
    max-width: 1222px;
}

section.contacts .container {
    max-width: 612px;
}

/* главное меню */


.top-menu {
    background: #21252d;
    display: flex;
    position: fixed;
    height: 125px;
    top: 0;
    z-index: 9999;
    transition: height .3s ease-in-out;
    width: 100vw;
}

.top-menu.scrollto.minimal {
    padding: 0px;
    height: 60px;
    transition: height .3s ease-in-out;
}

.top-menu .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1215px;
    width: 100%;
}

.top-menu a {
    color: #930505;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    transition: color .3s ease-in;
}

.top-menu a.number:hover,
.top-menu ul li a:hover {
    color: #930505;
    transition: color .3s ease-in;
}

.top-menu ul li a:active {
    color: #930505;
}



section {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    transition: height .3s ease-in-out;
}


/* главная */


section.home {
    position: relative;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)),
        url('../images/background.jpg') no-repeat;
    margin-top: 125px;
    padding: 290px 0 608px 0;
    background-size: cover;
    background-position: bottom;
}


section.home:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 128px;
    background: #21252d;
    top: -128px;
}


.home h1 {
    color: #fff;
    margin-bottom: 60px;
    text-transform: none;
}

.block-buttons {
    display: flex;
    justify-content: center;
}

/* О КОМПАНИИ */

section.company {
    background: #282E39;
    padding: 240px 0;
}


.company-info {
    max-width: 515px;
    color: #BEBEBE;
}


.company-info h2 {
    margin-bottom: 30px;
    color: #fff;
}

.company .container {
    display: flex;
    justify-content: space-between;
}

/* НАШИ УСЛУГИ */

section.services {
    padding: 225px 0 250px 0;
}

.card-inner {
    height: 202px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    text-align: center;
    margin-bottom: 180px;
    color: #282E39;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card-item {
    width: 100%;
    max-height: 280px;
    height: 100%;
    background: #F9F9F9;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    padding: 56px 27px 22px 27px;
    color: #777778;
    position: relative;
    flex: 0 1 33.3333%;
}

.card-item:nth-child(2) {
    margin: 0 68px;
}

.card-item::after {
    position: absolute;
    content: '';
    top: -28%;
    left: 44%;
    width: 47px;
    height: 110px;
    background: #fff;
    border: 1px solid #282E39;
    border-bottom: 36px solid #930505;
}

.card-item h2 {
    text-transform: none;
    color: #930505;
    margin-bottom: 25px;
}

/* НАШИ ПРЕИМУЩЕСТВА */

section.excellence {
    background: url('../images/back-exellence.png') #fff no-repeat;
    background-size: 103%;
    background-position: 0 0px;
    margin-bottom: 120px;
    padding: 240px 0;
}

.excellence-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.excellence-list ul {
    margin-left: 35px;
    max-width: 350px;
    width: 100%;
    white-space: normal;
    word-break: break-word;
}


.excellence .title {
    color: #fff;
    margin-bottom: 74px;
}

.excellence-list li {
    margin-bottom: 21px;
    position: relative;
    color: #fff;
}

.excellence-list li:before {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    background: url(../images/icons/check.png) #930505 no-repeat;
    border-radius: 50%;
    top: -3px;
    left: -35px;
}


/* ЭТАПЫ РАБОТЫ */

section.steps {
    padding-top: 120px;
    margin-bottom: 120px;
}

.steps-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    color: #777778;
}

.steps-list-item img {
    margin-right: 10px;
}

.steps-list {
    padding: 80px 100px 70px 0;
}

.steps-list a.button {
    max-width: 250px;
    margin-top: 40px;
}

.steps-list h2 {
    color: #282E39;
    margin-bottom: 40px;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
}

.steps .container {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
}

/* портфолио */

section.portfolio {
    padding-top: 120px;
    margin-bottom: 120px;
}

.portfolio .title {
    margin-bottom: 60px;
}

.portfolio-block {
    display: flex;
    flex-wrap: wrap;
    margin: -11.5px;
}

.porfrolio-item {
    flex: 0 1 33.333%;
    padding: 11.5px;
    object-fit: cover;
}

a.porfrolio-item:hover img {
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.342);
    transition: all .2s ease-in;
}



.portfolio-footer {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)),
        url('../images/portfolio/bottom-img.png') no-repeat;
    background-size: cover;
    padding: 100px 0 100px 0;
    display: flex;
    justify-content: center;
    margin-top: 23px;
    position: relative;
}


/* контакты */

section.about {
    background: linear-gradient(rgba(40, 46, 57, 0.3),
            rgba(40, 46, 57, 0.3)),
        url(../images/20.jpg) #21252D no-repeat;
    background-size: cover;
    padding: 120px 0 118px 0;
}

.contacts {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 612px;
    width: 100%;
    padding: 50px 110px 37px 110px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.contacts .title {
    margin-bottom: 27px;
}

.contacts .info-item {
    color: #282E39;
    display: flex;
}

.contacts .info-item a {
    margin-left: 5px;
    color: #777778;
    margin-bottom: 10px;
}

.contacts .info-item a:hover {
    text-decoration: underline;
}


.callback {
    background: #FFFFFF;
    max-width: 612px;
    width: 100%;
    padding: 40px 112px;
    margin: 0 auto;
}

.callback .title {
    margin-bottom: 36px;
}

.callback-form {
    display: flex;
    flex-direction: column;
}

/* клиенты */

section.clients {
    margin-bottom: 240px;
    padding-top: 120px;
}

section.clients .title {
    margin-bottom: 134px;
}

.clients a {
    display: block;
    margin: 0 auto;
}

.client-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.client-cards-item {
    width: 100%;
    max-height: 280px;
    height: 100%;
    background: #F9F9F9;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    padding: 30px 30px 22px 30px;
    color: #282E39;
    position: relative;
    min-height: 280px;
    flex: 0 1 33.3333%;
}

.client-cards-item:nth-child(2) {
    margin: 0 71px;
}

.client-card-inner {
    height: 228px;
    overflow: hidden;
    text-overflow: ellipsis;
}



.client-cards-item .client-name  {
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}

.client-cards-item:hover {
    cursor: pointer;
    box-shadow: 5px 5px 20px rgba(147, 5, 5, 0.25);
    transition: box-shadow .3s ease-in;
}

.client-cards-item::after {
    position: absolute;
    content: '';
    top: -8%;
    left: 65%;
    width: 55px;
    height: 44px;
    background: url(../images/icons/quote.png) no-repeat;
    background-size: cover;
}


/* футер */

footer {
    background: #21252D;
    color: #fff;
    padding: 68px 0 80px 0;
}

footer a {
    color: #fff;
    transition: all .3s linear;
}

footer a:hover {
    text-decoration: underline;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-container {
    max-width: 325px;
    width: 100%;
    margin: 0 auto;
}

.footer-logo a {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 44px;
    line-height: 52px;
}

.footer-menu {
    text-transform: uppercase;
}

.footer-logo a:hover {
    color: #930505;
    text-decoration: none;
    transition: all .3s linear;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
}

.footer-inner h2 {
    margin-bottom: 22px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #BEBEBE;
}

.footer-menu ul li {
    margin-bottom: 12px;
}

.footer-info {
    display: flex;
    margin-bottom: 12px;
    line-height: 18px;
    color: #BEBEBE;
}

.footer-info a {
    margin-left: 5px;
    color: #fff;
    display: contents;
}

.footer-contacts {
    max-width: 168px;
    overflow: hidden;
    word-wrap: break-word;
    font-weight: 500;
}


/* мобильное меню */

.header__nav {}

.header__menu {
    position: relative;
    z-index: 2;
}

ul.menu.header__menu li {
    display: inline-flex;
    margin-left: 22px;
}

ul.menu.header__menu li:first-child {
    margin-left: 0;
}

.menu-burger__header {
    display: none;
}

@media(max-width: 1199px) {

    .top-menu a.number {       
        order: -1;
        font-size: 16px;
        text-align: right;
        width: 70%;
    }

    .header__nav {
        display: block;
        position: absolute;
        top: 120px;
        right: 0;
        background: #21252D;
        width: 40%;
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
        transition: all 0.4s ease;
        right: -100%;
        border-bottom-left-radius: 20px;
    }

    .header__nav.sticky {
        top: 56px;
    }

    .top-menu ul li a {
        font-weight: bold;
        font-size: 18px;
        line-height: 16px;
        text-align: center;
        color: #DFDFDF;
        text-transform: uppercase;
        text-align: right;
        padding-right: 40px;
    }

    ul.menu.header__menu li {
        display: block;
        text-align: right;
    }

    .header__menu {
        display: block;
    }

    .header__nav.open-menu {
        right: -2px;
    }

    nav.header__nav li {
        margin: 40px 0px 40px 33px;
        font-size: 14px;
    }

    .menu-burger__header {
        position: relative;
        width: 40px;
        height: 35px;
        display: block;
        margin-left: 10px;
    }

    .menu-burger__header span,
    .menu-burger__header:after,
    .menu-burger__header:before {
        height: 3px;
        width: 100%;
        position: absolute;
        background: #fff;
        margin: 0 auto;
    }

    .menu-burger__header span {
        top: 16px;
    }

    .menu-burger__header:after,
    .menu-burger__header:before {
        content: '';
    }

    .menu-burger__header:after {
        bottom: 5px;
    }

    .menu-burger__header:before {
        top: 5px;
    }

    .menu-burger__header.open-menu span {
        opacity: 0;
        transition: 0.5s;
    }

    .menu-burger__header.open-menu:before {
        transform: rotate(38deg);
        top: 16px;
        transition: 0.4s;
    }

    .menu-burger__header.open-menu:after {
        transform: rotate(-38deg);
        bottom: 16px;
        transition: 0.4s;
    }
}

@media (max-width: 530px) {
    .header__nav {
        width: 70%;
    }
}

@media (max-width: 439px) {

    .top-menu a.number {
        width: auto;
    }

    .top-menu a.number {
        display: block;
        width: 30px;
        height: 30px;
        margin-left: 22px;
        overflow: hidden;
        border-radius: 50%;
        background: url(../images/icons/phone-solid.svg) #fff0 center no-repeat;
        background-size: 12px;
        font-size: 0px;
        border: 3px solid #fff;
    }
}