

/* кнопки */
a {
    text-decoration: none;
}

a.button {
    padding: 25px 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;  
    max-width: 250px; 
    width: 100%;
    display: block;
}

.accent {
    background: #930505;
    color: #FFFFFF;
    transition: all .3s ease-in ;
}

.accent:hover {
    background: #fff;
    color: #930505;
    box-shadow:inset 0px 0px 0px 2px #930505;
    transition: all .3s ease-in ;
}

.default {
    background: #fff;
    color: #930505;
    box-shadow:inset 0px 0px 0px 1px #930505;
    transition: all .3s ease-in ;
}

.default:hover {
    background: #930505;
    color: #fff;
    transition: all .3s ease-in ;
}

.gray {
    background: #282E39;
    color: #fff;
    transition: all .3s ease-in ;
}

.gray:hover {
    background: #fff;
    color: #282E39;
    box-shadow:inset 0px 0px 0px 2px #282E39;
    transition: all .3s ease-in ;
}

.outline {
    background: transparent;
    color: #fff;
    transition: all .3s ease-in ;
    border: 2px solid #fff;
}

.outline:hover {
    background: #fff;
    color: #282E39;
    transition: all .3s ease-in ;
    border: 2px solid #fff;
}

/* поля */

input[type="text"] {
  border: 1px solid #282E39;
  margin-bottom: 13px;
  padding: 25px 16px 25px 16px;
  color: #282E39;
}

input[type="text"]:focus {
  outline: none;
  border: 1px solid #930505;
}

input[type="submit"] {
  background: #282E39;
  border: 0;
  color: #fff;
  padding: 25px 0 25px 0;
  transition: all .3s ease-in;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  background: #fff;
  box-shadow:inset 0px 0px 0px 2px #930505;
  color: #930505;
  cursor: pointer;
  transition: all .3s ease-in;
}

/* заголовки и типография */ 

h1 {
    font-weight: normal;
    font-size: 44px;
    line-height: 52px;
    text-transform: uppercase
}

h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

/* списки и меню */ 

nav.header__nav li,
.excellence-list li,
.footer-menu li {
    list-style-type: none;
}

nav.header__nav ul,
.excellence-list ul,
.footer-menu ul {
    margin-left: 0; 
    padding-left: 0;
}


/* Убираем внутренние отступы */
nav.header__nav li,
.excellence-list li,
.footer-menu li,
nav.header__nav ol,
.excellence-list ol,
.footer-menu ol {
    padding: 0;
}

/* Убираем внешние отступы */

nav.header__nav ul,
.excellence-list ul,
.footer-menu ul,
nav.header__nav li,
.excellence-list li,
.footer-menu li,
nav.header__nav ol,
.excellence-list ol,
.footer-menu ol {
    margin: 0;
}



.top-menu ul li a {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #DFDFDF;
    text-transform: uppercase;
}

.top-menu a.number {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}