.title{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #1B1B1B;
    font-family: 'Europebold';

}
.roofing__slider{
    transition: 0.3s;
}
.roofing__slider .slick-prev, .roofing__slider .slick-next{
    background: #1B1B1B;
    width: 50px;
    height: 50px;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    opacity: 0;
}
.roofing__slider:hover .slick-prev, .roofing__slider:hover .slick-next{
    opacity: 1;

}
.roofing__slider .slick-prev{
    border-radius: 0px 6px 6px 0px;
    left: 0;

}
.roofing__slider .slick-next{
    border-radius: 6px 0px 0px 6px;
    right: 0;

}
.slick-prev:before, .slick-next:before{
    display: none;
}
.roofing__slider .slick-prev:after, .roofing__slider .slick-next:after{
    content: "";
    position: absolute;
    width: 28px;
    height: 13px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
}
.roofing__slider .slick-prev:after{
    background-image: url('../img/arrow-s.svg');
}
.roofing__slider .slick-next:after{
    background-image: url('../img/arro-w11.svg');
}
.roofing__slider .slick-prev:hover, .roofing__slider .slick-next:hover{
    background: #FFDD00;
}
.roofing__slider .slick-prev:hover:after{
    background-image: url('../img/arrow-s-b.svg');
}
.roofing__slider .slick-next:hover:after{
    background-image: url('../img/arro-b11.svg');

}
.roofing__slider .slick-dots {
    bottom: 34px;
}
.roofing__slider .slick-dots li {
    width: 50px;
    height: 3px;
    margin: 0 5px;
    border-radius: 0;
}
.roofing__slider .slick-dots li button {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 0;
    opacity: 0.2;
}
.roofing__slider .slick-dots li.slick-active button{
    background: #FFDD00;
    opacity: 1;
}
.roofing__info{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.roofing__fl{
    padding: 127px 0 136px;
    display: flex;
    align-items: center;
}
.roofing__block{
    max-width: 717px;
    width: 100%;
    display: flex;
}
.roofing__name{
    max-width: 651px;
    width: 100%;
    margin-right: -446px;
    margin-top: 168px;
}
.roofing__name h2{
    color: #FFFFFF;
    letter-spacing: -0.01em;

}
.roofing__name p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-top: 14px;
    max-width: 328px;
}
.roofing__video{
    max-width: 482px;
    width: 100%;
    height: 338px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}
.roofing__video:before{
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    opacity: 0.1;
    border: 2px solid #FFFFFF;
    border-radius: 17px;
    transition: 0.3s;
}
.roofing__video:hover:before{
    border: 1px solid #FFDD00;
    opacity: 1;
}
.roofing__video__play{
    margin-bottom: 42px;
    position: relative;
    z-index: 9;
}
.video-click__icon{
    width: 68px;
    height: 68px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: 0.3s;
}
.video-click__icon:hover{
    background: #FFDD00;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}
.video-click__icon img{
    margin-left: 5px;
}
.roofing__video__play p{
    font-family: 'Europebold';
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 23px;
}
.slick-dotted.slick-slider{
    margin: 0!important;
}
/*============-block-our__services-=============*/
.our__services{
    margin: 32px 0 33px;
}
.our__services h2{
    position: relative;
    top: 120px;
}
.our__services__flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.our__services__item{
    display: flex;
    max-width: 616px;
    width: 100%;
    margin: 0 -15px;
    position: relative;
    top: -12px;
}
.our__services__rig{
    display: flex;
    flex-wrap: wrap;
    max-width: 617px;
    width: 100%;
    margin: 0 -15px;
}
.our__services__margin{
    padding: 15px;
    width: 50%;
}
.our__services__info{
    border-radius: 13px;
    max-width: 278px;
    width: 100%;
    position: relative;
    background: #F4F4F4;
    display: flex;
    transition: 0.3s;
}
.our__services__info:before{
    content: "";
    background-image: url("../img/lines-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 278px;
    width: 100%;
    height: 182px;
    position: absolute;
    top: 26px;
    left: 0;
    transition: 0.3s;
}
.our__services__info:after{
    content: "";
    background-image: url("../img/Re591.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 278px;
    width: 100%;
    height: 91%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s;
    border-radius: 0 0 13px 13px; 
    opacity: 0;
}
.our__services__info:hover:after{
    opacity: 1;
}
.our__services__info img{
    width: 100%;
    z-index: 7;
    border-radius: 10px;
}

.our__services__name{
    position: absolute;
    left: 0;
    bottom: 20px;
    z-index: 9;
    transition: 0.3s;

}
.our__services__name:after{
    content: ""; 
    background-image: url("../img/arrow-btn.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 21px;
    height: 14px;
    position: absolute;
    top: -198px;
    left: 24px;
    transition: 0.3s;
    opacity: 0;
}
.our__services__info:hover .our__services__name:after{
    opacity: 1
}

.our__services__name strong{
    padding: 7px 12px;
    background: #1B1B1B;
    border-radius: 0px 4px 4px 0px;
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    width: max-content;
}
.our__services__price{
    padding: 3px 6px;
    background: #FFDD00;
    border-radius: 0px 0px 4px 0px;
    display: flex;
    width: max-content;
}
.our__services__price span{
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #1B1B1B;
}
.our__services__price span b{
    font-weight: bold;
}
.our__services__price p{
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    margin-left: 5px;
}
.our__services__see-all{
    position: relative;
    bottom: 122px;
}
#business__bg__fon{
    background: #1B1B1B;

}
.business__rating{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.business__rating:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/photo13.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 737px;
    width: 100%;
    height: 100%;
}
.business__rating:after{
    content: "";
    position: absolute;
    top: 0;
    left: 51%;
    transform: translateX(-51%);
    width: 1px;
    height: 100%;
    background: #292929;
}
.business__min{
    position: relative;
    z-index: 9;
    padding: 16px 0 98px;
    display: flex;
    justify-content: space-between;
    counter-reset: my-sec-counter;
}
.business__logo{
    display: block;
}
.business__performs{
    margin-left: 169px;
    max-width: 514px;
    width: 100%;
    margin-top: 189px;
}
.business__performs__text{
    display: flex;
}
.business__performs__text:first-child{
    justify-content: flex-end;
    margin-right: -6px;
}
.business__performs__text:last-child{
    justify-content: flex-start;
    margin-top: 44px;
}
.business__performs__text:first-child p{
    max-width: 214px;
}
.business__performs__text p{
    max-width: 277px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
.business__performs__text span{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #FFDD00;
}
.business__img__psk{
    position: absolute;
    top: 107px;
    right: 337px;
}
.business__highly{
    max-width: 277px;
    width: 100%;
    margin-top: 85px;
    margin-left: 90px;
}
.business__highly:before{
    content: "";
    position: absolute;
    top: 0;
    right: 308px;
    width: 1px;
    height: 659px;
    background: #292929;
}
.business__highly ul{
    padding-bottom: 27px;
}
.business__highly ul li{
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    position: relative;
}
.business__highly ul li:before {
    position: absolute;
    top: 7px;
    left: -36px;
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter);
    z-index: 99;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.01em;
    color: #959595;
    opacity: 0.3;

}
.business__highly ul li:after{
    content: "";
    position: absolute;
    top: -5px;
    left: -34px;
    width: 4px;
    height: 36px;
    background: #1B1B1B;
}
.business__highly a{
    max-width: 221px;
    color: #FFFFFF;
}

.about__work{
    margin: 100px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.about__work h2{
    transform: rotate(-90deg);
    position: absolute;
    top: 118px;
    left: -95px;
}
.about__shosse__min{
    position: relative;
    background-image: url("../img/Vector513.png");
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 482px;
    width: 100%;
    padding: 30px;
    z-index: 8;
    margin-right: -232px;
}

.about__shosse__logo{
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about__shosse__street{
    margin-top: 29px;
}
.about__shosse__street strong{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
}
.about__shosse__street p{
    border: 1px solid rgba(27, 27, 27, 0.12);
    border-radius: 4px;
    padding: 3px 6px;
    width: max-content;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    margin-top: 13px;
}
.about__shosse__views{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;

}

.shosse__views-work p{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: #1B1B1B;

}
.shosse__views-work strong{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    max-width: 222px;
    width: 100%;
    display: block;
}
.shosse__views-video{
    max-width: 247px;
    width: 100%;
    height: 146px;
    border: 1px solid #1B1B1B;
    border-radius: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 3px;
}
.shosse__views-video img{
    border-radius: 6px;
    width: 100%;
}
.shosse__views-video .video-click__icon{
    width: 41px;
    height: 41px;
    position: absolute;
}
.shosse__views-video .video-click__icon img{
    width: max-content;
    border-radius: 0;
}
.shosse__views-s{
    padding-right: 39px;
}
.shosse__views-m{
    margin-top: 25px;
}
.shosse__views-m p{
    letter-spacing: -0.01em;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #1B1B1B;
    margin-top: 13px;
}
.shosse__views-m span{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
}
.another__views-s{
    margin-top: 118px;
    display: flex;
    align-items: center;
}
.another__views-s .shosse__views-m {
    margin-top: 0;
    margin-right: 78px;
}

.about__photo__slider .slick-prev {
    left: 0;
    border-radius: 6px 0px 0px 6px;
}
.about__photo__slider .slick-next {
    right: auto;
    left: 134px;
    border-radius: 0px 6px 6px 0px;

}
.about__photo__slider .slick-prev, .about__photo__slider .slick-next {
    bottom: -15px;
    top: auto;
    width: 110px;
    height: 70px;
    z-index: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.about__photo__slider .slick-prev:hover, .about__photo__slider .slick-next:hover{
    background: #FFDD00;

}
.about__photo__slider .slick-prev:after, .about__photo__slider .slick-next:after {
    content: "";
    position: absolute;
    background-image: url("../img/Vecto26.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s;
    width: 46px;
    height: 14px;

}
.about__photo__slider .slick-next:after {
    transform: rotate(180deg);
}
.about__flex__slid{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.block__gallery {
    width: 100%;
    position: relative;
    margin-top: 32px;
    border-radius: 10px;
}
.block__gallery img{
    width: 100%;
    height: 630px;
    border-radius: 10px;
}
.about__photo {
    position: relative;
    left: 0;
    max-width: 1300px;
    width: 100%;
    padding-left: 104px;
}
.about__photo__slid-small{
    width: 71px;
    padding-bottom: 40px;
    position: absolute;
    top: 121px;
    right: 0;
    background: #1B1B1B;
    border-radius: 0px 10px 10px 0px;
}

.about__photo__slid-small  .slick-next{
    position: absolute;
    bottom: -9px!important;
    top: auto!important;
    right: auto!important;
    left: 21px!important;
    width: 30px!important;
    height: 30px!important;
    border-radius: 6px;
    border: 1px solid transparent;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;

}
.about__photo__slid-small .slick-next:after {
    transform: unset!important;
}
.about__photo__slid-small .slick-next:after{
    content: "";
    position: absolute;
    background-image: url("../img/arrd5.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 10px;
    height: 15px;
}
.about__photo__slid-small  .slick-next:hover{
    border: 1px solid #FFDD00;
    background: unset;
}
.about__photo__slid-small .slick-prev{
    display: none!important;
}
.photo__slid-img{
    position: relative;
    display: flex;
    border-radius: 6px;
    margin: 0 auto;
    width: 51px;
    height: 51px;
    transition: 0.3s;
    cursor: pointer;
}
.photo__slid-img:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 49px;
    height: 49px;
    border-radius: 6px;
    border: 2px solid #FFDD00;

}
.photo__slid-img img{
    border-radius: 7px;
    width: 100%;
}
.our__clients__photo .img__col{
    display: none;
}
.our__clients__photo a:hover .img__col{
    display: block;
}
.our__clients__photo a:hover .img__opa{
    display: none;
}
.mechi__block{
    width: 820px;
}
.about__photo__slid-small .slick-current{
    transition: 0.3s;
}
.about__photo__slid-small .slick-current :before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 49px;
    height: 49px;
    border-radius: 6px;
    border: 2px solid #FFDD00;
    transition: 0.3s;
}
.photo__slid-box{
    margin-top: 10px;
}
.about__work__btn{
    position: absolute;
    top: 32px;
    right: 2px;
}
.about__work__btn:before{
    content: "";
    position: absolute;
    top: -2px;
    left: -41px;
    background: #FFFFFF;
    width: 176px;
    height: 89px;
    border-radius: 0 0 0 12px;
}
.about__work__btn a{
    width: 133px;
    z-index: 9;
}
.rates__roofing{
    background: #F4F4F4;
}
.rates__min{
    padding: 100px 0;
}
.rates__flex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 45px;
}
.rates__membrane{
    max-width: 215px;
    width: 100%;
}
.rates__membrane__cnt{
    background: #FFDD00;
    transform: skewX(-30deg);
    height: 31px;
    border-radius: 6px;

}
.shosse__views-mobs{
    display: none;
}
.rates__membrane-mem{
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    padding: 3px 22px;
    transform: skewX(30deg);
}
.rates__membrane .surfacing__roof__in{
    display: none;
}
.rates__vapor{
    margin-left: 93px;
}
.rates__vapor ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.rates__vapor ul li{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 380px;
    width: 100%;
    padding-bottom: 22px;
    border-bottom: 1px solid #E9E9E9;
    margin-bottom: 18px;
}
.rates__vapor ul li p{
    min-height: 48px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    max-width: 270px;
    width: 100%;
}
.rates__vapor ul li div{
    padding: 2px 6px 4px;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
}
.rates__vapor ul li div span{
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    margin-left: 5px;
}
.rates__surfacing{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.rates__surfacing-flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 610px;
    width: 100%;
}
.surfacing__roof__in{
    border: 1px solid rgba(149, 149, 149, 0.15);
    background: #E9E9E9;
    display: flex;
    height: 32px;
    border-radius: 6px;
    opacity: 0.6;
    transform: skewX(-30deg);

}
.surfacing__roof{
    height: 100%;
    padding: 4px 28px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #959595;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
    transform: skewX(30deg);
}
.rates__surfacing .surfacing__roof__in:nth-child(2) {
    margin-left: 69px;
}
.rates__surfacing .surfacing__roof__in:nth-child(4){
    margin-left: 90px;
}
.rates__surfacing .surfacing__roof svg{
    margin-left: 14px;
}
.surfacing__roof__in:hover{
    background: #1B1B1B;
    opacity: 1;
}
.surfacing__roof__in:hover .surfacing__roof{
    color: #FFFFFF;
}
.surfacing__roof__in:hover .surfacing__roof svg path{
    stroke: #FFFFFF;
}

.rates__btn{
    max-width: 254px;
    width: 100%;
}
.rates__btn .btn__line{
    max-width: 100%;
    margin-bottom: 30px;
}

.our__clients{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.our__clients__info{
    max-width: 380px;
    width: 100%;
    border-right: 1px solid #E9E9E9;
}
.our__clients__info p{
    max-width: 349px;
    width: 100%;
    margin-top: 18px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
}
.our__clients__info .btn{
    margin-top: 69px;
}
.our__clients__comp{
    max-width: 790px;
    width: 100%;
}
.our__clients__photo{
    display: flex;
    flex-wrap: wrap;
}

.our__clients__slider .slick-prev {
    left: 0px;
}
.our__clients__slider .slick-next {
    right: auto;
    left: 80px;
    bottom: -57px;
}
.our__clients__slider .slick-prev, .our__clients__slider .slick-next {
    bottom: -55px;
    top: auto;
    width: 46px;
    height: 14px;
    z-index: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.our__clients__slider .slick-prev:after, .our__clients__slider .slick-next:after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s;
    width: 46px;
    height: 14px;

}
.our__clients__slider .slick-prev:after{
    background-image: url("../img/Vecto26.svg");

}
.our__clients__slider .slick-next:after{
    background-image: url("../img/arw-b.svg");

}
.our__clients__slider .slick-prev:hover:after{
    background-image: url("../img/Vecto26-w.svg");

}
.our__clients__slider .slick-next:hover:after{
    background-image: url("../img/arw.svg");

}
.video__reviews{
    background: #FFDD00;
}
.video__reviews__min{
    padding: 100px 0;
}
.video__reviews__tit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 8;
}
.video__reviews__tit .btn__line{
    border-top: 1px solid #1B1B1B;
    border-bottom: 1px solid #1B1B1B;
}
.video__reviews__tit .btn__line:hover{
    background: #1B1B1B;
}
.video__info{
    display: flex;
}
.video__shosse__mar{
    padding-top: 23px;
}
.video__slid{
    max-width: 380px;
    width: 100%;
}
.watch__video{
    margin-left: 46px;
}
.watch__video__log{
    position: absolute;
    max-width: 768px;
    width: 100%;
    height: 481px;
    display: flex;
    top: 108px;
}
.watch__video__play{
    position: absolute;
    right: -36px;
    bottom: 60px;
}
.watch__video__play:after{
    content: "";
    position: absolute;
    top: -16px;
    right: -50px;
    background-image: url("../img/linked-path.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 96px;
    height: 94px;

}
.watch__video__play .video-click__icon{
    width: 88px;
    height: 88px;
}
.watch__video__play .video-click__icon:hover{
    background: #1B1B1B;
    box-shadow: 4px 4px 25px #FFDD00;
}
.watch__video__play .video-click__icon:hover svg path{
    fill: #FFFFFF;
}
.watch__video__play .video-click__icon svg{
    width: 24px;
    height: 28px;
    margin-left: 6px;
}

.watch__video__in{
    z-index: 9;
    position: relative;
    margin-top: 28px;
    display: flex;
}
.watch__video__photo-men{
    max-width: 354px;
    width: 100%;
    height: 354px;
    border-radius: 50%;
}
.watch__video__photo-men img{
    border-radius: 50%;
    width: 100%;
}
.video__sl__obe{
    display: flex;
    align-items: flex-start;
    margin-top: 25px;
}
.video__sl__obe>p{
    width: 114px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
}
.video__sl__obe .shosse__views-m{
    margin-top: 0;
    margin-left: 30px;
}
.video__sl__obe .shosse__views-m span {
    margin-top: 6px;
    display: block;
}
.video__info .shosse__views-work p{
    margin-top: 48px;
}
.video__info .shosse__views-work strong{
    display: block;
    margin-top: 7px;
}
.video__info .shosse__views-work{
    padding-bottom: 10px;
}



.video__slid .slick-prev {
    left: 0px;
}
.video__slid .slick-next {
    right: auto;
    left: 80px;
    bottom: -57px;
}
.video__slid .slick-prev, .video__slid .slick-next {
    bottom: -55px;
    top: auto;
    width: 46px;
    height: 14px;
    z-index: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.video__slid .slick-prev:after, .video__slid .slick-next:after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s;
    width: 46px;
    height: 14px;

}
.video__slid .slick-prev:after{
    background-image: url("../img/Vecto26.svg");
}
.video__slid .slick-next:after{
    background-image: url("../img/arw-b.svg");
}
.video__slid .slick-prev:hover:after{

    background-image: url("../img/Vecto26-y.svg");
}
.video__slid .slick-next:hover:after{
    background-image: url("../img/ar-w.svg");
}


.prof__service{
    padding: 100px 0;
}
.prof__service__flex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.prof__service__block{
    max-width: 482px;
    width: 100%;
}
.prof__service__block p{
    margin-top: 37px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
}
.prof__service__qer{
    display: flex;
    align-items: flex-start;
}
.prof__service__img{
    display: flex;
    max-width: 278px;
    width: 100%;
}
.prof__service__img img{
    border-radius: 10px;
}
.prof__service__text{
    max-width: 277px;
    width: 100%;
    position: relative;
    margin-left: 30px;
    margin-top: 25px;
}
.prof__service__text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/aeawfd.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 15px;
    height: 12px;
}

.prof__service__text p{
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    margin-top: 23px;
}
.list__roofing__fl{
    display: flex;
    align-items: flex-end;
    margin-top: -100px;
    counter-reset: my-sec-counter;
    margin-left: 80px;
}
.list__roofing__works{
    max-width: 380px;
    width: 100%;
}
.list__roofing__works strong{
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
}

.list__roofing__works ul li{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    margin-top: 22px;
    padding-left: 39px;
    position: relative;
}
.list__roofing__works ul li:before {
    position: absolute;
    top: 2px;
    left: 0;
    counter-increment: my-sec-counter;
    content:  counter(my-sec-counter) ".";
    z-index: 99;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #959595;
    opacity: 0.3;
}
.list__roofing__nam{
    max-width: 482px;
    width: 100%;
    margin-left: 134px;
    margin-bottom: 24px;
}
.list__roofing__nam p{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
}
.list__ring__wid{
    max-width: 995px;
    width: 100%;
    margin: 70px auto 0;
}

.list__ring__slid .slick-prev, .list__ring__slid .slick-next {
    width: 46px;
    height: 14px;
    z-index: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.list__ring__slid .slick-prev {
    left: -90px;
}
.list__ring__slid .slick-next {
    right: -70px;
}
.list__ring__slid .slick-prev:after, .list__ring__slid .slick-next:after {
    content: "";
    position: absolute;
    background-image: url("../img/Vecto26.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s;
    width: 46px;
    height: 14px;

}
.list__ring__slid .slick-next:after {
    transform: rotate(180deg);
}
.list__ring__img{
    display: flex;
    margin: 0 auto;
}
.list__ring__img img{
    border-radius: 10px;
}
.service__packages{
    margin-top: 100px;
}
.service__packages h2{
    max-width: 688px;
}
.service__packages__flex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 28px;
}
.service__packages__tit{
    max-width: 483px;
    margin-top: 10px;
}
.assumes__materials{
    margin-left: 15px;
    max-width: 585px;
    width: 100%;
}

.assumes__materials__box{
    width: 100%;
    min-height: 120px;
    border: 1px solid #E9E9E9;
    border-radius: 10px;
    padding: 15px 20px 20px;
    margin-bottom: 15px;
    display: flex;

}
.assumes__materials__icon{
    margin-right: -36px;
    margin-top: 42px;
}
.assumes__materials__name{
    display: flex;
    align-items: flex-start;
}
.assumes__materials__name strong{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    display: block;
    width: 110px;

}
.assumes__materials__name p{
    font-size: 14px;
    line-height: 20px;
    color: #959595;
    max-width: 410px;
    margin-left: 30px;
    margin-top: 4px;
}
.service__packages .rates__btn{
    margin-top: -180px;
}

.info__center{
    background: #F4F4F4;
    padding: 100px 0 129px;
}
.info__center__fl{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.info__center__fl .surfacing__roof__in{
    margin-right: 20px;
}
.info__center__href {
    padding: 4px 53px 4px 23px;
    transition: 0.3s;
}
.info__center__href:after{
    content: url("../img/arsaw.svg");
    position: absolute;
    right: 22px;
    top: 6px;
}
.info__center__fl .surfacing__roof__in:hover{
    background: #FFDD00;
    opacity: 1;
    border: 1px solid transparent;

}
.info__center__fl .surfacing__roof__in:hover a{
    color: #1B1B1B;
    padding: 4px 37px;

}

.info__center__href:hover:after{
    display: none;
}
.info__center__slid{
    margin-top: 50px;
}
.info__center__info{
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 380px;
    width: 100%;
    min-height: 260px;
    padding: 25px;
    margin: 0 auto;
    transition: 0.3s;
    position: relative;
}
.info__center__info:hover{
    background: #FFDD00;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.03);
}
.info__center__info:hover:after{
    content: url("../img/arrow-btn.svg");
    position: absolute;
    bottom: 30px;
    right: 30px;

}
.info__center__info strong{
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    height: 100%;
    min-height: 52px;
    display: block;
}
.info__center__info p{
    font-size: 14px;
    line-height: 20px;
    color: #959595;
    margin-top: 13px;
    min-height: 80px;
}
.info__center__info span{
    margin-top: 42px;
    padding: 3px 6px;
    border: 1px solid rgba(27, 27, 27, 0.1);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    display: flex;
    width: max-content;
}
.info__center__slid .slick-prev, .info__center__slid .slick-next {
    bottom: -60px;
    top: auto;
    width: 46px;
    height: 14px;
    z-index: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.info__center__slid .slick-prev {
    left: 45%;
}
.info__center__slid .slick-next {
    right: 45%;
    bottom: -61px;
}
.info__center__slid .slick-prev:after, .info__center__slid .slick-next:after {
    content: "";
    position: absolute;
    background-image: url("../img/Vecto26.svg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
    width: 46px;
    height: 14px;

}
.info__center__slid .slick-next:after {
    transform: rotate(180deg);
}

.consultation__bg{
    position: relative;
    background: #FFDD00;
}
.consultation__bg:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 850px;
    width: 100%;
    height: 333px;
    background-image: url("../img/sloi-roof.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.consultation__min{
    position: relative;
    z-index: 9;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
}
.consultation__tit{
    display: flex;
}
.consultation__tit p{
    margin-left: 45px;
    max-width: 277px;
    margin-top: 5px;
}
.consultation__form{
    max-width: 380px;
    width: 100%;
    margin-top: 5px;

}
.consultation__inp{
    display: flex;
    align-items: center;
}
.consultation__inp label{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 136px;
    transition: 0.3s;
}
.consultation__inp label + label{
    margin-left: 15px;
    max-width: 229px;
}
.consultation__inp label span{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    position: absolute;
    left: 14px;
    top: 15px;
    transition: 0.3s;
    background: #FFDD00;
    padding: 0 6px;

}
/*.consultation__inp label:hover span{*/
/*    top: -7px;*/
/*    left: 14px;*/
/*}*/
.consultation__inp .consultation__lab span{
    top: -7px;
    left: 14px;
}
.consultation__inp label input{
    width: 100%;
    height: 48px;
    border: 1px solid #1B1B1B;
    border-radius: 6px;
    padding: 2px 2px 2px 18px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1B1B1B;
    background: unset;
}
.checkcontainer {
    display: flex;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
    margin-top: 18px;
}
.checkcontainer p{
    white-space: nowrap;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
}
.checkcontainer a{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    text-decoration: underline;
}
.checkcontainer a:hover{
    text-decoration: unset;

}
.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

[type=checkbox], [type=radio] {
    padding: 0;
}

.checkcontainer:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background: #959595;
    opacity: 0.1;
    border: 1px solid #1B1B1B;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkcontainer input:checked ~ .checkmark {
    border: 1px solid #1B1B1B;
    opacity: 1;
}
.checkcontainer .checkmark:after {
    width: 12px;
    height: 12px;
    background: #1B1B1B;
    border-radius: 2px;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkcontainer input:checked ~ .checkmark:after {
    display: block;
}
.consultation__send button{
    display: block;
    margin-top: 25px;
    background: #1B1B1B;
    border-radius: 6px;
    width: 175px;
    height: 48px;
    transition: 0.3s;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
.consultation__send button:hover{
    background: #FFFFFF;
    color: #1B1B1B;

}





@media (max-width: 575px) {
    .our__services__info {
        min-height: 233px;
        height: 100%;
    }
}

@media (max-width: 991px) {

    

}