@media (max-width: 1500px){
    .sidenav ul li:last-child a:after {
        width: 261px;
    }
}
@media (max-width: 1439px){
    /*=========-header-==========*/
    .menu__services__cont>ul {
        width: 340px;
        margin-left: -49px;
    }
    .menu__services__cont>ul>li>a{
        padding-left: 50px;
    }
    .submenu__head{
        width: 958px;
        left: 339px;
    }
	.sidenav ul{
		justify-content: space-between;
	}
	.sidenav ul li{
	position: relative;
    flex: 1;
    text-align: center;
	}
.sidenav ul li a {
	    min-width: auto;

}
}
@media (max-width: 1399px){

    .sidenav ul li:last-child a:after {
        width: 188px;
    }
    .header__services:hover .services__block:before {
        width: 207px;
    }
}
@media (max-width: 1300px){
    /*=========-header-==========*/
    .menu__services__cont>ul {
        width: 285px;
        margin-left: -14px;
        padding-bottom: 40px;
    }
    .menu__services__cont>ul>li>a {
        padding-left: 15px;
    }
    .submenu__head {
        width: 875px;
        left: 284px;
    }
    .submenu__head__scroll {
        padding: 25px;
        overflow-y: scroll;
        height: 545px;
    }
    .submenu__head__photo {
        max-width: 400px
    }
    .submenu__head__name {
        max-width: 370px;
    }

    /*=========-header-end-==========*/

    .roofing__name {
        max-width: 590px;
        margin-right: -467px;
        margin-top: 177px;
    }
    .roofing__block {
        max-width: 640px;
    }
    .title {
        font-size: 37px;
        line-height: 44px;
    }
    .roofing__slider .slick-prev, .roofing__slider .slick-next {
        width: 40px;
        height: 40px;
    }
    .roofing__slider .slick-prev:after, .roofing__slider .slick-next:after {
        width: 21px;
        height: 11px;
    }
    .watch__video__log {
        max-width: 719px
    }
    .our__services__item {
        max-width: 570px;
    }
    .our__services__rig{
        max-width: 600px;
    }
    .business__rating:before {
        max-width: 593px
    }
    .business__min {
        padding: 16px 0 75px;
    }
    .business__highly:before {
        height: 633px
    }
    .about__shosse__min{
        background-size: cover;
        margin-right: -285px;
        height: 550px;
    }
    .about__photo {
        padding-left: 100px;
    }
    .mechi__block {
        width: 780px;
    }
    .block__gallery {
        width: 100%;
    }
    .rates__vapor {
        margin-left: 50px;
    }
    .our__clients__info {
        max-width: 315px;
    }
    .watch__video__photo-men {
        max-width: 320px;
        height: 320px;
    }
    .video__info     .about__shosse__min{
        margin-right: 0;
        height: auto;
    }
    .list__ring__slid .slick-prev {
        left: -65px;
    }
    .list__ring__slid .slick-next {
        right: -65px;
    }
    .info__center__info {
        max-width: 360px;
        padding: 20px;
    }
    .consultation__tit {
        flex-direction: column;
    }
    .consultation__tit p {
        max-width: 277px;
        margin-top: 15px;
    }
}
@media (max-width: 1299px){
    .header__services:hover .services__block:before {
        width: 172px;
    }

    .sidenav {
        margin-right: -15px;
    }

}
@media (max-width: 1230px){
    .header__services:hover .services__block:before {
        width: 277px;
    }

    .sidenav {
        margin-right: 0;
    }
}

@media(max-width: 1169px){
    /*=========-header-==========*/

    .services__block {
        padding: 13px 61px 13px 0;
    }
    .services__block {
        padding: 13px 50px 13px 0;
    }

    .header__daily {
        margin-left: 15px;
    }
    .header__soc {
        margin-left: 20px;
    }
    .header__street {
        margin-left: 20px;
        max-width: 377px;
    }
    .header__nav {
        margin-top: 30px;
    }
    .menu__services {
        height: 95vh;
        top: 212px;
    }
    .menu__services__cont>ul {
        width: 270px;
        margin-left: -14px;
        padding-bottom: 0;
    }
    .menu__services__cont>ul>li>a {
        padding-left: 15px;
        height: 56px;
    }
    .submenu__head {
        width: 718px;
        left: 269px;
    }
    .submenu__head__scroll ul li{
        flex-direction: column;
        align-items: flex-start;
    }
    .submenu__head__name:before{
        display: none;
    }
    .submenu__head__name a:before {
        content: "";
        position: absolute;
        top: 10px;
        left: -15px;
        width: 6px;
        height: 2px;
        background: #959595;
    }
    .submenu__head__name {
        padding-left: 0;
        margin-left: 80px;
    }
    /*=========-header-end-==========*/
    .roofing__video {
        max-width: 340px;
        height: 235px;
    }
    .roofing__fl {
        padding: 80px 0 90px;
        align-items: flex-start;
    }
    .our__services__item{
        display: none;
    }
    .our__services__rig{
        max-width: 100%;
    }
    .our__services__margin {
        width: 33.333333%;
        display: block;
    }
    .our__services {
        margin: 77px 0 75px;
    }
    .our__services h2 {
        top: 0;
        margin-bottom: 20px;
    }
    .business__highly {
        max-width: 216px;
        margin-top: 82px;
        margin-left: 61px;
    }
    .btn__line img {
        margin-left: 5px;
    }
    .business__highly ul li:before {
        top: 7px;
        left: -26px;
    }
    .business__highly:before{
        display: none;
    }
    .business__rating:after {
        left: auto;
        right: 252px;
        transform: unset;
    }
    .business__img__psk {
        top: 199px;
        right: 275px;
    }
    .business__performs {
        margin-left: 100px;
        max-width: 316px;
        margin-top: 239px;
    }
    .business__rating:before {
        max-width: 616px;
        background-position-x: -122px;
    }
    .about__work h2 {
        transform: unset;
        top: 0;
        left: 0;
    }
    .about__work__btn:before{
        display: none;
    }
    .about__work__btn {
        top: 0;
        right: 0;
    }
   .about__work .about__photo {
        padding-left: 0;
    }
    .about__work  .about__flex__slid{
        flex-direction: column;

    }
    .about__work  .about__shosse__min{
        display: flex;
    }
    .about__work  .about__shosse__views{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
    }
    .about__work  .shosse__views-work{
        margin-top: 25px;
    }
    .about__work .about__shosse__min {
        background-size: cover;
        margin-right: 0;
        height: 260px;
        max-width: 708px;
        background-image: url("../img/Vector2154.png");
    }
    .about__work  .shosse__views-s {
        padding-right: 0;
        display: flex;
    }
    .about__work  .shosse__views-m {
        margin-top: 0;
        display: flex;
        align-items: center;
    }
    .about__work  .shosse__views-video>img {
        width: 100%;
        height: 100%;
    }
    .about__work .shosse__views-video {
        max-width: 210px;
        height: 139px;
        margin-top: -17px;
        margin-left: 60px;
    }
    .about__work  .about__shosse__logo {
        width: 78px;
        height: 78px;
        margin-right: 30px;
    }
    .about__work   .about__photo {
        max-width: 708px;
        margin: 0 auto;
    }
    .about__work  .about__photo {
        max-width: 708px;
        margin: 77px auto 0;
    }
    .about__work  .about__shosse__street {
        margin-top: 0;
    }
    .about__work .shosse__views-m p{
        display: none;
    }
    .about__work .shosse__views-m {
        margin-top: 0;
        margin-right: 20px;
    }
    .about__work .another__views-s {
        margin-top: 24px;
    }
    .about__work  .shosse__views-m span{
        margin-left: 4px;
    }
    .mechi__block {
        width: 708px;
        margin-top: -130px;
    }
    .block__gallery img {
        height: 504px;
        border-radius: 0 0 10px 10px;
    }
    .outer-serq .shosse__views-work{
        display: flex;
        align-items: flex-start;
    }
    .outer-serq  .shosse__views-work strong {
        max-width: 275px;
    }
    .for-mobs-ae{
        max-width: 530px;
        width: 100%;
    }
    .about__work .outer-serq .shosse__views-s {
        margin-top: -25px;
    }
    .block__gallery {
        width: 100%;
        margin-top: 0;
    }
    .mechi__block {
        width: 708px;
        margin-top: -122px;
        margin-left: 30px;
    }
    .about__photo__slider .slick-prev, .about__photo__slider .slick-next {
        bottom: -90px;
        width: 80px;
        height: 45px;
    }
    .about__photo__slider .slick-prev {
        left: 39%;
    }
    .about__photo__slider .slick-next {
        left: auto;
        right: 39%;
    }
    .about__photo__slid-small {
        position: absolute;
        top: 138px;
        right: auto;
        left: 30px;
        border-radius: 0 0 0 10px;
        z-index: 99;
        width: 66px;

    }
    .about__photo__slid-small .slick-next{
        left: 19px!important;
    }
    .photo__slid-img {
        width: 46px;
        height: 46px;
    }
    .rates__min {
        padding: 75px 0;
    }
    .rates__flex{
        flex-direction: column;
    }
    .rates__vapor ul{
        flex-direction: column;
    }
    .rates__vapor {
        margin-left: 0;
        margin-top: 30px;
        width: 100%;
    }
    .rates__vapor ul li {
        max-width: 100%;
        padding-bottom: 18px;
        margin-bottom: 15px;
    }
    .rates__vapor ul li p {
        min-height: auto;
        max-width: 508px;
    }
    .rates__surfacing-flex{
        display: none;
    }
   .rates__min .rates__btn {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
    }
    .rates__min .rates__btn .btn__line{
        max-width: 254px;
        margin-bottom: 0;

    }
    .our__clients__comp {
        max-width: 490px;
    }
    .our__services__rig{
        margin: 0;
    }
    .rates__membrane__cnt{
        display: none;
    }
    .info__center__cnt{
        display: block;
        margin-bottom: 10px;
        background: #E9E9E9;
    }
    .rates__membrane .surfacing__roof__in{
        display: block;
        margin-right: 15px;
        margin-bottom: 10px;
    }
    .rates__membrane .surfacing__roof__in:hover{
        background: #FFDD00;
        opacity: 1;
        border: 1px solid transparent;

    }
    .rates__membrane .surfacing__roof__in:hover a{
        color: #1B1B1B;
    }
    .rates__membrane .surfacing__roof__in:hover .info__center__href {
        padding: 4px 24px 4px 23px;
    }
    .rates__membrane{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: 100%;
    }
    .rates__membrane-mem{
        width: max-content;
        padding: 4px 29px;
        margin-bottom: 10px;
    }
    .our__clients__photo .img__opa{
        display: none;
    }
    .our__clients__photo .img__col{
        display: block;
    }
    .watch__video__log {
        max-width: 520px;
        height: 410px;

    }
    .watch__video {
        margin-left: 20px;
    }
   .watch__video__in {
        margin-top: 51px;
   }
    .list__roofing__fl {
        margin-top: -40px;
    }
    .list__ring__wid {
        max-width: 795px;
        margin: 70px auto 0;
    }

    .list__ring__img {
        justify-content: center;
    }
    .service__packages {
        margin-top: 75px;
    }
    .info__center__slid .slick-prev {
        left: 42%;
    }
    .info__center__slid .slick-next {
        right: 42%;
    }
    .consultation__tit p{
        margin-left: 0;
    }
    .consultation__bg:before {
        max-width: 679px;
        height: 267px;
    }

    .footer__href + .footer__href {
        margin-left: 80px;
    }
    .footer__about__pages{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .footer__soc{
        margin-bottom: 24px;
    }
}
@media (max-width: 991px){
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
    /*=============-header-============*/
    .header__min {
        padding-top: 10px;
    }

    .header__logo {
        max-width: 173px;
    }
    .header__street {
        max-width: 272px;
        margin-left: 0;
    }
    .header__soc .header__phone{
        display: none;
    }
    .header__item>a{
        display: none;
    }
    .header__daily{
        flex-direction: column;
        margin-left: 20px;
        width: 160px;
    }
    .header__street__href a {
        margin-right: 39px;
    }
    .header__street__href a + a{
        margin-right: 0;
    }
    .header__soc {
        margin-left: 0;
    }
    .header__soc .btn {
        margin-top: 12px;
        width: 160px;
    }
    .header__block__info {
        max-width: 462px;
        padding-top: 15px;
    }
    .header__search {
        max-width: 272px;
        margin-top: 27px;
    }
    .services__line{
        display: none;
    }
    .header__search label input {
        padding-left: 46px;
    }
    .header__item{
        margin-left: 15px;
    }
    .services__block {
        padding: 13px 20px 13px 20px;
        width: 157px;
        height: 45px;
        background: #1B1B1B;
        border-radius: 6px;
        position: relative;
        transition: 0.3s;
    }
    .services__block:after{
        content: "";
        position: absolute;
        top: 17px;
        right: 21px;
        border-top: 1.5px solid #FFFFFF;
        border-left: 1.5px solid #FFFFFF;
        width: 5px;
        height: 5px;
        transform: rotate(-135deg);
        transition: 0.3s;
        background: unset;
    }
    .services__block strong{
        display: none;
    }
    .services__block__bg{
        background: #FFDD00;
    }
    .services__block span{
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        display: block;
    }
    .services__block__bg span{
        color: #1B1B1B;
    }
    .services__block__bg:after{
        border-top: 1.5px solid #1B1B1B;
        border-left: 1.5px solid #1B1B1B;
        transform: rotate(45deg);
        top: 21px;
    }
    .header__services{
        margin-left: 60px;
    }
    .sidenav ul li:before{
        display: none;
    }
    .header__services:hover .services__block:before{
        display: none;
    }

    .menu__width {
        width: 0% !important;
        -webkit-transition: all 0.5s ease 0s !important;
        -o-transition: all 0.5s ease 0s !important;
        transition: all 0.5s ease 0s !important;
    }
    .transition__menu {
        width: 100% !important;
        -webkit-transition: all 0.5s ease 0s !important;
        -o-transition: all 0.5s ease 0s !important;
        transition: all 0.5s ease 0s !important;
    }

    .open__menu span:nth-child(2), .open__menu span:nth-child(3) {
        top: 21px;
    }
    .open__menu span:last-child {
        top: 29px;
    }
    .open__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 999;
    }
    .menu__cnt {
        margin: 0;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 99999;
        top: 217px;
        left: 0;
        overflow-x: hidden;
        padding: 0px 0 30px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        background: #F4F4F4;
    }
    .sidenav{
        flex-direction: column;
    }
    .sidenav  ul {
        flex-direction: column;
        justify-content: flex-start;
    }

    .sidenav ul li {
        width: 100%;
    }
    .sidenav ul li a{
        border-bottom: 1px solid #E9E9E9;
        padding: 21px 15px!important;
        width: 100%;
    }
    .sidenav ul li a:hover{
        background: #1B1B1B;
        color: #FFFFFF;
    }
    .header__menu {
        max-width: initial;
        width: auto;
        position: absolute;
        left: 0;
    }
    .header__nav {
        position: relative;
        margin-top: 26px;
        margin-bottom: 27px;
    }
    .menu__services__cont>ul {
        width: 308px;
        margin-left: 0;
        padding-bottom: 0;
    }
    .submenu__head {
        width: 456px;
        left: 307px;
    }
    .menu__services {
        height: 100vh;
        top: 60px;
        left: -30px;
        width: 768px;
    }
    .vesiya__paln{
        display: flex;
        align-items: center;
    }
    .vesiya__paln .header__phone{
        margin-right: 30px;
    }
    .raschot{
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.01em;
        color: #1B1B1B;
        border-bottom: 1px dashed #959595;
        transition: 0.3s;
    }
    .header__nav{
        justify-content: space-between;
    }
    .submenu__head__scroll {
        padding: 15px;
    }
    .sidenav ul li a:after{
        display: none!important;
    }
    /*=============-header-end-============*/

    .title {
        font-size: 36px;
        line-height: 42px;
    }
    .watch__video__log{
        background-image: url("../img/Logo222.png");
        max-width: 345px;
        width: 100%;
        height: 389px;
        right: 0;
        top: 145px;
    }
    .watch__video__log img{
        display: none;
    }
    .video__reviews__min {
        padding: 75px 0;
    }
    .watch__video__play .video-click__icon {
        width: 75px;
        height: 75px;
    }
    .watch__video__play:after {
        top: -7px;
        right: auto;
        left: -36px;
        width: 67px;
        height: 71px;
        transform: rotate(213deg);
    }
    .roofing__video {
        max-width: 216px;
        height: 152px;
        margin-left: 30px;
    }
    .video-click__icon{
        width: 44px;
        height: 44px;
    }
    .video-click__icon img {
        width: 13px;
    }
    .roofing__video__play p {
        font-size: 14px;
        line-height: 14px;
        margin-top: 10px;
    }
    .roofing__block img{
        display: none;
    }
    .roofing__fl {
        padding: 62px 0 61px;
    }
    .roofing__name {
        max-width: 347px;
        margin-right: 0;
        margin-top: 86px;
        margin-left: -120px;
    }
    .roofing__video__play {
        margin-bottom: 18px;
    }
    .roofing__block{
        background-image: url("../img/23.png");
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 120px;
        max-width: 405px;
    }
    .roofing__info {
        background-position-x: -70px;
    }
    .our__services__name strong {
        display: table-cell;
        font-size: 17px;
        line-height: 21px;
        padding: 4px 10px;
    }
    .our__services {
        margin: 75px 0 99px;
    }
    .roofing__name p {
        margin-top: 22px;
    }
    .roofing__slider .slick-dots {
        bottom: 24px;
    }
    .our__services__see-all {
        bottom: -23px;
    }
    .our__services__flex{
        margin: 0 -15px;
    }
    .menu__services__cont {
        padding-right: 0;
        padding-left: 0;
    }
    .our__services__info:hover:before {
        height: 96%;
        border-radius: 0 0 10px 10px;
    }
    .business__rating:before {
        max-width: 492px;
        width: 100%;
        background-position-x: unset;
        background-image: url("../img/photo4.png");
    }
    .business__logo {
        display: block;
        margin-right: -90px;
        height: 217px;
        margin-top: 4px;
    }
    .business__img__psk {
        top: 225px;
        right: 279px;
        width: 90px;
        display: flex;
    }
    .business__highly {
        max-width: 216px;
        margin-top: 68px;
        margin-left: 61px;
    }
    .business__rating:after {
        right: 277px;
    }
    .business__highly ul li:after {
        left: -24px;
    }

    .our__clients__comp {
        max-width: 330px;
    }
    .watch__video__play {
        bottom: 70px;
        left: -24px;
        width: 75px;
    }
    .video__info{
        margin-bottom: 40px;
    }
    .video__slid .slick-prev, .video__slid .slick-next{
        bottom: -70px;
    }
    .prof__service__qer{
        flex-direction: column;
        align-items: flex-start;
    }
    .prof__service__block {
        max-width: 401px;
    }
    .prof__service__text {
        max-width: 216px;
        margin-left: 0;
        margin-top: 20px;
    }
    .prof__service__qer{
        max-width: 216px;
        width: 100%;
    }
    .list__roofing__fl{
        flex-direction: column;
        align-items: flex-start;
        margin-top: -237px;
    }
    .list__roofing__nam {
        max-width: 100%;
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 40px;
    }
    .list__ring__img {
        max-width: 129px;
        width: 100%;
        margin: 0 auto;
    }
    .list__ring__wid {
        max-width: 620px;
    }
    .service__packages__flex{
        flex-direction: column;
    }
    .service__packages__tit{
        max-width: 100%;
    }
    .consultation__tit{
        max-width: 339px;
        width: 100%;
    }
    .assumes__materials{
        max-width: 760px;
        margin-top: 25px;
        margin-left: 0;
    }
    .service__packages .rates__btn {
        margin-top: 50px;
        display: flex;
        max-width: 100%;
        justify-content: space-between;
    }
    .service__packages .btn__line{
        max-width: 254px;
        margin-bottom: 0;
    }
    .prof__service {
        padding: 75px 0;
    }
    .info__center {
        padding: 75px 0 119px;
    }
    .info__center__info {
        max-width: 339px;
        padding: 25px;
    }
    .info__center__info p {
        min-height: 100px;
    }
    .consultation__inp{
        flex-direction: column;
        align-items: flex-start;
    }
    .consultation__inp label {
        max-width: 277px;
    }
    .consultation__inp label + label {
        margin-left: 0;
        max-width: 277px;
        margin-top: 15px;
    }
    .consultation__form {
        max-width: 277px;
    }
    .consultation__min {
        padding: 55px 0;
    }
    .consultation__bg:before {
        max-width: 490px;
        height: 193px;
    }
    .footer__flex{
        flex-wrap: wrap;
    }
    .footer__info {
        margin-top: 45px;
    }
    .footer__href + .footer__href {
        margin-left: 80px;
        max-width: 213px;
    }
    .cost__zak {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;
        width: 100%;
    }
    .cost__zak__soc {
        margin-top: 0;
    }
    .calculate__cost {
        margin-top: 0;
    }
    .cost__zak__soc a + a{
        margin-left: 30px;
    }
    .about__photo__slid-small .slick-current :before {
        width: 44px;
        height: 44px;
    }
    .menu__ser__active .open__photo__men{
        display: none;
    }
    .our__clients__photo a{
        width: 120px;
    }
    .our__clients__comp {
        max-width: 360px;
    }
    .our__clients__photo a:nth-child(10){
        display: none;
    }
    .our__services h2 {
        margin-bottom: 26px;
    }
    .business__performs {
        margin-left: 62px;
        max-width: 315px;
        margin-top: 248px;
    }
    .business__highly ul li:after {
        left: -34px;
    }
    .business__highly ul li:before {
        top: 5px;
        left: -36px;
    }
    .business__highly ul {
        padding-bottom: 42px;
    }
    .business__performs__text:last-child {
        margin-top: 77px;
        max-width: 268px;
        width: 100%;
        margin-left: 13px;
    }
    .about__work {
        margin: 73px 0;
    }
    .about__work .about__photo {
        margin: 82px auto 0;
    }
    .rates__min {
        padding: 72px 0 64px;
        margin-top: 141px;
    }
    .rates__flex {
        padding-top: 24px;
    }
    .rates__vapor ul li {
        max-width: 100%;
        padding-bottom: 18px;
        margin-bottom: 20px;
    }
    .rates__vapor {
        margin-top: 32px;
    }
    .rates__surfacing {
        margin-top: 3px;
    }
    .our__clients {
        padding: 69px 0;
    }
    .our__clients__info p {
        margin-top: 31px;
    }
    .our__clients__info p + p{
        margin-top: 19px;
    }
    .our__clients__info .btn {
        margin-top: 66px;
    }
}
@media (max-width: 767px){
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    /*=============-header-============*/
    .vesiya__paln{
        display: none;
    }
    .header__street__href a + a{
        display: none;
    }
    .header__item{
        display: none;
    }
    .header__soc .header__phone{
        display: block;
    }
    .header__soc .btn{
        display: none;
    }
    .header__block__info {
        align-items: flex-end;
        padding-top: 0px;
        flex-direction: column-reverse;
    }
    .header__street__href a {
        margin-right: 0;
    }
    .header__street__href {
        justify-content: flex-end;
        margin-top: 11px;
    }
    .header__search {
        margin-top: 0;
        display: none;
        position: absolute;
        top: 100px;
        right: 2px;
        max-width: 315px;
        width: 100%;
    }
    .header__logo {
        max-width: 160px;
    }
    .header__flex{
        align-items: flex-start;
    }
    .open__search__icon-s {
        display: flex;
        width: 26px;
        height: 26px;
    }
    .open__search{
        display: flex;
    }
    .header__search__op{
        display: block;
    }
    .open__search__n  .open__search__icon-s{
        display: none;
    }
    .open__search__n  .open__search__x{
        display: flex;
    }
    .header__nav {
        margin-top: 21px;
    }
    .menu__cnt {
        top: 196px;
    }
    .submenu__head {
        background: unset;
        position: relative;
        top: 0;
        left: 0;
        width: 100%
    }
    .menu__services__cont>ul {
        width: 100%;
        border-right: unset;
        padding-bottom: 50px;
        margin-left: 0;
    }
    .menu__services__cont>ul>li:hover>a {
        background: unset;
        color: unset;
    }
    .menu__services {
        height: auto;
        left: -15px;
        width: 375px;
    }
    .submenu__head__scroll {
        padding: 0;
    }
    .submenu__head__photo img{
        display: none;
    }
    .submenu__head__photo a{
        color: #1B1B1B;
        padding: 5px 5px 5px 15px;
        height: 61px;
        width: 100%;
        border-bottom: 1px solid #E9E9E9;
        display: flex;
        align-items: center;
    }
    .submenu__head__name {
        padding-left: 0;
        margin-left: 0;
        width: 100%;
        max-width: 100%;
        display: none;
    }
    .submenu__head__scroll ul li {
        border-bottom: unset;
        padding: 0;
    }
    .submenu__head__name a{
        padding: 10px 10px 10px 35px;
    }
    .submenu__head__photo {
        max-width: 100%;
    }

    /*=============-header-end-============*/

    .roofing__fl{
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 7;
    }
    .roofing__video {
        max-width: 345px;
        height: 122px;
        margin-left: 0;
        background-position: 0 -41px;
    }
    .roofing__block{
        margin-bottom: 30px;
    }
    .title {
        font-size: 32px;
        line-height: 38px;
    }
    .roofing__name p {
        font-size: 17px;
        line-height: 26px;
    }
    .roofing__name {
        max-width: 308px;
        margin-right: 0;
        margin-top: 87px;
        margin-left: -69px;
    }
    .roofing__info{
        background-image: url("../img/shutterst4ock.png") !important;
    }
    .roofing__info {
        background-position-x: 0;
    }
    .roofing__info:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #1B1B1B;
        opacity: 0.04;
    }
    .our__services__margin {
        width: 50%;
        padding: 7.5px;
    }
    .our__services__flex {
        margin: 0 -7.5px;
    }
    .business__performs {
        margin-left: 0;
        max-width: 100%;
        margin-top: 0;
    }
    .business__min{
        padding: 20px 0 60px;
        flex-direction: column;
    }
    .business__rating:before {
        max-width: 375px;
        height: 651px;
    }
    .business__performs__text:first-child {
        margin-right: 0;
    }
    .business__performs__text:last-child {
        margin-top: 39px;
    }
    .business__performs__text p {
        max-width: 346px;
    }
    .business__highly {
        max-width: 314px;
        margin-top: 70px;
        margin-left: 160px;
    }
    .business__rating:after {
        top: auto;
        bottom: 0;
        height: 496px;
        right: 422px;
    }
    .business__img__psk {
        top: auto;
        bottom: 213px;
        right: 14px;
    }
    .rates__vapor ul li p {
        max-width: 369px;
    }
    .watch__video {
        margin-left: -109px;
        margin-top: 44px;
    }
    .prof__service__flex{
        flex-direction: column;
        align-items: flex-start;
    }
    .prof__service__block p {
        margin-top: 20px
    }
    .prof__service__qer {
        max-width: 100%;
        width: 100%;
        margin-top: 30px;
        flex-direction: row;
    }
    .prof__service__img {
        max-width: 189px;
        width: 100%;
    }
    .prof__service__text {
        max-width: 165px;
        margin-left: 15px;
        margin-top: 2px;
    }
    .list__roofing__fl {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 40px;
        margin-left: 0;
    }
    .list__roofing__works ul li {
        margin-top: 15px;
        padding-left: 27px;
    }
    .list__ring__wid {
        max-width: 530px;
        margin: 40px auto 0;
    }
    .service__packages {
        margin-top: 61px;
    }
    .service__packages__flex {
        margin-top: 10px;
    }
    .assumes__materials__name {
        flex-direction: column;
        align-items: flex-start;
    }
    .assumes__materials__name p {
        margin-left: 0;
    }
    .assumes__materials__icon {
        margin-right: 20px;
        margin-top: 0;
    }

    .info__center__slid .slick-prev {
        left: 38%;
    }
    .info__center__slid .slick-next {
        right: 38%;
    }
    .mechi__block {
        width: 517px;
    }
    .business__logo {
        margin-right: 0;
    }
    .about__photo__slider .slick-prev {
        left: 29%;
    }
    .about__photo__slider .slick-next {
        left: auto;
        right: 29%;
    }
    .our__clients{
        flex-direction: column;
        align-items: flex-start;
        padding: 60px 0 80px;

    }
    .our__clients__info .btn{
        display: none;
    }
    .our__clients__info {
        border-right: unset;
        border-bottom: 1px solid #E9E9E9;
        padding-bottom: 30px;
        max-width: 100%;
    }
    .video__reviews__tit .btn__line{
        display: none;
    }
    .footer__about__fl {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .footer__about__hr{
        flex-direction: column;
        align-items: flex-start;
    }
    .surfacing__roof__in{
        margin-bottom: 10px;
    }
}
@media (max-width: 575px){
    .transition__menu {
        width: 100% !important;
    }
    .contact__site__mob{
        display: block;
        max-width: 375px;
        margin: 11px auto;
    }
    .contact__site__mob-f{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .contact__site__mob-f .btn{
        max-width: 231px;
        width: 100%;
    }
    .contact__mob-hr{
        border: 1px solid #FFDD00;
        border-radius: 6px;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 12px;
    }
    .about__work .about__flex__slid {
        flex-direction: column-reverse;
    }
    .header__nav {
        margin-top: 19px;
        margin-bottom: 15px;
    }
    .mechi__block {
        width: 360px;
        margin-top: 0;
        margin-left: 0;
    }
    .roofing__fl {
        padding: 30px 0 61px;
    }
    .block__gallery img {
        height: 315px;
        border-radius: 0 10px 10px 0;
    }
    .photo__slid-img {
        width: 22px;
        height: 22px;
        margin-top: 15px;
    }
    .photo__slid-box {
        margin-top: 0;
        margin-right: 5px;

    }
    .about__photo__slid-small {
        top: 299px;
        right: auto;
        left: 0;
        width: 241px;
        height: 57px;
        padding: 0 15px;
        border-radius: 0 0 10px 0;
    }
    .about__photo__slid-small .slick-current :before {
        width: 19px;
        height: 19px;

    }
    .photo__slid-img:hover:before{
        width: 19px;
        height: 19px;
    }
    .about__work .about__shosse__min {
        background-size: cover;
        margin-right: 0;
        height: 360px;
        margin-left: 17px;
        max-width: 358px;
        background-image: url("../img/Vector5151.png");
        padding: 83px 15px 15px 15px;
        z-index: 99;
        margin-top: -33px;
        border-radius: 0 0 10px 10px ;
    }
    .work__class__mob .container{
        padding: 0;
    }
    .about__work .about__shosse__logo {
        margin-right: 18px;
    }
    .about__work h2{
        margin: 0 15px;
    }
    .about__photo__slider .slick-prev {
        left: 0;
    }
    .about__photo__slider .slick-next {
        left: 18%;
        right: auto;
    }
    .about__work__btn {
        top: auto;
        right: 15px;
        bottom: -68px;
    }
    .about__work .another__views-s{
        flex-direction: column;
        align-items: flex-start;
    }
    .about__work .shosse__views-m {
        margin-right: 0;
    }
    .about__work .shosse__views-m + .shosse__views-m{
        margin-top: 10px;

    }
    .about__work .shosse__views-m + .shosse__views-m img{
        margin-left: 3px;
    }
    .for-mobs-ae {
        max-width: 232px;
    }
    .about__work .shosse__views-video {
        max-width: 104px;
        height: 70px;
        margin-top: 0;
        margin-left: 0;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .about__work .about__shosse__street {
        max-width: 196px;
        margin-top: 6px;
    }
    .about__work .shosse__views-work {
        margin-top: 20px;
        display: flex;
        margin-left: -92px;
        align-items: flex-start;
    }
    .about__work {
        margin: 60px 0 100px;
    }
    .shosse__views-work strong{
        margin-left: 15px;
    }
    .shosse__views__req{
        display: flex;
        align-items: flex-start;
    }
    .outer-serq .shosse__views-work strong {
        max-width: 209px;
    }
    .about__work .outer-serq .shosse__views-s {
        margin-top: 15px;
        flex-direction: column;
    }
    .info__center__slid .slick-prev {
        left: 32%;
    }
    .info__center__slid .slick-next {
        right: 32%;
    }
    .consultation__min {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 191px;
        padding-top: 45px;
    }
    .consultation__form {
        margin-top: 19px;
        max-width: 345px;
    }
    .consultation__inp label {
        max-width: 100%;
    }
    .consultation__inp label + label {
        max-width: 100%;
    }
    .consultation__tit p {
        max-width: 303px;
        margin-top: 15px;
    }
    .cost__zak .btn{
        display: none;
    }
    .cost__zak .calculate__cost{
        display: none;
    }
    .header__logo {
        max-width: 129px;
    }
    .header__logo a{
        height: 63px;
    }
    .logo__for__deck{
        display: none;
    }
    .logo__for__mob{
        display: block;
    }
    .header__search {
        top: 96px;
        right: 48px;
        z-index: 9999;
    }
    .menu__cnt {
        top: 151px;
    }
     .roofing__block{
         background-image: url("../img/Rectang9.png");
         margin-left: 0;
         background-position: right;
     }
    .roofing__name {
        max-width: 286px;
        margin-right: 0;
        margin-top: 87px;
        margin-left: 0;
    }
    .roofing__name p {
        max-width: 236px;
    }
    .our__services {
        margin: 60px 0 60px;
    }
    .business__performs {
        margin-top: 43px;
    }
    .business__performs__text:first-child p {
        max-width: 182px;
    }
    .business__img__psk {
        bottom: 157px;
        right: 0;
    }
    .business__rating:before {
        max-width: 375px;
        height: 617px;
        background-position: -13px -7px;
    }
    .business__rating:after {
        right: auto;
        left: 25px;
    }
    .rates__min {
        padding: 60px 0;
    }
    .business__performs__text:last-child {
        max-width: 345px;
        width: 100%;
        margin-left: 0;
    }
    .business__performs__text:last-child .business__performs__text p {
        max-width: 100%;
    }
    .rates__membrane-mem {
        width: max-content;
        padding: 4px 19px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .our__services__name {
        padding-right: 15px;
    }
    .rates__membrane .info__center__href {
        padding: 3px 22px 3px 12px;
        font-size: 13px;
    }

    .info__center__href:after {
        right: 7px;
    }
    .rates__vapor ul li p {
        max-width: 229px;
    }
    .rates__btn .btn{
        display: none;
    }
    .business__highly {
        max-width: 314px;
        margin-top: 70px;
        margin-left: 33px;
    }
    
    .video__reviews__min {
        padding: 60px 0 75px;

    }
    .video__info{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .video__slid .slick-next {
        right: 33%;
        left: auto;
    }
    .video__slid .slick-prev {
        left: 33%
    }
    .video__info .shosse__views-work p {
        margin-top: 20px;
    }
    .watch__video__photo-men {
        max-width: 284px;
        height: 284px;
    }
    .watch__video__log {
        max-width: 293px;
        height: 315px;
        right: 0;
        background-size: contain;
        background-repeat: no-repeat;
        top: 130px;
        background-position-x: 13px;
    }
    .watch__video {
        margin-left: 50px;
        margin-top: 27px;
    }
    .prof__service {
        padding: 60px 0;
    }
    .service__packages .rates__btn {
        margin-top: 10px;
    }
    .info__center {
        padding: 60px 0 91px;
    }
    .info__center__href {
        font-size: 14px;
        padding: 4px 23px 4px 19px;
    }
    .footer__href ul li a {
        font-size: 15px;
        line-height: 22px;
    }
    .footer__href + .footer__href {
        margin-left: 55px;
    }
    .info__center__fl .surfacing__roof__in {
        margin-right: 10px;
    }
    .footer__about__fl a {
        margin-left: 0;
        margin-bottom: 14px;
    }
    .footer__soc ul li a {
        width: 39px;
        height: 39px;
    }
    .footer__cont__numb {
        margin-top: 35px;
        padding-top: 0;
        border-top: unset;
    }
    .our__clients__photo {
        justify-content: center;
    }
    .our__clients__photo a {
        width: 115px;
    }
    .our__clients__slider .slick-prev {
        left: 30%;
    }
    .our__clients__slider .slick-next {
        right: 30%;
        left: auto;
    }
    .rates__min .rates__btn {
        margin-top: 0;
    }
    .rates__flex {
        padding-top: 25px;
    }
    .business__highly ul li:before {
        top: 5px;
        left: -27px;
    }
    .header__daily {
        margin-left: 0;
        width: 190px;
        align-items: flex-end;
    }
    .our__services__info:before {
        height: 152px;
    }
    .business__highly ul li:after {
        left: -25px;
    }
    .business__highly ul li {
        margin-bottom: 25px;
    }
    .consultation__bg:before {
        max-width: 490px;
        height: 289px;
        background-image: url("../img/roofead.png");
    }
    .footer__href strong {
        font-size: 17px;
    }
    .info__center__slid {
        margin-top: 30px;
    }
    .assumes__materials__box {
        padding: 15px 0 20px 20px;
        border-right: unset;
        border-radius: 10px 0 0 10px;
    }
    .assumes__materials__name {
        max-width: 264px;
    }
    .list__ring__slid__box{
        margin: 0 5px;
    }
    .list__roofing__works ul li {
        margin-top: 13px;
        padding-left: 25px;
    }
    .prof__service__text p {
        font-size: 15px;
    }
    .video__info .shosse__views-work strong{
        margin-left: 0;
        max-width: 304px;
    }
    .video__sl__obe .shosse__views-m {
        margin-top: -6px;
        display: flex;
    }
    .video__sl__obe .shosse__views-m span {
        margin-top: 0;
        display: block;
        margin-left: 8px;
    }
    .video__sl__obe {
        margin-top: 18px;
    }
    .watch__video__in {
        margin-top: 14px;
    }

    .shosse__views-mobs {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.01em;
        color: #1B1B1B;
        display: block;
        margin-right: -44px;
        position: relative;
        left: -89px;
    }
    .checkcontainer p {
        white-space: normal;
    }
}
@media (max-width: 374px){
       .menu__services {
        width: 320px;
    }
}