.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    overflow: auto;
    -webkit-animation: unfoldIn 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldIn 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal.out {
    -webkit-animation: unfoldOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.modal-container {
    width: 100%;
    position: relative;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    transform: rotate(-45deg);
    z-index: 99;
}

.close:before,
.close:after {
    content: "";
    position: absolute;
    background-color: #000000;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}

.close:before {
    width: 100%;
    height: 1px;
}

.close:after {
    width: 1px;
    height: 100%;
}

.modal__registration {
    max-width: 460px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 50px 40px 41px 40px;
    position: relative;
}

.modal__registration__title {
    padding-bottom: 15px;
}

.modal__registration__title h3 {
    font-family: 'Europebold';
    font-size: 32px;
    line-height: 32px;
    color: #1B1B1B;
}

.modal__registration__title p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    margin-top: 15px;
}

.modal__form__consult {
    width: 100%;
    margin-top: 15px;
}

.modal__form__consult label {
    display: flex;
    width: 100%;
}

.modal__form__consult label input {
    border: 1px solid #1B1B1B;
    border-radius: 6px;
    width: 100%;
    height: 48px;
    padding-left: 19px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
}

.modal__form__consult label input::placeholder {
    font-weight: 300;
}

.convenient__time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.convenient__time p {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
}

.header__leng {
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    width: 171px;
    border: 1px solid #FFDD00;
    border-radius: 6px;

}

.header__leng:after {
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    width: 6px;
    height: 6px;
    border-top: 1.5px solid #1B1B1B;
    border-left: 1.5px solid #1B1B1B;
    transform: rotate(-135deg);
}

.header__leng strong {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    height: 38px;
    display: flex;
    align-items: center;
    padding-left: 13px;
}

.click__open__leng .header__leng__droup {
    display: block;
}

.header__leng__droup {
    position: absolute;
    z-index: 99;
    left: -1px;
    top: 33px;
    width: 171px;
    border: 1px solid #FFDD00;
    border-radius: 0px 0 6px 6px;
    background: #FFFFFF;
    border-top: unset;
}

.header__leng__droup ul li {
    width: 100%;
}

.header__leng__droup ul li a {
    transition: 0.3s;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: #1B1B1B;
    width: 100%;
    padding: 0px 4px 0px 13px;
}

.header__leng__droup ul li a:hover {
    background: #E9E9E9;
}

.check__mods {
    margin-top: 30px;
}

.check__mods .checkcontainer {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    margin-right: -11px;
    padding-left: 22px;
}

.modal__registration .btn {
    margin-top: 35px;
}

.modal__registration .checkcontainer a {
    margin-left: 3px;
}

.fill__below__required {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
}

.modal__form__consult p {
    margin-bottom: 8px;
}

.fill__below__required .modal__form__consult {
    width: 177px;
}

.required__material {
    max-width: 380px;
    width: 100%;
}

.click__open__leng:after {
    transform: rotate(45deg);
}

#modal3 .modal__registration {
    max-width: 718px;
    width: 100%;
    border-radius: 0 10px 10px 0;
}

.required__material label {
    display: flex;
}

.required__material .jq-selectbox {
    width: 100%;
    height: 48px;
    border: 1px solid #1B1B1B;
    border-radius: 6px;
    position: relative;
}

.required__material .jq-selectbox:after {
    content: "";
    position: absolute;
    top: 17px;
    right: 19px;
    width: 6px;
    height: 6px;
    border-top: 1.5px solid #1B1B1B;
    border-left: 1.5px solid #1B1B1B;
    transform: rotate(-135deg);
}

.required__material .opened:after {
    transform: rotate(45deg);
    top: 20px;
}

.required__material .jq-selectbox__select {
    height: 100%;
}

.required__material .jq-selectbox__select-text {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 19px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
}

.required__material .jq-selectbox__dropdown {
    margin: 0;
    border: 1px solid #1B1B1B;
    border-top: unset;
    border-radius: 0 0 6px 6px;
    top: 43px;

}

.required__material .jq-selectbox li {
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    color: #1B1B1B;
    padding-left: 10px;
    transition: 0.3s;
}

.required__material .jq-selectbox li.selected {
    border-radius: 0;
    background: #E9E9E9;
}

.required__material .jq-selectbox li:hover {
    background: #E9E9E9;
}

.modal__for__application {
    display: flex;
    max-width: 995px;
    width: 100%;
}

.modal__for__photo {
    display: flex;
}

.modal__for__photo img {
    border-radius: 10px 0 0 10px;
}

.style__open__sell {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.style__open__sell .required__material {
    max-width: 258px;
}

.style__open__sell .required__material + .required__material {
    max-width: 215px;
}

.required__material p {
    margin-bottom: 8px;
}

.style__open__sell .modal__form__consult {
    width: 135px;
    margin-top: 0;
}

.style__open__sell .modal__form__consult label {
    position: relative;
}

.style__open__sell .modal__form__consult span {
    position: absolute;
    right: 20px;
    top: 12px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #959595;
}

.modal__form__flex-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.modal__form__flex-in .modal__form__consult{
    max-width: 202px;
}
.modal__form__textarea{
    width: 100%;
    margin-top: 16px;
}
.modal__form__textarea label{
    display: flex;
}
.modal__form__textarea label textarea{
    width: 100%;
    height: 80px;
    border: 1px solid #1B1B1B;
    border-radius: 6px;
    padding: 12px 19px 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #1B1B1B;

}
.modal__form__textarea label textarea::placeholder{
    font-weight: 300;

}
.for__more__accurate{
    margin-top: 25px;
}
.for__more__accurate label{
    display: flex;
    align-items: center;

}
.for__more__accurate label input{
    width: 117px;
    margin-left: 20px;
}
.for__more__accurate strong{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
}
.for__more__accurate p{
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: #959595;
}
@media (max-width: 1024px){
    .modal__for__photo{
        display: none;
    }
    #modal3 .modal__registration{
        max-width: 100%;
        border-radius: 10px;
    }
    .modal__for__application{
        max-width: 720px;
    }
}
@media (max-width: 766px){
    .style__open__sell{
        flex-wrap: wrap;
    }
    .style__open__sell .required__material {
        max-width: 345px;
        margin-bottom: 10px;
    }
    .style__open__sell .required__material + .required__material{
        max-width: 220px;
    }
    .style__open__sell .modal__form__consult {
        width: 110px;
    }
    .modal__form__flex-in {
        margin-top: 20px;
        flex-direction: column;
    }
    .modal__form__flex-in .modal__form__consult {
        max-width: 345px;
    }
    .for__more__accurate label{
        flex-direction: column;
        align-items: flex-start;
    }
    .for__more__accurate label input{
        margin-top: 4px;
        margin-left: 0;
        margin-bottom: 5px;
    }
    .modal__for__application {
        max-width: 385px;
    }
    .modal__for__application .modal__registration{
        padding: 50px 20px 41px 20px;
    }
    .modal__form__consult p {
        margin-bottom: 8px;
        font-size: 14px;
    }
}
@media (max-width: 575px) {
    .modal__registration {
        max-width: 365px;
        padding: 43px 15px 41px 15px;
    }

    .header__leng {
        width: 156px;
    }

    .convenient__time {
        margin-top: 25px;
    }

    .check__mods {
        margin-top: 25px;
    }

    .modal__registration .btn {
        margin-top: 25px;
    }

    .check__mods .checkcontainer {
        flex-wrap: wrap;
    }

    .header__leng__droup {
        width: 156px;
    }

    .fill__below__required .modal__form__consult {
        width: 162px;
    }

    .modal__form__consult p {
        font-size: 14px;
    }

}