@import url('accordion.css');
@import url('pagination.css');
@import url('workslider.css');

::-webkit-scrollbar {
    width: 0;
}

.our__services__out:before {
    content: "";
    background-image: url('../img/arrow-btn.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 21px;
    height: 14px;
    position: absolute;
    top: 15px;
    left: 25px;
    transition: 0.3s;
    opacity: 0;
    z-index: 1;
}


.our__services__out {
    position: relative;
}

.our__services__out:hover:before {
    opacity: 1;
}

.our__services__name:after {
   display: none;
}


.breadcrumb {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 24px;
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 400;
}

.breadcrumb_arrow {
    margin-left: 20px;
    margin-right: 20px;
}

.breadcrumb_item a {
    color: #959595;
}

.breadcrumb-mobile {
    display: none;
    padding-top: 15px;
    padding-bottom: 19px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    align-items: center;
    border-bottom: 1px solid #E9E9E9;
    margin-bottom: 32px;
}

.breadcrumb-mobile a {
    margin-left: 12px;
}

.body_pages {
    background-color: #f4f4f4;
}

.body_pages header {
    background: #fff;
}

header {
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
}

.color-f4 {
    background: #F4F4F4;
}

.active {
    background: #FFDD00;
    opacity: 1;
    color: #1B1B1B;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.active .info__center__href:after {
    display: none;
}

.active a {
    color: #1B1B1B;
    padding: 4px 37px;
}

.infocenter-buttons .active svg {
    display: none;
}

.title_button {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}


/* pages_pagination */

.pages_number {
    display: flex;
    justify-content: center;
    /* margin: 66px 0; */
    align-items: center;
    margin-top: 66px;
    margin-bottom: 100px;
}

.page-count {
    margin: 0 45px;
}

.page-count ul li a {
    color: #1b1b1b;
}

/*== back == */

.page-back-button {
    font-size: 0;
    line-height: 0;
    z-index: 8;
    display: flex;
    transition: 0.3s;
    background: none;
}

.page-back-button::after {
        content: "";
        background-image: url("../img/Vecto26.svg");
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0.3s;
        width: 46px;
        height: 14px;
}

.page-back-button:hover:after {
    background-image: url("../img/Vecto26-w.svg");
}


/* == next ==*/

.page-next-button {
    font-size: 0;
    line-height: 0;
    z-index: 8;
    display: flex;
    transition: 0.3s;
    background: none;
}

.page-next-button::after {
        content: "";
        background-image: url("../img/arw-b.svg");
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0.3s;
        width: 46px;
        height: 14px;
}

.page-next-button:hover:after {
    background-image: url("../img/arw.svg");
}

/*== page count ==*/

.page-count ul li {
    display: inline-flex;
    margin: 0 12px;
    border-radius: 4px;
    padding: 6px 0;
    width: 36px;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1B1B1B;
    transition: all .3s linear;
}

.page-count ul li.page-active {
    background: #FFDD00;
}

.page-count span.more_dots {
    /*margin: 0 20px;*/
    padding: 6px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1B1B1B;
    justify-content: center;
}

.page-count ul li:hover {
    transition: all .3s linear;
    background: #FFDD00;
    cursor: pointer;
}


@media (max-width: 575px) { 

    .page-count {
        min-width: 188px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        margin: 0 5px;
    }

    .page-count ul li {
        margin: 0 2px;
        padding: 5px 0;
        width: 30px;
        font-size: 15px;
        line-height: 18px;
    }

    .page-count span.more_dots {
        margin: 0;
        padding: 5px 0;
        font-size: 15px;
        line-height: 18px;
    }

}


/* ==================== */


/* services section */

.services_page {
    margin-bottom: 60px;
}

.services_page h2 {
    margin-bottom: 38px;
}

.services-main {}

.services-row {
    display: flex;
    margin: -15px -15px;
    flex-wrap: wrap;
}

.services-column {
    padding: 15px 15px;
    flex: 0 1 25%;
}


@media (max-width: 991px) {

    .services-main {}

    .services-row {
        margin: -15px -15px;
    }

    .services-column {
        padding: 15px 15px;
        flex: 0 1 33.333%;
    }

    .breadcrumb {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .services_page h2 {
        margin-bottom: 33px;
    }

    .services_page {
        margin-bottom: 74px;
    }

    .services_page .our__services__name:after {
        top: -142px;
    }
}

@media (max-width: 575px) {

    .breadcrumb {
        display: none;
    }

    .breadcrumb-mobile {
        display: flex;
    }

    .services-main {}

    .services-row {
        margin: -7.5px -7.5px;
    }

    .services-column {
        padding: 7.5px 7.5px;
        flex: 0 1 50%;
        display: flex;
    }

    .services-item {
        min-height: 233px;
        display: flex;
        flex-direction: column;
    }

    .services-main .our__services__info {
        flex: 1 1 auto;
    }

    .services_page {
        margin-bottom: 57px;
    }

    .breadcrumb-mobile a {
        margin-left: 6px;
    }
}


/* price */

.buttons-bar {
    display: none;
}

.buttons-bar .rates__btn {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.sum-title {
    display: flex;
}

.open-close-mobile {
    display: none;
}

.open-close-mobile:before,
.open-close-mobile:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #ffffff;
    position: absolute;
    transition: .15s linear;
}


.open-close-mobile:before {  
    transform: rotate(45deg);
    right: 30px;
    top: 25px;   
}

.open-close-mobile:after { 
    transform: rotate(-45deg);
    right: 24px;
    top: 25px;
}


.sum-title.opened .open-close-mobile:after {
    transform: rotate(45deg);
}

.sum-title.opened .open-close-mobile:before {
    transform: rotate(-45deg);
}


.price-list {
    margin: 0 0 73px;
}

.price-list a.surfacing__roof {
    padding: 4px 16px;
}

.price-list h2 {
    position: relative;
    margin-bottom: 32px;
}

.price-list .rates__surfacing-flex {
    max-width: 948px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.price-list .surfacing__roof__in {
    margin-right: 10px;
    margin-bottom: 5px;
}


.container.price_cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left_container {
    max-width: 896px;
    width: 100%;
}

.right_container {
    max-width: 284px;
    width: 100%;
    border-left: 1px solid #E9E9E9;
    padding-left: 37px;
    margin-top: 91px;
}

.container.price_cont .right_image {
    margin-bottom: 24px;
}

.container.price_cont .rates__btn .btn__line {
    max-width: 100%;
    margin-bottom: 26px;
    padding-right: 6px;
}

.container.price_cont .right_info p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #959595;
}

.container.price_cont .right_info {
    margin-top: 40px;
    margin-bottom: 40px;
}

.price-table {
    margin-bottom: 20px;
}

.bottom-info {
    margin: 20px 0;
    display: none;
}

.bottom-info p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #959595;
}

a.notprice_btn {
    color: #1B1B1B;
    font-size: 14px;
    line-height: 17px;
    padding: 4px 6px 2px 6px;
    font-weight: 500;
    border: 1px solid #1B1B1B;
    border-radius: 4px;
    display: none;
}

.bottom-buttons-bar {
    margin-bottom: 60px;
    margin-top: 24px;
    display: none;
}

/* ==== table container ==== */

.table_cont {
    padding-right: 15px;
    padding-left: 15px;
}

@media (max-width: 991px) {
    .table_cont {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media (max-width: 767px) {
    .table_cont {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 575px) {
    .table_cont {
        padding-right: 0;
        padding-left: 0;
    }
}

/* ==== end table container ==== */


@media (max-width: 1210px) {

    .buttons-bar {
        display: flex;
        margin-bottom: 54px;
    }

    .container.price_cont .rates__btn .btn__line {
        max-width: 247px;
        margin-bottom: 0;
    }

    .left_container {
        max-width: 100%;
        width: 100%;
    }

    .right_container {
        display: none;
    }

    .bottom-info {
        display: block;
    }
}


@media (max-width: 991px) {

    .buttons-bar {
        display: flex;
        margin-bottom: 52px;
    }

    summary {
        padding: 19px 25px 22px 25px;
    }

    .header__min {
        padding-top: 10px;
        padding-bottom: 1px;
    }

    .container.price_cont .rates__btn .btn__line {
        max-width: 247px;
        margin-bottom: 0;
    }

    .price-list {
        margin: 0 0 18px;
    }

    a.accordion_btn {
        margin-top: 4px;
    }

    .row_name {
        max-width: 518px;
    }

    .right_container {
        display: none;
    }

    .bottom-info {
        display: block;
    }

}

@media (max-width: 575px) {

    a.notprice_btn {
        display: inline-block;
    }

    .price-list {
        margin: 0 0 40px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .container.price_cont {
        padding-left: 0;
        padding-right: 0;
    }

    .price-list h2 {
        margin-bottom: 15px;
    }

    details {
        border-radius: 0;
    }

    .open-close-mobile {
        display: block;
    }

    .price-list .rates__surfacing-flex {
        display: none;
    }

    .buttons-bar {
        display: none;
    }

    a.accordion_btn {
        display: none;
    }

    summary {
        font-size: 17px;
        line-height: 24px;
        font-weight: bold;
        letter-spacing: -0.01em;
        padding: 13px 15px;
    }

    .row_name {
        max-width: 245px;
    }

    .table_row {
        padding-top: 18px;
        padding-bottom: 23px;
    }

    summary~* {
        padding: 0 15px 0 15px;
    }

    .bottom-info {
        display: none;
    }

    .bottom-buttons-bar {
        display: inline-block;
        margin-bottom: 30px;
        margin-top: 24px;
        padding-left: 15px;
        padding-right: 15px;
    }



}




/* sertificates page */

.sertificates-list {
    margin-bottom: 52px;
}

.sertificates-main {}

.sertificates-row {
    display: flex;
    margin: 10px -12px;
    flex-wrap: wrap;
}

.sertificates-column {
    padding: 0 12px;
    flex: 0 1 50%;
}

.sertificate-img {
    max-width: 248px;
}

.sertificate-img img {
    max-width: 100%;
}

.sertificates-list h2 {
    position: relative;
    top: 0px;
    margin-bottom: 36px;
}

.sertificate-item {
    display: flex;
    overflow: hidden;
    margin-bottom: 50px;
}

.sertificate-info {
    padding-left: 30px;
    padding-top: 25px;
    max-width: 224px;
    letter-spacing: -0.01em;
}

.sertificate-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.sertificate-number {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    margin-bottom: 16px;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px 6px 4px;
    max-width: fit-content;
}

.sertificate-subinfo {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #959595;
}


.sertificate-shadow {
    width: 100%;
    height: 20px;
    background: radial-gradient(ellipse 40% 10px, #ededed, #ffffff00);
    opacity: .8;
}

@media (max-width: 991px) {

    .sertificates-list {
        margin-bottom: 30px;
    }

    .sertificates-row {
        margin: -12px -15px;
    }

    .sertificates-column {
        padding: 0 15px;
    }

    .sertificate-img {
        max-width: 140px;
    }

    .sertificate-subinfo {
        display: none;
    }

    .sertificate-info {
        padding-left: 15px;
        padding-top: 8px;
    }

    .sertificate-title {
        font-size: 16px;
        line-height: 22px;
    }
}


@media (max-width: 575px) {

    .sertificates-list {
        margin-bottom: 25px;
    }

    .sertificates-list h2 {
        margin-bottom: 28px;
    }

    .sertificates-row {
        margin: 0;
        flex-wrap: wrap;
    }

    .sertificates-column {
        flex: 1 0 100%;
        padding: 0;
    }

    .sertificate-item {
        margin-bottom: 26px;
    }

    .sertificate-title {
        margin-bottom: 4px;
    }
}



/* portfolio section */

.portfolio_page {
    margin-bottom: 60px;
}

.portfolio_page h2 {
    margin-bottom: 40px;
}

.portfolio_page .btn {
    height: 52px;
}

.portfolio-main {}

.portfolio-row {
    display: flex;
    margin: -15px -15px;
    flex-wrap: wrap;
}

.portfolio-column {
    padding: 15px 15px;
    flex: 0 1 25%;
}

.our__portfolio__info {
    border-radius: 13px;
    max-width: 278px;
    width: 100%;
    background: #F4F4F4;
    display: flex;
    transition: 0.3s;
    padding: 20px;
    flex-direction: column;
    position: relative;
}

.our__portfolio__info:before {
    content: "";
    background-image: url("../img/lines-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 278px;
    width: 100%;
    height: 182px;
    position: absolute;
    top: 26px;
    left: 0;
    transition: 0.3s;
}

.our__portfolio__info:after {
    content: "";
    background-image: url("../img/Re591.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 278px;
    width: 100%;
    height: 91%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s;
    border-radius: 0 0 13px 13px;
    opacity: 0;
}


.our__portfolio__info:hover:after {
    opacity: 1;
}

.portfolio-image {
    max-width: 120px;
    max-height: 120px;
    background: #fff;
    margin-bottom: 55px;
    border-radius: 6px;
    z-index: 1;
}

.portfolio_subinfo {
    z-index: 1;
}

.portfolio-adress {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #1B1B1B;
    margin-bottom: 16px;
    
}

/*.portfolio-data {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #1B1B1B;
}*/

.portfolio-data {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    min-width: 120px;
    text-align: center;
    padding: 3px 0;
    max-width: 160px;
    width: fit-content;
}

@media (min-width: 1023px) and (max-width: 1199px) {
    .portfolio-adress {
        height: 66px;
        align-items: flex-end;
        display: flex;
    }

    .portfolio-image {
        margin-bottom: 17px;
    }
}

@media (max-width: 991px) {

    .portfolio-main {}

    .portfolio-row {
        margin: -15px -15px;
    }

    .portfolio_page h2 {
        margin-bottom: 30px;
    }

    .portfolio-column {
        padding: 15px 15px;
        flex: 0 1 33.333%;
    }


    .portfolio-adress {
        font-size: 15px;
        line-height: 22px;
        font-weight: 500;
        font-weight: bold;
        display: flex;
        height: 66px;
        align-items: flex-end;
    }


    .portfolio-image {
        margin-bottom: 20px;
    }


}

@media (max-width: 575px) {

    .breadcrumb {
        display: none;
    }

    .breadcrumb-mobile {
        display: flex;
        padding-top: 18px;
        padding-bottom: 18px;
        margin-bottom: 27px;
    }

    .portfolio-main {}

    .portfolio-row {
        margin: -7.5px -7.5px;
    }

    .portfolio-column {
        display: flex;
        max-height: 130px;
        flex: 0 1 100%;
        padding: 7.5px 7.5px;
        margin-bottom: 15px;
    }

    .portfolio-item {
        display: flex;
        flex-direction: column;
        max-width: 545px;
        width: 100%;
    }


    .portfolio-image {
        max-width: 100px;
        max-height: 100px;
        background: #fff;
        margin-bottom: 0;
        margin-right: 20px;
        width: 100%;
        border-radius: 6px;
        overflow: hidden;
    }

    .title_button a {
        display: none;
    }

    .our__portfolio__info {
        max-width: none;
        flex-direction: row;
        padding: 16px;
        overflow: hidden;
    }



    .portfolio-adress {
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 0;
       align-items: flex-start;
    }

    

    .portfolio_subinfo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .our__portfolio__info:before {
        width: 100%;
        height: 210px;
        top: 33px;
        left: -38px;
    }

    .our__portfolio__info:after {
        height: 100%;
        left: -40px;
        bottom: -24px;
    }

}


/* work page */

.date {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    margin-bottom: 23px;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px 6px 4px;
    max-width: fit-content;
}

.work_page h2 {
    margin-bottom: 7px;
}

.work-subhead-name {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    /* margin-right: 46px; */
    max-width: 148px;
    width: 100%;
}

.work-subhead-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    margin-bottom: 40px;
}

.work-subhead-column .shosse__views-video {
    max-width: none;
    width: 100%;
    height: auto;
    margin-top: 0;
}

.work-subhead-info-block {
    display: flex;
    margin-bottom: 25px;
}

.work-subead-inner {
    padding-top: 5px;
}

.work-subhead-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #959595;
}

.work-subhead-row {
    display: flex;
    margin: 0 -15px;
}

.work-subhead-column {
    flex: 0 1 33.33%;
    padding: 0 15px;
}

.work-subhead-column:first-child {
    position: relative;
}

.work-subhead-column:first-child::after {
    content: '';
    width: 1px;
    height: 100%;
    background: #E9E9E9;
    position: absolute;
    top: 0;
    left: 97%;
}

.work-subhead-main {
    margin-bottom: 60px;
}

.work_page .slider-container {
    margin-bottom: 100px;
    display: flex;
}

.work_page .slide_button {
    position: absolute;
    top: 90%;
    left: 72.4%;
    /* right: 50%; */
}

.work_page-slider-btn:after {
    content: '';
    position: absolute;
    top: -5px;
    left: -88px;
    width: 50px;
    height: 50px;
    /* background: white; */
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-bottom-right-radius: 15px;
    /* overflow: hidden; */
}


@media (max-width: 991px) {

    .work-subhead-column:first-child::after {
        height: 185%;
        left: 102%;
    }
    
    .work-subhead-row {
        display: flex;
        margin: 0 -12px;
        flex-wrap: wrap;
    }

    .work-subhead-column {
        flex: 0 1 50%;
        padding: 0 12px;
    }

    .work-subhead-column:nth-child(2) {
        padding-left: 36px;
    }
}

@media (max-width: 575px) {
    .work-subhead-column {
        flex: 0 1 100%;
        padding: 0 12px;
    }

    .work-subhead-column:nth-child(2) {
        padding-left: 12px;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .work-subhead-column:first-child::after {
        display: none;
    }
}


/* infocenter page */


.info__center__info h4{
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    min-height: 52px;
}

.infocenter-block {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E9E9E9;
    margin-bottom: 30px;
}

.infocenter-title-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infocenter-top-row {
    display: flex;
    justify-content: space-between;
}


.infocenter-title h2 {
    color: #1B1B1B;
    font-family: Europe;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
}

.infocenter-top-text {
    max-width: 277px;
    margin-left: 100px;
    margin-top: 18px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
}

.infocenter-bottom-row {
    margin-bottom: 30px;
}

.infocenter-head-img {
    max-height: 229px;
}


.infocenter-main {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.infocenter-item.info__center__info strong {
    height: auto;
}

.infocenter-item {
    margin-bottom: 30px;
    flex: 0 1 33.3333%;
}

section.container {
    padding-right: 30px;
    padding-left: 30px;
}


@media (max-width: 1112px) {
    .infocenter-item {
        padding: 15px 15px;
        flex: 0 1 50%;
    }

    .infocenter-top-row {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .infocenter-top-text {
        margin-left: 0;
        max-width: none;
        margin-bottom: 26px;
    }

    .infocenter-bottom-row {
        margin-bottom: 30px;
    }

    .infocenter-head-img {
        display: none;
    }

    .infocenter-bottom-row {
        margin-bottom: 20px;
    }


}

@media (max-width: 575px) {

    .infocenter-buttons .surfacing__roof__in:nth-child(1) {
        order: 1;
    }
    
    .infocenter-buttons .surfacing__roof__in:nth-child(2) {
        order: 3;
    }
    
    .infocenter-buttons .surfacing__roof__in:nth-child(3) {
        order: 2;
    }

    .infocenter-item {
        margin-bottom: 20px;
        flex: 0 1 100%;
    }

    .infocenter-title h2 {
        color: #1B1B1B;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
    }

    .infocenter-top-text {
        margin-top: 5px;
    }

    .infocenter-row {
        margin: -10px -10px;
    }

    .infocenter-column {
        padding: 10px 10px;
        flex: 0 1 100%;
    }

    .infocenter-main.info__center__href {
        font-size: 14px;
        padding: 4px 36px 4px 12px;
    }

    .infocenter-main .info__center__info {
        max-width: none;
        padding: 25px;
        width: 100%;
    }
}


/* infocenter actions */

.infocenter-main {
    margin-bottom: 100px;
}

.infocenter-content {
    display: flex;
}

.action-img {
    flex: 1 1 auto;
    max-width: 380px;
    width: 100%;
    height: 100%;
    max-height: 158px;
    overflow: hidden;
}

.action-img img {
}


.infocenter-action-item {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.action-info {
    padding: 22px 22px 0 30px;
}

.infocenter-text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #959595;
    margin-bottom: 16px;
}

.infocenter-title a {
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    margin-bottom: 10px;
}

.infocenter-more {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
}


.infocenter-more a {
    color: #1B1B1B;
    border-bottom: 1px dashed #959595;
    transition: 0.3s;
}

.infocenter-more a:hover {
    border-bottom: 1px dashed #1B1B1B;
    cursor: pointer;
}

.infocenter-actions-row {
    margin: -15px 0;
}

.infocenter-actions-column {
    padding: 15px 0;
}

@media (max-width: 1112px) {
    .infocenter-actions-row {
        margin: -15px -15px;
        display: flex;
        flex-wrap: wrap;
    }

    .infocenter-actions-column {
        padding: 15px 15px;
        flex: 0 1 50%;
    }

    .infocenter-title {
        font-weight: 800;
        font-size: 17px;
        line-height: 24px;
        letter-spacing: -0.01em;
    }

    .infocenter-action-item {
        max-width: 339px;
    }

    .infocenter-content {
        display: flex;
        flex-direction: column;
    }

    .action-info {
        padding: 16px 20px 34px 16px;
    }
}

@media (max-width: 575px) {

    .infocenter-title {
        font-family: Lato;
        font-style: normal;
        font-weight: 800;
        font-size: 17px;
        line-height: 24px;
        letter-spacing: -0.01em;
        color: #1B1B1B;
    }

    .infocenter-actions-column {
        padding: 15px 0;
        flex: 0 1 50%;
    }

    .infocenter-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.01em;
        color: #959595;
    }

    .infocenter-actions-row {
        margin: -15px 0;
        display: flex;
        flex-wrap: wrap;
    }

    .infocenter-actions-column {
        flex: 1 1 auto;
    }
}



/* contacts page */

.contacts-main {
    max-height: 184px;
    height: 100%;
}

.contacts-page .title {
    margin-bottom: 40px;
}

.contacts-row {
    display: flex;
}

/*.contacts-column {
    flex: 0 1 33.3333%;
}*/

.contacts-column-left {
    flex: 0 1 410px;
}

.contacts-column-center {
    flex: 0 1 338px;
}

.contacts-column-right {
    flex: 0 1 404px;
    position: relative;
}

.contacts-number {
    font-family: Europe;
    font-weight: bold;
    font-size: 26px;
    line-height: 26px;
    color: #1B1B1B;

    margin-bottom: 22px;
}

.contacts-subtitle {
    font-family: Lato;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #959595;
}

.contacts-text {
    font-family: Lato;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
}

.contacts-adress {
    display: flex;
    margin-bottom: 21px;
    max-width: 278px;
}

.adress-ico {
    margin-right: 10px;
    min-width: 15px;
    min-height: 21px;
}

.adress-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1B1B1B;
}

.contacts-time {
    position: relative;
    margin-left: 23px;
}

.contacts-time:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -21px;
    background: #FFDD00;
    border-radius: 50%;
    width: 6px;
    height: 6px; 
}

.time-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1B1B1B;
}

.departaments-list {
    display: flex;
    flex-wrap: wrap;
}

.list-item {
    margin-right: 30px;
    margin-bottom: 25px;
}

.depart-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: #1B1B1B;

    background: #E9E9E9;
    border-radius: 4px;
    padding: 2px 0;
    max-width: 121px;
    width: 100%;
    text-align: center;

    margin-bottom: 22px;
}


.contacts-column-right:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 184px;
    background: #E9E9E9;
    top: 0;
    left: -30px;
}

.mobile-contacts-number {
    display: none;
}

.address-main {
    display: flex;
    justify-content: space-between;
}

.requisites {
    border: 1px solid #1B1B1B;
    border-radius: 10px;
    padding: 25px;
    max-width: 380px;
    width: 100%;
}

.requisites-title {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: #1B1B1B;

    margin-bottom: 20px;
}

.requisites-item {
    display: flex;
    margin-bottom: 15px;
}

.requisites-name {
    max-width: 102px;
    width: 100%;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1B1B1B;

    margin-right: 10px;
}

.requisites-info {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #959595;
}

.map-container {
    overflow: hidden;
    border-radius: 10px;
}


section.ya-map {
    margin-top: 50px;
    margin-bottom: 100px;
}

@media (max-width: 991px) {

    .contacts-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .contacts-column-left,
    .contacts-column-center {
        flex: none;
    }

    .contacts-column-right {
        margin-top: 70px;
    }

    .contacts-column-right:before {
        width: 401px;
        height: 1px;
        top: -24px;
        left: 0px;
    }

    section.ya-map {
        margin-top: 160px;
        margin-bottom: 100px;
    }

    .address-main {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    .requisites {
        max-width: none;
        width: 100%;
        margin-top: 30px;
    }
}


/*@media (min-width: 992px) and (max-width: 1223px) {
}*/

@media (max-width: 575px) {

    .contacts-page .title {
        margin-bottom: 22px;
    }
    
    .contacts-column-left {
        order: 0;
    }

    .contacts-column-center {
        order: -1;
        margin-bottom: 25px;
    }

    .mobile-contacts-number {
        display: block;
        font-family: Europe;
        font-weight: bold;
        font-size: 26px;
        line-height: 26px;
        color: #1B1B1B;
        margin-bottom: 7px;
    }

    .contacts-number {
        display: none;
    }

    .contacts-column-right {
        margin-top: 56px;
    }

    .list-item {
        margin-right: 20px;
        margin-bottom: 25px;
    }

    .contacts-column-right:before {
        width: 345px;
        height: 1px;
        top: -24px;
        left: 0px;
    }

    section.ya-map {
        margin-top: 235px;
        margin-bottom: 100px;
    }
}


/* content pages */ 

section.content-page-container {
    max-width: 1230px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}


.main-cont {
    display: flex;
}

.share {
    display: flex;
    align-items: center;
}

.share-icons {
    display: flex;
    align-items: center;
}

.share-item-ico {
    margin-left: 20px;
}

.share-item-ico:hover svg path {
    fill: #1b1b1b;
    transition: .3s linear;
    cursor: pointer;
}

.date-share {
    display: flex;
}

.share-title {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: #959595;
}

.content-page .date {
    margin-bottom: 0;
    margin-right: 27px;
}

.content-page .title {
    margin-bottom: 10px;
}

.content-page {
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.left-container {
    max-width: 893px;
    width: 100%;
}

.content-block {
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.content-block.table-price .price-head {
    padding-left: 15px;
    padding-right: 15px;
}

.article {
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.article img {
    display: block;
    margin-bottom: 30px;
    border-radius: 10px;
}

.content-img-info {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
}

.article h1 {
    font-family: Europe;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #1B1B1B;
    margin-bottom: 15px;
}


.article p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1B1B1B;

    margin-bottom: 30px;
}

.article span {
    display: block;

    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: #1B1B1B;

    margin-bottom: 18px;
}


.article ul li {

    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    position: relative;

    margin: 0 10px 20px 15px;
}

.article ul li:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    background: #FFDD00;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}


.content-block h1 {
    font-family: Europe;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #1B1B1B;
    margin-bottom: 30px;
}


.content-exellence {
    display: flex;
    flex-direction: column;
}



.algorithm {
    margin-bottom: 30px;
}

.algorithm-item {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.algorithm-image {
    min-width: 278px;
    max-width: 278px;
    width: 100%;
}

.algorithm-subtitle {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #1B1B1B;

    margin-bottom: 16px;
}

.algorithm-subtitle span{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #959595;
    margin-right: 10px;
}

.algorithm-info {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    padding-left: 22px;
}

.algorithm-text {
    padding-left: 30px;
}

.algorithm-mobile-image {
    display: none;
}

.price-key-table-1 {
    margin-bottom: 20px;
    border: 1px solid #E9E9E9;
    border-radius: 10px;
}


.price-key-table-2 {
    margin-bottom: 30px;
    border: 1px solid #E9E9E9;
    border-radius: 10px;
}

.price-key .btn__line {
    max-width: 254px;
    width: 100%;
    margin-left: 15px;
}

.steps-roof-head {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.steps-roof-img {
    min-width: 379px;
    height: 325px;
}

.steps-roof-img img {
    height: 100%;
}

.steps-roof-text {
    padding-left: 30px;
}

.steps-text-title {
    font-family: Europe;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #1B1B1B;
    margin-bottom: 15px;
}

.steps-text-info {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
}

.steps-roof-mobile-img img{
    display: none;
    max-height: 229px;
    height: 100%;
    max-width: 345px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gallery-title-text {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: #1B1B1B;
}

.gallery-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.gallery-title-arrows {
    display: flex;
    align-items: center;
}

.gallery-title-arrow-next.slick-arrow {
    background-image: url(../img/arw-b.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 46px;
    height: 14px;
    transition: .3s linear;
}

.gallery-title-arrow-prev.slick-arrow {
    background-repeat: no-repeat;
    background-size: contain;
    width: 46px;
    height: 14px;
    background-image: url("../img/Vecto26.svg");
    transition: .3s linear;
    margin-right: 30px;
}

.gallery-title-arrow-next.slick-arrow:hover {
    background-image: url(../img/arw.svg);
    transition: .3s linear;
    cursor: pointer;
}

.gallery-title-arrow-prev.slick-arrow:hover {
    background-image: url(../img/Vecto26-w.svg);
    transition: .3s linear;
    cursor: pointer;
}


.quote-main {
    position: relative;
}

.quote-main::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 20px;
    width: 35px;
    height: 12px;
    background: url('../img/pages/quote.svg') no-repeat center;
    background-color: #fff;
}

.quote-main span {
    font-family: Lato;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1B1B1B;

    border: 1px solid #1B1B1B;
    border-radius: 10px;

    padding: 20px 30px;

    display: block;
}


.region-list-column a {
    display: table;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #1B1B1B;
    border-bottom: 1px dashed #959595;
    transition: 0.3s;
    margin-bottom: 20px;
}

.region-list-column a:hover {
    border-bottom: 1px dashed #1B1B1B;
}

.regions-list {
    display: flex;
}

.region-list-column {
    flex: 0 1 33.333%;
}


/*=== right container === */

.right-container {
    
    max-width: 277px;
    width: 100%;
    margin-left: 30px;
}

.right-container .btn__line {
    max-width: none;
    width: 100%;
}

.right-buttons a {
    margin-bottom: 20px;
}

.right-list-menu {
    border: 1px solid #E9E9E9;
    border-radius: 10px;
    padding: 22px 0px 30px 30px;
    height: 608px;
    overflow: hidden;
    position: relative;
}

.list-menu-cont ul {
    /*overflow-y: scroll;*/
    max-height: 530px;
    max-width: 277px;
}

.right-list-menu::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 22px;
    background: #FFDD00;
    top: 24px;
    left: 0;
    border-radius: 0px 3px 3px 0px;
}

.list-menu-title {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: #1B1B1B;

    margin-bottom: 10px;
}

.list-menu-cont ul li a {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #1B1B1B;

    margin-bottom: 14px;
}

.list-menu-cont ul li a.sub-item {
    padding-left: 16px;
    color: #959595;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.gallery-item.slick-slide {
    padding: 0 6px;
}

.gallery-slider.slick-slider {
    margin: 0 -6px;
}


section.content-page-container .buttons-bar {
    display: none;
}


@media (max-width: 1199px) {
    .right-container {
        display: none;
    }

    
    section.content-page-container .rates__btn .btn__line {
        margin-bottom: 30px;
        max-width: 254px;
        width: 100%;
    }

    section.content-page-container .buttons-bar {
        display: flex;
        margin-bottom: 0px;
    }
}


@media (max-width: 991px) {
    .steps-roof-img {
        min-width: 338px;
        height: 365px;
    }
}


@media (max-width: 575px) {

    section.content-page-container .buttons-bar {
        display: none;
    }


    .content-block.table-price {
        margin-bottom: 50px;
        padding-left: 0;
        padding-right: 0;
    }

    .algorithm-text {
        padding-left: 0;
    }

    .algorithm-image {
        display: none;
    }

    .algorithm-mobile-image {
        display: flex;
        max-width: 94px;
        height: 70px;
        margin-right: 20px;
        overflow: hidden;
        border-radius: 10px;
        min-width: 94px;
    }

    .algorithm-subtitle {
        display: flex;
        align-items: center;
    }

    .subtitle-name {
        display: flex;
        flex-direction: column;
    }

    .price-head {
        margin-bottom: 30px;
    }

    .date-share {
        display: flex;
        flex-wrap: wrap;
    }

    .date-share .date {
        margin-bottom: 16px;
        margin-right: 27px;
    }

    .content-page-img {
        margin-bottom: 25px;
        height: 200px;
    }

    .content-page-img img {
        max-height: 200px;
        height: 100%;
    }

    .content-block {
        margin-bottom: 40px;
    }

    .content-block h1 {
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .article img {

        margin-bottom: 25px;

        min-width: 345px;
        min-height: 200px;
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    .algorithm-info {
        padding-left: 0;
    }

    .algorithm-subtitle {
        margin-bottom: 15px;
    }

    .steps-roof-mobile-img img{
        display: block;
    }

    .steps-roof-img {
        display: none;
    }

    .steps-roof-text {
        padding-left: 0;
    }

    .steps-text-info {
        text-align: justify;
    }

    .gallery-item.slick-slide {
        padding: 0 6.5px;
    }

    .gallery-slider.slick-slider {
        margin: 0 -6.5px;
    }

    .region-list-column:last-child {
        display: none;
    }

    .region-list-column {
        flex: 0 1 50%;
    }
}





/*.foo.foo--inside{ background: white; border-radius: 6px; }
.foo.fakeScroll__scope{ background:none; }

.foo .fakeScroll__wrap{ background:#FFF; border-radius:6px; }*/

/* upper and bottom fades */












/* my */

.foo {
    position: relative;
    min-height: none;
    height: auto;
    overflow: auto;
}


.foo--inside{
    padding-right: 0;
}

.foo .fakeScroll__content {
    padding: 0;
    resize: both;
}

.foo--inside .fakeScroll__bar:hover {
    width: 6px;
    background: #FFDD00;
}

.foo--inside:hover .fakeScroll__bar.fakeScroll--grabbed{
    background-color: #808080;
}

.foo--inside .fakeScroll__track {
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    padding: 10px 0px;
    border-radius: 0 20px 20px 0;
    width: 6px;
    cursor: pointer;
    transition: .1s;
    background: #DDD;
}

.foo--inside .fakeScroll__bar {
    background: #959595;
    border-radius: 5px;
    transition: .1s box-shadow;
    width: 6px;
}


/*.fakeScroll__wrap::before { 
    content:''; 
    position:absolute; 
    z-index:1; 
    top:0; 
    left:0; 
    right:0; 
    height:5%;
    background: -webkit-linear-gradient(#FFF 0%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(#FFF 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(#FFF 0%, rgba(255,255,255,0) 100%);
}*/

.fakeScroll__wrap::after { 
    content:''; 
    position:absolute; 
    z-index:1; 
    bottom:0; 
    left:0; 
    right:0; 
    height:5%;
    background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, #FFF 100%);
    background: -o-linear-gradient(rgba(255,255,255,0) 0%, #FFF 100%);
    background: linear-gradient(rgba(255,255,255,0) 0%, #FFF 100%);
}



