@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&display=swap');


*, 
*::after, 
*::before {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

body {
    min-height: 100vh;
}

input,
button,
textarea,
select {
  font: inherit;
}


html,
body {
  scroll-behavior: smooth;
}


body {
  color: #757170;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  font-weight: 400;
  background-color: #fff;
  min-width: 375px;
  overflow-x: hidden;
  position: relative;
}


.wrapper {
    max-width: 1920px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.leftside {
    max-width: 645px;
    width: 100%;
    background: #e9e9e9;
    height: 100vh;
    padding: 40px 58px 30px 58px;
    overflow-y: scroll;
}


.leftside__header {
    color: #18b170;
    text-align: center;
}


.header-logo {
    font-size: 113px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 100%;
    margin-bottom: 32px;
}

.header-logo img {
    max-width: 346px;
    width: 100%;
    height: 117px;
    object-fit: contain;
    margin: auto;
}

.header-desc {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 1px;
    margin-bottom: 25px;
    text-align: justify;
}

.leftside__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 34px;
}

.leftside__item {
    position: relative;
    height: 143px;
    background: #cee0d8;
    border-radius: 10px;
    overflow: hidden;
    flex-basis: 20%;
    z-index: 0;
}


.leftside__item::after {
    position: absolute;
    content: '';
    background: url('../img/nofound.png') no-repeat;
    background-size: contain;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1;
}

img.num-mes {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
}



.leftside__item.active {
    background: #18b170;
}

.leftside__item.found:hover {
    cursor: pointer;
}



.rightside {
    width: 66.41%;
}

.marker_box-photo img {
    width: 220px;
    height: 310px;
    border-radius: 20px;
    border: 3px solid #18b170;
}

.marker_box-photo {
    border-radius: 20px;
    width: 100%;
    max-width: 220px;
    margin-right: 15px;
}

.marker_box-info {
    color: #18b170;
}

.marker_box-info h1 {
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 16px;
    padding: 12px 0;
    background: #18b170;
    color: #fff;
    border-radius: 8px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
}

.marker_box-info p {
    text-align: justify;
}

.main_info {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}

.marker_inform {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
    align-items: flex-start;
}

.marker-where {
    padding: 8px;
    background: #e9e9e9;
    border-radius: 8px;
    width: 48%;
    text-align: center;
}

.marker-append {
    padding: 8px;
    background: #e9e9e9;
    border-radius: 8px;
    width: 48%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
}

.marker-append p {
    font-family: 'Inconsolata', monospace;
    line-height: 1;
    font-size: 18px;
    font-weight: 600;
}

.marker-append img {
    width: 25px;
    object-fit: contain;
    height: 25px;
}


#map {
    height: 100%;
}

.marker_box {
    padding: 20px;
    display: flex;
}

.gm-style .gm-style-iw-tc {
    display: none;
}

.gm-style .gm-style-iw-d {
    padding: 0;
    overflow: hidden !important;
}

.gm-style .gm-style-iw-c {
    background-color: #cee0d8;
    border-radius: 10px;
    padding: 0px;
    box-shadow: none;
    transform: translate3d(-50%,-35%,0);
    display: flex;
}

.warning {
    display: none;
}

/* button.gm-ui-hover-effect {
    display: none !important;
} */


@media (max-width: 1279px) {
    .leftside {
        display: none;
    }

    .rightside {
        width: 100%;
        height: 100vh;
    }

    body.desktop {
        position: fixed;
        width: 100%;
    }

    body.desktop:after {
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.363);
    }

    .warning {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 360px;
        padding: 40px;
        border-radius: 20px;
        background: #cee0d8;
        z-index: 999;
    }

    .warning p {
        color: #18b170;
        font-size: 20px;
        text-align: center;
        font-weight: 500;
    }
}