@font-face {
    font-family: 'Europebold';
    src:  url('europe-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Europe';
    src:  url('europe-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*========= font-Lato =========*/


@font-face {
    font-family: 'Lato Hairline';
    src: url('Lato-Hairline.eot');
    src: local('Lato Hairline'), local('Lato-Hairline'),
    url('Lato-Hairline.eot?#iefix') format('embedded-opentype'),
    url('Lato-Hairline.woff') format('woff'),
    url('Lato-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Heavy.eot');
    src: local('Lato Heavy'), local('Lato-Heavy'),
    url('Lato-Heavy.eot?#iefix') format('embedded-opentype'),
    url('Lato-Heavy.woff') format('woff'),
    url('Lato-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.eot');
    src: local('Lato Regular'), local('Lato-Regular'),
    url('Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('Lato-Regular.woff') format('woff'),
    url('Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Black.eot');
    src: local('Lato Black'), local('Lato-Black'),
    url('Lato-Black.eot?#iefix') format('embedded-opentype'),
    url('Lato-Black.woff') format('woff'),
    url('Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'Lato';
    src: url('Lato-Thin.eot');
    src: local('Lato Thin'), local('Lato-Thin'),
    url('Lato-Thin.eot?#iefix') format('embedded-opentype'),
    url('Lato-Thin.woff') format('woff'),
    url('Lato-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Medium.eot');
    src: local('Lato Medium'), local('Lato-Medium'),
    url('Lato-Medium.eot?#iefix') format('embedded-opentype'),
    url('Lato-Medium.woff') format('woff'),
    url('Lato-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Italic.eot');
    src: local('Lato Italic'), local('Lato-Italic'),
    url('Lato-Italic.eot?#iefix') format('embedded-opentype'),
    url('Lato-Italic.woff') format('woff'),
    url('Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Semibold.eot');
    src: local('Lato Semibold'), local('Lato-Semibold'),
    url('Lato-Semibold.eot?#iefix') format('embedded-opentype'),
    url('Lato-Semibold.woff') format('woff'),
    url('Lato-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Bold.eot');
    src: local('Lato Bold'), local('Lato-Bold'),
    url('Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('Lato-Bold.woff') format('woff'),
    url('Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Lato';
    src: url('Lato-Light.eot');
    src: local('Lato Light'), local('Lato-Light'),
    url('Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('Lato-Light.woff') format('woff'),
    url('Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
