body {
    font-family: 'PT Sans Narrow', sans-serif;
}



.main-menu {
    background-image: url(../img/bg-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
}

.navbar-expand-lg {
    padding-top: 25px;
    padding-bottom: 22px;
}

.header-adress {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    align-items: center;
    color: #FAFAFA;
    display: inline-block;

}

.navbar-collapse {
    z-index: 9999999;
}

.header-adress-block {
    float: right;
}

.header-adress-block img {
    margin-top: 0px;
    margin-right: 14px;
    display: inline-block;
    z-index: 1;
}

.header-logo {
    float: right;
}

.main-header {
    background-image: url(../img/bg-2.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 550px;
    position: relative;

}

.header-grid {
    background-image: url(../img/grid.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
}

.header-grid .header-text {
    margin-top: 40px;
}

/* .main-header .icons {
    margin-top: 50px;
} */

.main-header .icons {
    margin-top: 50px;
    max-width: 558px;
    width: 100%;
    justify-content: space-between;
}


.main-header .bottom-box {
    margin-top: 70px;
}

.main-header h1 {
    color: #BB8E34;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    margin-top: 14px;
    margin-bottom: 0;
}

.main-header h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    color: #666666;
    text-transform: uppercase;
}

.main-header h5 {
    font-style: normal;
    /* font-weight: 700; */
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #666666;
    margin-bottom: 0;
}

.header-phone-image {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

.header-mail-image {
    float: left;
    margin-top: 8px;
    margin-right: 10px;
}

.icon-title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #666666;
    margin-top: 10px;
    margin-bottom: 0;
}

.active .icon-title {
    color: #BB8E34;
}

/* .icon {
    text-align: center;
} */

.icon {
    text-align: center;
    max-width: 159px;
    width: 100%;
    padding: 0;
}


.bottom-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    color: #757575;
    background: #FAFAFA;
    box-shadow: 0px 4px 10px rgba(102, 102, 102, 0.25);
    border-radius: 6px;
    padding: 14px 5px;
    margin-bottom: 0;
    /* letter-spacing: 0.2px; */
}

.main-header-btn {
    padding: 14px 35px;
    background: #BB8E34;
    box-shadow: 0px 4px 10px rgba(102, 102, 102, 0.25);
    border-radius: 6px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    margin-top: 20px;
    margin-bottom: 32px;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.3px;
}

.main-header-btn:hover {
    color: #FFFFFF;
}

.cost {
    background: #FAFAFA;
    box-shadow: 0px 4px 10px rgba(102, 102, 102, 0.25);
    border-radius: 6px;

    padding-bottom: 25px;
    padding-top: 25px;
}

.cost h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #666666;
    padding-bottom: 25px;
}

.step {
    background-image: url(../img/bg-3.png), url(../img/grid.png);
    ;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;

}

.step .card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #BB8E34;
    margin-top: 12px;
}

.step .card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    color: #666666;
}

.step .card-body {
    margin-top: -13px;
    margin-right: 9px;
    margin-left: 9px;
    background: #FAFAFA;
    border-radius: 0px 0px 6px 6px;
    height: 150px;
}

.header-step {
    padding-top: 40px;
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
}

.step .card {
    width: 310px;
    background-color: transparent;
    border: none;
    position: relative;
}

.header-phone {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FAFAFA;
    margin: 0;
}

.header-mail {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #FAFAFA;
    text-transform: lowercase;
    ;
    margin: 0;

}

.main-menu .nav-item {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: #FAFAFA;
    padding-right: 50px;
}

.main-menu .nav-item a {
    color: #FAFAFA;
}

.main-menu .nav-item a:hover {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #BB8E34;
}

.phone-order {
    width: 110px;
    height: 32px;
    background: #BB8E34;
    border: 1px solid #BB8E34;
    border-radius: 6px;
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FAFAFA;
    padding: 0 15px;
    float: right;
}

.phone-order:hover {
    background: #BB8E34;
    color: #FAFAFA;
    border: none;
}

.phone-order:focus {
    background: #BB8E34;
    color: #FAFAFA;
    border: none;
}



.logo-text-1 {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    font-size: 23px;
    line-height: 23px;
    color: #F3F3F3;
    margin-bottom: 5px;
}

.logo-text-2,
.logo-text-4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    color: #C9CCCF;
}

.logo-text-3 {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FAFAFA;
    margin-bottom: 5px;
}

.cost .nav-item {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #666666;
    padding-right: 100px;
}

.cost .nav-item a {
    color: #FAFAFA;
}

.cost .nav-item a:hover {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #BB8E34;
}

.nav-link {
    border: none;
    padding-right: 115px;
    margin: 0 auto;
}

.nav-tabs .nav-link.active {
    background-color: transparent;
    border: none;
}

.nav-tabs {
    border: none;
}

.nav-tabs .nav-link {
    border: none;
}

.tab-pane {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(102, 102, 102, 0.25);
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    position: relative;
}

.tab-arrow-1 {
    position: absolute;
    top: -25px;
    left: 50px;
}

.tab-arrow-2 {
    position: absolute;
    top: -25px;
    left: 280px;
}

.tab-arrow-3 {
    position: absolute;
    top: -25px;
    left: 500px;
}

.tab-arrow-4 {
    position: absolute;
    top: -25px;
    left: 710px;
}

.tab-arrow-5 {
    position: absolute;
    top: -25px;
    left: 910px;
}

.tab-arrow-6 {
    position: absolute;
    top: -25px;
    left: 1120px;
}

.num-img {
    position: absolute;
    top: 145px;
    left: 9px;
}

.card-margin {
    margin-top: 35px;
    padding-bottom: 90px;
}

.work {
    background-image: url(../img/grid.png);
}

.work .row {
    padding-bottom: 40px;
}

.work .text-block {
    position: absolute;
    bottom: 30px;
    left: 40px;
}

.work-card {
    filter: drop-shadow(0px 4px 10px rgba(102, 102, 102, 0.25));
    border-radius: 6px;
    padding: 0;
    margin-left: -5px;
}

.work-card .text {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FAFAFA;
}

.work h1 {
    padding-bottom: 20px;
    padding-top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #666666;
}

.auto .row {
    padding-bottom: 18px;
}

.auto h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #666666;
    padding-top: 30px;
    padding-bottom: 30px;
}

.auto h5 {
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    align-items: center;
    text-transform: uppercase;
    color: #666666;
    padding-top: 25px;
    padding-bottom: 10px;
}

.auto .text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #757575;
    text-align: justify;
}

.overlay {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(255, 255, 255, 0.8), rgb(255, 255, 255, 0.8)), url("../img/grid.png");
    background-repeat: no-repeat;
}

.brand {
    background: #FAFAFA;
    box-shadow: 0px 4px 10px rgba(102, 102, 102, 0.25);
    border-radius: 6px;
    padding-bottom: 50px;
}

.brand .img-1 {
    margin-right: 70px;
    margin-bottom: 40px;
}

.brand .img-2 {
    margin-bottom: 40px;
}

.brand .img-3 {
    margin-right: 70px;
    margin-top: -35px;
}

.brand .img-4 {
    margin-bottom: 20px;
}

.brand h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #666666;
    padding-top: 50px;
    padding-bottom: 30px;
}

.brand p {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #757575;
    padding: 0 60px;
}

.garant {
    background-image: url(../img/grid.png);
    padding: 0 100px;
}

.garant .row {
    padding: 40px;
}

.garant .images {
    display: inline-block;
    margin-right: 20px;
}

.garant .text {
    display: inline-block;
}

.garant h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #666666;
    padding-top: 40px;
    padding-bottom: 20px;
}

.garant h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    color: #BB8E34;
}

.garant p {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #757575;
}



.faq h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 20px;
}

.faq {
    padding-bottom: 40px;
}

.faq-number {
    background-color: #BB8E34;
    border-radius: 100%;
    color: #fff;
    margin-right: 8px;
    height: 25px;
    width: 25px;
    padding-left: 10px;
    padding-top: 5px;
}

.accordion-button {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    text-transform: uppercase;
    color: #666666;
    padding-top: 20px;
    padding-bottom: 20px;
}

.accordion-button:not(.collapsed) {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    text-transform: uppercase;
    color: #BB8E34;
    background-color: transparent;
    box-shadow: none;
}

.accordion-body {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #666666;
    background: #FAFAFA;
    box-shadow: 0px 4px 10px rgba(102, 102, 102, 0.25);
    border-radius: 0px 0px 6px 6px;
    margin-bottom: 20px;

}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/accordion-arrow-active.png);
}

.accordion-button::after {
    background-image: url(../img/accordion-arrow.png);
}

.accordion-item .accordion-button {
    border: 1px solid #BB8E34;
    border-radius: 6px;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-item {
    border: none;
}

.question {
    background: #FAFAFA;
    box-shadow: 0px 4px 10px rgba(102, 102, 102, 0.25);
    border-radius: 6px;
    background-image: url(../img/grid.png);
    padding-bottom: 40px;
}

.question .mr-1 {
    margin-top: 40px;
}

.question .mr-2 {
    margin-top: 20px;
}

.question .img-1 {
    height: 360px;
}

.question h5 {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #666666;
    padding-top: 40px;
}

.question h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #BB8E34;
    padding-bottom: 20px;
}

.question h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #666666;
    padding-bottom: 20px;
}

.question span {
    color: #BB8E34;
}

.question textarea {
    height: 96px;
    background: #FAFAFA;
    border: 1px solid #757575;
    border-radius: 3px;
    width: 100%;
    padding: 12px;
}

.question textarea:focus {
    background: #fff;
    outline: none;
    border: 1px #BB8E34 solid;

}


.question input:focus {
    box-shadow: none;
    border: 1px #BB8E34 solid;
}

.question input {
    align-items: center;
    padding: 12px;
    width: 246px;
    height: 40px;
    background: #FAFAFA;
    border: 1px solid #757575;
    border-radius: 3px;
}

.form-title {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #666666
}

.question input:first-of-type {
    margin-right: 25px;
}

.form-privacy {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #757575;
    display: inline-block;
}

.btn-form {
    width: 172px;
    height: 42px;
    background: #BB8E34;
    box-shadow: 0px 4px 10px rgba(102, 102, 102, 0.25);
    border-radius: 6px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FAFAFA;
    display: inline-block;
    float: right;
}

.btn-form:hover {
    background: #BB8E34;
    border: none;
    color: #fff;
}

.contact-box {
    justify-content: center;
    align-items: center;
    padding: 39px 63px;
    position: absolute;
    left: 16%;
    top: 19%;
    background: #FFFFFF;
    box-shadow: 0px 6px 14px rgba(102, 102, 102, 0.25);
    border-radius: 8px;
}

.contact-title {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 23px;
    text-transform: uppercase;
    color: #666666;
    padding-bottom: 27px;
}

.contact-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #666666;
    display: inline-block;
}

.map {
    position: relative;
}



.contact a {
    color: #666666;
}

.contact a:hover {
    color: #BB8E34;
}

.contact .img-1 {
    display: inline;
    margin-top: 15px;
    margin-right: 25px;
    float: left;
}

.contact .block-1 {
    margin-top: 30px;
}

.contact .block-1 .img-1 {
    display: inline;
    margin-top: 15px;
    margin-right: 25px;
    float: left;
}


.contact-phone {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #666666;
    margin: 0 30px 0 0;
    display: inline-block;
}


.overlay-vk {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(102, 102, 102, 0.3), rgb(102, 102, 102, 0.3)), url("../img/grid.png");
    background-repeat: no-repeat;
}

.vk {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 28px;
    text-transform: uppercase;
    color: #666666;
    padding-bottom: 23px;
}


.vk .img-r {
    padding-top: 40px;
    padding-bottom: 40px;
}

.vk .img-1 {
    float: right;
    margin-right: 60px;
}

.vk .img-2 {
    margin-right: 18px;
}

.vk-text {
    float: right;
}

.vk-bottom a {
    float: right;
}

.vk a {
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    text-decoration-line: underline;
    color: #BB8E34;
    margin-top: 10px;
    text-transform: none;
}

.gallery {
    padding-bottom: 40px;
}

.gallery h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #666666;
    padding-top: 50px;
    padding-bottom: 40px;
}

.gallery p {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: #666666;

}

.gallery span {
    color: #BB8E34;
}

.gallery .img-box img{
    box-shadow: 0px 2px 5px 2px rgba(187, 142, 52, 0.6);
border-radius: 4px;
padding: 0;

}

.carousel-control-next-icon {
    background-image: url(../img/g-arrow-right.png);
}

.carousel-control-prev-icon {
    background-image: url(../img/g-arrow-left.png);
}

.answer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(../img/grid.png);

}

.footer {
    background-color: #1F2B38;
    height: 150px;
    padding-top: 55px;
    padding-bottom: 55px;
}

.footer .bank-logo {
    margin-right: 7px;
}

.footer .bank-title {
    margin-right: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: #C9CCCF;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 13px;
}

.footer .bank-block-1 {
    position: absolute;
    right: 0px;
    top: 0;
}

.footer .block-1 {
    margin-top: 13px;
}

.footer .block-2 {
    margin-top: 13px;
}

.footer .block-3 {
    position: relative;
    margin-top: 12px;
}


.footer .block-4 {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: right;

}

.footer .block-4 p {
    color: #fff;
    margin: 0;
}

.footer .block-5 {

    position: absolute;
    top: 10px;
    left: 110px;
}

.footer .block-6 {
    float: right;
    position: absolute;
    right: 240px;
    top: -2px;
}


.footer .img-1 {
    margin-right: 28px;
}

.footer .block-4 .img-2 {
    margin-right: 15px;
}



.logo-text-5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #F3F3F3;
    padding: 0;
    margin: 0;
}

.logo-text-6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    color: #C9CCCF;
    padding: 0;
    margin: 0;
}

.copyright {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
    margin: 0;
}

.about {
    background-color: #FAFAFA;
    padding-bottom: 40px;
}

.about h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #666666;
    padding-top: 40px;
    padding-bottom: 20px;
}

.about p {
    padding-bottom: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #757575;
}

.about span {
    color: #BB8E34;
}

.phone-about {
    width: 207px;
    height: 48px;
    background: #BB8E34;
    border: 1px solid #BB8E34;
    border-radius: 6px;
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FAFAFA;
    padding: 0 15px;
    margin-left: 10px;
}

.phone-about:hover {
    background: #BB8E34;
    border: none;
    color: #FAFAFA;
}

.phone-about:focus {
    background: #BB8E34;
    border: none;
    color: #FAFAFA;
}


.active .cost-img-1 {
    background-image: url(../img/cost-1a.svg);
    width: 76px;
    height: 76px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.cost-img-1 {
    background-image: url(../img/cost-1.svg);
    width: 75px;
    height: 75px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.active .cost-img-2 {
    background-image: url(../img/cost-2a.svg);
    width: 75px;
    height: 75px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.cost-img-2 {
    background-image: url(../img/cost-2.svg);
    width: 69px;
    height: 69px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.active .cost-img-3 {
    background-image: url(../img/cost-3a.svg);
    width: 75px;
    height: 75px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.cost-img-3 {
    background-image: url(../img/cost-3.svg);
    width: 69px;
    height: 69px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.active .cost-img-4 {
    background-image: url(../img/cost-4a.svg);
    width: 75px;
    height: 75px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.cost-img-4 {
    background-image: url(../img/cost-4.svg);
    width: 69px;
    height: 69px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.active .cost-img-5 {
    background-image: url(../img/cost-5a.svg);
    width: 75px;
    height: 75px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.cost-img-5 {
    background-image: url(../img/cost-5.svg);
    width: 69px;
    height: 69px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.active .cost-img-6 {
    background-image: url(../img/cost-6a.svg);
    width: 75px;
    height: 75px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.cost-img-6 {
    background-image: url(../img/cost-6.svg);
    width: 69px;
    height: 69px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.vk-text a {

    font-weight: 700;
    font-size: 24.6991px;
    line-height: 28px;
    text-transform: uppercase;
    color: #666666;
    text-decoration: none;
}

.quiz {
    padding-bottom: 40px;
}

.quiz h1 {
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #666666;
    padding-top: 20px;
    padding-bottom: 40px;
}

.modal-zakaz {
    width: 111px;
    height: 48px;
    background: #BB8E34;
    border-radius: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
    float: right;
}

.modal-zakaz:hover {
    width: 111px;
    height: 48px;
    background: #BB8E34;
    border-radius: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.modal-privacy {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    color: rgba(63, 70, 78, 0.5);
    display: inline-block;
}

.modal-content {
    padding: 35px;
    background: #F9FAFB;
}

.zakaz input {
    padding: 12px;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #eee;
}

.zakaz input:focus {
    border: 1px #BB8E34 solid;
    box-shadow: none;
}


.zakaz textarea:focus {
    background: #fff;
    outline: none;
    border: 1px #BB8E34 solid;
}

.zakaz textarea {
    padding: 12px;
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #eee;
    outline: none;
}

#zakazModalLabel {
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    color: #BB8E34;
}



#success_message {
    display: none;
    padding-top: 30px;
    padding-bottom: 30px;
}

#success_message_1 {
    display: none;
    padding-top: 30px;
    padding-bottom: 30px;
}

#success_message_2 {
    display: none;
    padding-top: 30px;
    padding-bottom: 30px;
}

.gal-fot {
    margin-top: 15px;
}

.gal-margin .col{
    margin-right: 8px;
}

.gal-icon {
    margin-right: 22px;
    /*margin-top: -10px;*/
    float: left;
}

.table-responsive {
    margin-top: 20px;
}

.table-left {
    text-align: right;
    color: #BB8E34;
}

.navbar-toggler-icon {
    background-image: url(../img/burger.svg);
    margin-left: -30px;
}

.navbar-toggler-icon:focus {
    background-image: url(../img/burger.svg);
    margin-left: 30px;
}

.menu-2 .navbar-toggler-icon {
    background-image: url(../img/header-i-1.png);
    margin-right: -50px;
}

#zvonokModal {
    z-index: 99999999;
}

.footer hr {
    border: 1px solid #798797;
}

.f-img {
    margin-right: 5px;
}

.f-main {
    margin-top: 7px;
}

.f-text {
    line-height: 1;
    float: left;
    color: #fff;
    margin-right: 15px;
}



@media screen and (min-width:275px) and (max-width:992px) {



    .footer .block-3 {
        display: none;
    }

    .mob-text {
        padding: 0;
        margin: 0;
    }

    .vk .img-1 {
        float: none;
        margin-right: 60px;
    }

    .vk-text {
        margin: 0;
    }

    /* Question */

    .question h1 {
        font-size: 35px;
        line-height: 35px;
        padding-bottom: 5px;
    }

    .question h5 {
        font-size: 14px;
        line-height: 16px;
        padding-top: 20px;
    }

    .question h6 {
        font-size: 16px;
        line-height: 16px;
    }

    .form-title {
        font-size: 14px;
        line-height: 16px;
        padding-top: 30px;
        padding-bottom: 5px;
    }

    .form-privacy {
        font-size: 12px;
        line-height: 14px;
        margin: 0;
        padding: 0;
    }

    .btn-form {
        width: 100%;
        height: 48px;
        font-size: 14px;
        line-height: 20px;
        float: none;
        text-align: center;
        margin-top: 30px;

    }

    .question .mr-1 {
        margin-top: 2px;
    }

    .question .mr-2 {
        margin-top: 2px;
    }

    .question .input-group {
        display: none;
    }

    .question input {
        width: 100%;
        margin-bottom: 25px;
    }

    .question .img-fluid {
        padding-bottom: 10px;
    }


    /* Contact */
    .contact-box {
        width: 90%;
        padding: 15px 20px;
        position: absolute;
        left: 5%;
        top: 55%;
        height: 250px;
    }

    .contact-title {
        font-size: 12px;
        line-height: 12px;
        padding-bottom: 15px;
    }

    .contact-phone {
        font-size: 12px;
        line-height: 14px;
        margin: 0 0 0 0;
        display: inline;
    }

    .contact-phone:first-of-type {
        padding-right: 15px;
    }

    .contact-text {
        font-size: 10px;
        line-height: 14px;
        padding-top: 8px;
    }

    .contact .img-1 {
        margin-top: 15px;
        margin-right: 25px;
        float: left;
        height: 17px;
        width: 21px;
    }

    .contact .block-1 {
        margin-top: 0px;
    }



    .contact .img-mob {
        margin-top: 15px;
        margin-right: 25px;
        float: left;
        height: 21px;
        width: 17px;
    }


    /* FAQ */
    .faq .accord {
        padding: 0 10px;
    }

    .faq h1 {
        font-size: 14px;
        line-height: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
    }


    /* About */
    .about h1 {
        font-size: 14px;
        line-height: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .about p {
        padding-bottom: 40px;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        color: #757575;
    }

    .phone-about {
        width: 100%;
        height: 48px;
        font-size: 14px;
        line-height: 20px;
        float: none;
        text-align: center;

    }


    /* Auto */
    .auto h1 {
        font-size: 14px;
        line-height: 16px;
    }

    .auto .text {

        padding-right: 0px;

    }

    /* Brand */
    .brand h1 {
        font-size: 14px;
        line-height: 16px;
        padding-top: 20px;
        padding-bottom: 15x;
    }

    .brand p {
        padding: 0px 0px;
    }

    .brand .img-fluid {
        height: 30px;
        width: 90px;
    }

    /* Garant */
    .garant h1 {
        font-size: 14px;
        line-height: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .garant {
        padding: 0px 0px;
    }

    .garant .row {
        padding: 0px;
    }

    .garant h6 {
        font-size: 24px;
        line-height: 26px;
    }

    .garant p {
        font-size: 12px;
        line-height: 19px;
    }

    .garant .img-fluid {
        height: 80px;
        width: 80px;
    }

    .garant .text {
        padding-top: 10px;
    }


    /* Tabs */
    .tab-pane {
        padding: 10px 10px;
    }



    .nav-link {
        padding-right: 0px;
    }

    .cost button {
        width: 50%;
    }

    .bottom-text {
        font-size: 11px;
        line-height: 11px;
        padding: 10px 10px;
        margin-bottom: 20px;
    }


    .main-header h1 {
        font-size: 24px;
        line-height: 26px;
        margin-top: 15px;
    }


    .main-header h5 {
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #FAFAFA;
    }

    .header-grid .header-text {
        margin-top: 20px;
    }

    .main-header .icons {
        margin-top: 20px;
    }

    .icon {
        text-align: left;
        padding-top: 20px;
    }

    .icons .img-fluid {
        float: left;
        margin-right: 10px;
    }

    .icon-title {
        font-size: 14px;
        line-height: 16px;
        text-align: left;
        margin-top: 10px;
    }

    .tab-center .icon-title {
        text-align: center;
    }

    .main-header .bottom-box {
        padding: 0;
        margin: 0;
        margin-top: 20px;
       
    }


    .main-header {
        background-image: url(../img/bg-2-mob.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        min-height: 500px;
        position: relative;
    }

    .header-grid {
        padding-right: 0;
        padding-left: 0;
    }

    .main-menu {

        height: 75px;
        z-index: 9999;
    }


    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-toggler {
        border: none;
    }

    .main-menu .navbar-nav {
        background-color: #1F2B38;
    }

    .main-menu .nav-item {
        padding-right: 0;
    }

.main-menu .nav-item a, .main-menu .nav-item p{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #FAFAFA;
    text-align: left;
    padding-left: 12px;
    text-transform: uppercase;
    border-left: 5px solid transparent;
    border-bottom: 1px #3D505D solid;
}

.main-menu .nav-item a:hover {
   border-left: 5px #BB8E34 solid;
   font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #BB8E34;
    text-decoration: none;

}


.navbar-nav .nav-link.active {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    color: #BB8E34;
}

    #navbarSupportedContent2 .header-phone,
    #navbarSupportedContent2 .header-mail {
        color: #FAFAFA;
        padding: 10px;
    }

    .m-text-1 {
        font-size: 11px;
        color: #fff;
        padding: 0;
        margin: 0;
    }

    .m-text-2 {
        font-size: 16px;
        color: #fff;
        padding: 0;
        margin: 0;
    }


    .copyright {

        font-size: 13px;
        line-height: 14px;
        margin-bottom: 10px;
    }

    .h-logo {
        height: 25px;
        width: 32px;
        margin-top: -5px;
    }

    .h-text {
        padding: 0;
        margin-top: -8px;
    }

    .vk .img-fluid {
        margin-bottom: 10px;
    }

    .vk-text a {
        font-size: 9px;
        line-height: 18px;
    }

    .vk .img-2 {
        width: 16px;
        height: 16px;
        margin-top: 10px;
    }

    .vk-box {
        padding-right: 10px;
        margin-bottom: 0px;

    }

    .vk .img-r {
        padding-top: 0px;
        padding-bottom: 0px;

    }

    .vk a {
        font-size: 9px;
        line-height: 21px;
        text-align: left;
        padding-top: 50px;
    }

    .vk-bottom a {
        float: none;
    }


    .modal-zakaz {
        width: 73.52px;
        height: 31.52px;
        background: #BB8E34;
        border-radius: 3.94059px;
    }

    .modal-zakaz:hover {
        width: 73.52px;
        height: 31.52px;
        background: #BB8E34;
        border-radius: 3.94059px;
    }


    .modal-privacy {
        font-size: 9px;
        line-height: 11px;
    }

    .modal-content {
        padding: 23px;
        background: #F9FAFB;
    }

    .zakaz input {
        padding: 8px;
        width: 100%;
        height: 27px;
        background: #FFFFFF;
        border-radius: 2px;
        border: 1px solid #eee;
    }

    .zakaz input:focus {
        border: 1px #BB8E34 solid;
        box-shadow: none;
    }


    .zakaz textarea:focus {
        background: #fff;
        outline: none;
        border: 1px #BB8E34 solid;
    }

    .zakaz textarea {
        padding: 8px;
        width: 100%;
        height: 50px;
        background: #FFFFFF;
        border-radius: 2px;
        border: 1px solid #eee;
        outline: none;
    }

    #zakazModalLabel {
        font-size: 23px;
        line-height: 26px;
        text-transform: uppercase;
        color: #BB8E34;
    }

    .mob-num-6 {
        border-radius: 100%;
        height: 25px;
        width: 25px;
        padding: 5px 10px 5px 10px;
    }


    .mob-arrows-left {
        position: absolute;
        bottom: -50px;
        left: 80px;
    }

    .mob-arrows-right {
        position: absolute;
        bottom: -50px;
        right: 100px;
    }

    .header-step {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 14px;
        line-height: 16px;
    }

    .quiz h1 {
        font-size: 14px;
        line-height: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
    }


}


@media screen and (min-width:400px) and (max-width:993px) {
    .main-header {
        background-image: url(../img/bg-2.png);
        background-position: 80% 100%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        min-height: 550px;
        position: relative;

    }

}



@media screen and (min-width:993px) and (max-width:1099px) {
    .main-header {
        background-image: url(../img/bg-2.png);
        background-position: 90% 100%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        min-height: 550px;
        position: relative;

    }

}


@media screen and (min-width:1100px) and (max-width:1400px) {
    .main-header {
        background-image: url(../img/bg-2.png);
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        min-height: 550px;
        max-height: 654px;
        position: relative;
        padding: 0 20px;
    }

}

@media screen and (min-width:1401px) {
    .main-header {
        background-image: url(../img/bg-2.png);
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        min-height: 550px;
        max-height: 654px;
        position: relative;
    }
}



@media screen and (min-width:768px) {
    .input-group-2 {
        display: none;
    }
}


@media screen and (min-width:768px) and (max-width:1919px) {
    .step .card {
        width: 280px;
    }

    .num-img {
        position: absolute;
        top: 128px;
        left: 9px;

    }

    .cost .nav-item {
        padding-right: 0px;
    }

    .nav-link {

        padding-right: 30px;

    }


    .main-header {

        height: 115vh;


    }


}

@media screen and (min-width:768px) and (max-width:1200px) {
    .step .card {
        padding-bottom: 20px;
        margin: 0 auto;
    }
}

@media screen and (min-width:320px) and (max-width:399px) {
    .tab-arrow-1 {
        position: absolute;
        top: -25px;
        left: 60px;
    }

    .tab-arrow-2 {
        position: absolute;
        top: -25px;
        left: 215px;
    }

    .tab-arrow-3 {
        position: absolute;
        top: -25px;
        left: 60px;
    }

    .tab-arrow-4 {
        position: absolute;
        top: -25px;
        left: 215px;
    }

    .tab-arrow-5 {
        position: absolute;
        top: -25px;
        left: 60px;
    }

    .tab-arrow-6 {
        position: absolute;
        top: -25px;
        left: 215px;
    }
}

@media screen and (min-width:400px) and (max-width:430px) {
    .tab-arrow-1 {
        position: absolute;
        top: -25px;
        left: 75px;
    }

    .tab-arrow-2 {
        position: absolute;
        top: -25px;
        left: 255px;
    }

    .tab-arrow-3 {
        position: absolute;
        top: -25px;
        left: 75px;
    }

    .tab-arrow-4 {
        position: absolute;
        top: -25px;
        left: 255px;
    }

    .tab-arrow-5 {
        position: absolute;
        top: -25px;
        left: 75px;
    }

    .tab-arrow-6 {
        position: absolute;
        top: -25px;
        left: 255px;
    }
}



@media screen and (min-width:431px) and (max-width:475px) {
    .tab-arrow-1 {
        position: absolute;
        top: -25px;
        left: 80px;
    }

    .tab-arrow-2 {
        position: absolute;
        top: -25px;
        left: 280px;
    }

    .tab-arrow-3 {
        position: absolute;
        top: -25px;
        left: 80px;
    }

    .tab-arrow-4 {
        position: absolute;
        top: -25px;
        left: 280px;
    }

    .tab-arrow-5 {
        position: absolute;
        top: -25px;
        left: 80px;
    }

    .tab-arrow-6 {
        position: absolute;
        top: -25px;
        left: 280px;
    }
}


@media screen and (min-width:475px) and (max-width:519px) {
    .tab-arrow-1 {
        position: absolute;
        top: -25px;
        left: 90px;
    }

    .tab-arrow-2 {
        position: absolute;
        top: -25px;
        left: 310px;
    }

    .tab-arrow-3 {
        position: absolute;
        top: -25px;
        left: 90px;
    }

    .tab-arrow-4 {
        position: absolute;
        top: -25px;
        left: 310px;
    }

    .tab-arrow-5 {
        position: absolute;
        top: -25px;
        left: 90px;
    }

    .tab-arrow-6 {
        position: absolute;
        top: -25px;
        left: 310px;
    }
}



@media screen and (min-width:520px) and (max-width:559px) {
    .tab-arrow-1 {
        position: absolute;
        top: -25px;
        left: 100px;
    }

    .tab-arrow-2 {
        position: absolute;
        top: -25px;
        left: 340px;
    }

    .tab-arrow-3 {
        position: absolute;
        top: -25px;
        left: 100px;
    }

    .tab-arrow-4 {
        position: absolute;
        top: -25px;
        left: 340px;
    }

    .tab-arrow-5 {
        position: absolute;
        top: -25px;
        left: 100px;
    }

    .tab-arrow-6 {
        position: absolute;
        top: -25px;
        left: 340px;
    }
}


@media screen and (min-width:560px) and (max-width:766px) {
    .tab-arrow-1 {
        position: absolute;
        top: -25px;
        left: 110px;
    }

    .tab-arrow-2 {
        position: absolute;
        top: -25px;
        left: 370px;
    }

    .tab-arrow-3 {
        position: absolute;
        top: -25px;
        left: 110px;
    }

    .tab-arrow-4 {
        position: absolute;
        top: -25px;
        left: 370px;
    }

    .tab-arrow-5 {
        position: absolute;
        top: -25px;
        left: 110px;
    }

    .tab-arrow-6 {
        position: absolute;
        top: -25px;
        left: 370px;
    }
}


@media screen and (min-width:767px) and (max-width:992px) {
    .tab-arrow-1 {
        position: absolute;
        top: -25px;
        left: 140px;
    }

    .tab-arrow-2 {
        position: absolute;
        top: -25px;
        left: 485px;
    }

    .tab-arrow-3 {
        position: absolute;
        top: -25px;
        left: 140px;
    }

    .tab-arrow-4 {
        position: absolute;
        top: -25px;
        left: 485px;
    }

    .tab-arrow-5 {
        position: absolute;
        top: -25px;
        left: 140px;
    }

    .tab-arrow-6 {
        position: absolute;
        top: -25px;
        left: 485px;
    }
}


@media screen and (min-width:993px) and (max-width:1199px) {
    .tab-arrow-1 {
        position: absolute;
        top: -25px;
        left: calc(0% + 45px);
    }

    .tab-arrow-2 {
        position: absolute;
        top: -25px;
        left: calc(0% + 200px);
    }

    .tab-arrow-3 {
        position: absolute;
        top: -25px;
        left: calc(0% + 355px);
    }

    .tab-arrow-4 {
        position: absolute;
        top: -25px;
        left: calc(0% + 515px);
    }

    .tab-arrow-5 {
        position: absolute;
        top: -25px;
        left: calc(0% + 665px);
    }

    .tab-arrow-6 {
        position: absolute;
        top: -25px;
        left: calc(0% + 825px);
    }

}


@media screen and (min-width:1200px) and (max-width:1399px) {
    .tab-arrow-1 {
        position: absolute;
        top: -25px;
        left: calc(0% + 65px);
    }

    .tab-arrow-2 {
        position: absolute;
        top: -25px;
        left: calc(0% + 250px);
    }

    .tab-arrow-3 {
        position: absolute;
        top: -25px;
        left: calc(0% + 435px);
    }

    .tab-arrow-4 {
        position: absolute;
        top: -25px;
        left: calc(0% + 620px);
    }

    .tab-arrow-5 {
        position: absolute;
        top: -25px;
        left: calc(0% + 805px);
    }

    .tab-arrow-6 {
        position: absolute;
        top: -25px;
        left: calc(0% + 990px);
    }

}


@media screen and (min-width:1400px) and (max-width:1919px) {
    .tab-arrow-1 {
        position: absolute;
        top: -25px;
        left: calc(0% + 75px);
    }

    .tab-arrow-2 {
        position: absolute;
        top: -25px;
        left: calc(0% + 295px);
    }

    .tab-arrow-3 {
        position: absolute;
        top: -25px;
        left: calc(0% + 515px);
    }

    .tab-arrow-4 {
        position: absolute;
        top: -25px;
        left: calc(0% + 725px);
    }

    .tab-arrow-5 {
        position: absolute;
        top: -25px;
        left: calc(0% + 940px);
    }

    .tab-arrow-6 {
        position: absolute;
        top: -25px;
        left: calc(0% + 1155px);
    }

}

@media screen and (min-width:1919px) {
    .tab-arrow-1 {
        position: absolute;
        top: -25px;
        left: calc(0% + 35px);
    }

    .tab-arrow-2 {
        position: absolute;
        top: -25px;
        left: calc(0% + 250px);
    }

    .tab-arrow-3 {
        position: absolute;
        top: -25px;
        left: calc(0% + 470px);
    }

    .tab-arrow-4 {
        position: absolute;
        top: -25px;
        left: calc(0% + 685px);
    }

    .tab-arrow-5 {
        position: absolute;
        top: -25px;
        left: calc(0% + 895px);
    }

    .tab-arrow-6 {
        position: absolute;
        top: -25px;
        left: calc(0% + 1115px);
    }

}




@media screen and (min-width:275px) and (max-width:768px) {
    .gal-margin {
        margin-top: 80px;
    }

    .footer {

        height: 220px;
        padding: 20px 16px 22px 16px;
    }

}

@media screen and (min-width:768px) and (max-width:992px) {
    .gal-margin {
        margin-top: 0px;
    }

    .footer-logo {
        display: none;
    }
}



@media screen and (min-width:993px) and (max-width:1200px) {

    .header-adress-block {
        display: none !important;
    }

    .phone-order,
    .logo-text-3,
    .logo-text-4,
    .logo-text-2 {
        display: none;
    }

    .tab-width {
        width: 200px;
    }

}


@media screen and (min-width:993px) {

    .garant .centered,
    .auto .centered {
        text-align: center;
    }

    .footer-logo {
        float: right;
        margin-right: 12px;
    }

}

@media screen and (min-width:1200px) and (max-width:1400px) {

    .logo-text-3,
    .logo-text-4 {
        text-align: center;
    }

}

@media screen and (min-width:1600px) {

    .gal-margin{
    margin-top: 30px;
}

}

@media screen and (min-width:1200px) {

    .about .phone-about{
        position: absolute;
        bottom: 15px;
        margin: 0;
    }
    .about .text-box{
        position: relative;
    }

    .about .img-about{
    max-height: 350px;
    float: right;
}


}


@media screen and (min-width:1200px) and (max-width:1400px) {
.vk-box, .vk-bottom {
    padding-right: 30px;

}
.brand .text-block {
     padding-right: 40px;
}

}


@media screen and (min-width:1400px) {

.vk-box, .vk-bottom {
    padding-right: 60px;

}

.gal-right{
    position: absolute;
    bottom: 0;
    left: 0;
}
.gal-margin{
    position: relative;
    margin-top: 0;
}

.phone-block {
        
        width: 180px;
    }
}



@media screen and (min-width:300px) and (max-width:420px) {
.main-header .bottom-text  {
    font-size: 12px;
}
}

@media screen and (min-width:993px) and (max-width:1200px) {
.gal-margin {
    margin-top: 20px;
}
}


@media screen and (min-width:993px) and (max-width:1199px) {
.main-header .bottom-text {
    width: 480px;
}
}

@media screen and (min-width:1200px) and (max-width:1399px) {
.main-header .bottom-text {
    width: 500px;
}
}

@media screen and (min-width:1400px) {
    .main-header .bottom-text {
        width: 100%;
        max-width: 660px;
    }
}

@media screen and (min-width:320px) and (max-width:450px) {
 .main-header-btn {
        width: 90%;
        padding: 14px 35px;
        margin-top: 0px;
        margin-bottom: 20px;
        margin-right: 5%;
        margin-left: 5%;
        
    }
}