html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    color: #2c2c2c;
    font-family: Verdana;
}

body {
    font-size: 10pt;
    background: #eeeeee;
    max-width: 1000px;
}

* {
    box-sizing: border-box;
}


*,
p {
    margin: 0;
    padding: 0;
}


h3 {
	font-size: 10pt;
}

a {
    text-decoration: none;
    color: #0078a5;
    font-weight: bold;

    transition: all .2s linear;
}

a:hover {
    text-decoration: none;
    color: #152930;
    font-weight: bold;
    transition: all .2s linear;
}

.info {
    color: #3b7e97;
    font-size: 8pt;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
    margin-top: 3px;
}

/* a:hover:before {
    content: "[";
}

a:hover:after {
    content: "]";
} */


/* header {
   
    width: 100%;
    height: 48px;
    background: #005575;
    border-radius: 5px;
    margin: 2px auto;
    padding: 8px 10px 8px 10px;
} */

header {
	width: 100%;
	height: 48px;
	background: #005575;
	border-radius: 5px;
	padding: 8px 10px 8px 10px;
	position: fixed;
	z-index: 1000;
	max-width: 1000px;
	top: 5px;
}

.head {
    display: flex;
    justify-content: space-between;
}

.logo {
    max-width: 33px;
    width: 100%;
    height: 33px;

    background: url("../img/Logo_KeinStyle_Circle.png");
    background-size: contain;

    -webkit-animation: 25s linear 0s normal none infinite running rot;
}

.menu {
    max-width: 540px;
    width: 100%;
    height: 22px;

    display: flex;
    margin-top: 5px;
}


.menu a {
	background: #00648a;
	border-radius: 5px;
	margin-left: 10px;
	padding: 7px 15px;
	line-height: .7;
	color: #eeeeee;
	text-transform: uppercase;
    font-size: 10px;
    
    text-decoration: none;
    transition: all .2s linear;
}


.menu a:hover {
    transition: all .2s linear;

    background: #0078a5;
}

section {
	margin-top: 70px;
}


section#_news {
    display: block;

    transition: .2s linear;
}

#_download, #_portf, #_cont, #_links {
    display: none;

    transition: .2s linear;
}




/* fade */

@keyframes show{
    0%{
    opacity:0;
    }
    
    100% {
    opacity:1;
    }
}

.content {
    width: 100%;
    height: auto;

    background: #e2e2e2;
    border-radius: 5px;

    margin: 25px 0 25px 0;
    padding: 10px;
}

.block {
	width: 100%;
	height: 180px;
	background: #eeeeee;
    border-radius: 5px;
    
    padding: 15px;

    margin-bottom: 12px;

   /* display: flex;*/

    transition: all .2s linear;

}

.block_body {
    display: flex;
}

.img {
    /* max-width: 120px;
    width: 100%;
    height: 120px;
    background: #8cb1f7; 
    border-radius: 5px;*/

    margin-right: 15px;
    background-size: contain;
    overflow: hidden;
}

img {
	width: 100%;
	max-width: 120px;
	max-height: 120px;
    height: 100%;
    border-radius: 5px;
}

.title {
	margin-bottom: 10px;
	text-transform: uppercase;
}

.text {
    max-width: 815px;
    width: 100%;
    height: 100px;

   /* background: #8cb1f7;*/

    overflow: hidden;
    word-wrap: break-word;

    transition: all .2s linear;
}

/* .open_more {
    transition: all .2s linear;

} */

.attach {
    max-width: 815px;
    width: 100%;
    height: 20px;

    /*background: rgb(255, 115, 115);*/
   /* margin-top: 15px;*/

    display: flex;
    justify-content: space-between;
    line-height: 2.1;
}

.dt {
    font-weight: bold;
    color: #878787;

    text-transform: uppercase;
}

.more_but  {
    color: #00648a;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    transition: all .2s linear;
}

.more_but:hover {
    transition: all .2s linear;

    color: #2c2c2c;
}

footer {
    width: 100%;
    height: 48px;
    background: #e2e2e2;

    border-radius: 5px;
    padding: 8px 10px 8px 10px;
    margin: 45px auto 10px auto;

    color: #878787;
    text-transform: uppercase;
    text-align: center;
}

.h_150 {
    height: 150px;
}

.h_200 {
    height: 200px;
}

.h_250 {
    height: 250px;
}

.h_300 {
    height: 300px;
}

.h_350 {
    height: 350px;
}

.h_400 {
    height: 400px;
}

.h_450 {
    height: 450px;
}

.h_500 {
    height: 500px;
}

.h_550 {
    height: 550px;
}

.h_600 {
    height: 600px;
}

.h_650 {
    height: 650px;
}

.h_700 {
    height: 700px;
}



/* скролл */

::-webkit-scrollbar {
    width: 8px;
    background-color: #cacaca;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #374f8e;
}

::-webkit-scrollbar-track {
    background-color: #cacaca;
}


@media (max-width: 720px) {

}


@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}