@media (max-width: 1599px) {
    .head-info {
        margin-right: 0;
    }

    .container {
        max-width: 1200px;
    }

    .head-social {
        margin-right: 45px;
    }

    .home-item p {
        font-size: 16px;
        line-height: 24px;
        max-width: 230px;
    }

    .examples-slider .example-info p {
        max-width: 440px;
    }

    table.example-table {
        max-width: 500px;
    }

    .example-photo img {
        width: 660px;
        max-height: 448px;
        height: 100%;
    }

    .examples-small-slider.slick-initialized.slick-slider {
        max-width: 530px;
    }

    .example-small-photo {
        max-width: 150px;
        max-height: 100px;
    }

    .example-small-photo.slick-slide img {
        height: 100px;
        width: 150px;
    }



    .example-small-photo.slick-slide,
    .examples-small-item.slick-slide,
    .examples-small-item.slick-slide.slick-current {
        width: 150px;
    }

    .more-examples {
        width: 150px;
        height: 100px;
    }

    .examples-small-block {
        bottom: 30px;
    }


    .master-info {
        max-width: 235px;
        width: 235px;
    }

    .video-review-item {
        max-width: 380px;
        margin-bottom: 30px;
    }

    .step {
        max-width: 255px;
        margin-bottom: 80px;
        margin-right: 60px;
    }

    .step span {
        width: 34px;
        height: 34px;
        flex-shrink: 0;
        margin-right: 15px;
    }

    .step-info {
        max-width: 230px;
        overflow: hidden;
    }

    .step-info h5 {
        font-size: 16px;
        line-height: 24px;
    }

    .step-info p {
        line-height: 22px;
    }

    .steps-block:after {
        width: 948px;
        right: 236px;
        top: 188px;
    }

    .step:nth-child(5) span::before {
        height: 80px;
    }

    .variants-article {
        max-width: 860px;
    }

    .variants-menu {
        max-width: 280px;
    }

    .article-imgs img {
        max-width: 385px;
    }

    .article-imgs.small img {
        max-width: 185px;
        max-height: 130px;
    }

    .footer-info {
        margin-right: 100px;
    }

    .footer-social {
        margin-right: 80px;
    }

}

@media (max-width: 1210px) {
    .container {
        max-width: 950px;
    }



    .logo {
        margin-right: 0;
    }

    .head-info {
        display: none;
    }

    .head-social {
        margin-right: 0px;
    }

    .schedule {
        margin-right: 0;
    }

    .home-title {
        max-width: 950px;
        padding-top: 180px;
    }

    .title,
    h1.title {
        font-size: 40px;
    }

    .home-bottom {
        margin-top: 200px;
    }

    .home-item img {
        margin-right: 15px;
    }

    .home-item p {
        font-size: 14px;
        line-height: 22px;
        max-width: 170px;
    }

    section.works {
        padding-bottom: 95px;
    }

    .cards-block {
        max-width: 950px;
        grid-column-gap: 30px;
        grid-row-gap: 50px;
    }

    .calculator-block {
        flex-wrap: wrap;
    }

    .calc-column-1 {
        max-width: none;
        margin-right: 110px;
        flex: 0 1 40%;
    }

    .calc-column-2 {
        max-width: none;
        flex: 0 1 40%;
    }

    .calc-column-3 {
        margin-left: 0;
        max-width: 100%;
        margin-top: 40px;
    }

    .example-photo img {
        width: 430px;
        max-height: 450px;
        height: 100%;
        margin-right: 30px;
        object-fit: cover;
        object-position: right;
    }

    .examples-small-slider.slick-initialized.slick-slider {
        max-width: 300px;
    }

    .examples-slider .example-info p {
        max-width: 440px;
        margin-bottom: 10px;
    }

    table.example-table {
        max-width: 500px;
        margin-bottom: 15px;
    }

    .examples-small-block {
        bottom: -15px;
    }

    .more-examples {
        width: 131px;
        height: 100px;
    }

    section.master {
        padding: 45px 0;
    }

    .master-top .title {
        max-width: 330px;
        margin-right: 0;
    }

    .master-item {
        flex: 0 1 50%;
    }

    .master-item img {
        margin-right: 10px;
    }

    .master-info {
        max-width: 435px;
        width: auto;
        margin-bottom: 30px;
        overflow: hidden;
    }

    section.video-reviews {
        padding: 120px 0 173px 0;
    }

    .video-review-item {
        max-width: 295px;
    }

    .video-review-item img {
        max-height: 200px;
    }


    .steps-block {
        justify-content: space-between;
    }

    .step {
        max-width: 285px;
        margin-bottom: 40px;
        margin-right: 0;
        flex: 0 1 33.3333%;
    }

    .step-info {
        max-width: none;
        overflow: hidden;
    }

    .step:nth-child(2) span:before,
    .step:nth-child(3) span:before,
    .step:nth-child(4) span:before,
    .step:nth-child(6) span:before,
    .step:nth-child(7) span:before,
    .step:nth-child(5) span::before,
    .step:nth-child(4) span::after,
    .steps-block:after {
        display: none;
    }

    section.variants {
        padding: 90px 0;
    }

    a.v-menu {
        font-size: 16px;
    }

    .variants-menu {
        max-width: 180px;
        margin-right: 30px;
    }

    .variants-article {
        max-width: 700px;
        /* border: 1px solid; */
        padding-left: 30px;
    }

    .article-imgs {
        margin-bottom: 30px;
        margin-top: 30px;
        flex-wrap: wrap;
        max-height: none;
    }

    .article-imgs img {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .article-imgs.small img {
        flex: 0 1 50%;
        max-width: 320px;
        max-height: 230px;
        margin-bottom: 30px;
    }

    .footer {
        max-width: 950px;
        justify-content: space-between;
    }

    .footer-info {
        display: none;
    }
}

@media (max-width: 1023px) {
    .container {
        max-width: 720px;
    }

    .home-item {
        flex: 0 1 50%;
        margin-bottom: 30px;
    }

    .home-item p {
        max-width: 100%;
    }

    .cards-block {
        max-width: 720px;
        grid-column-gap: 20px;
        grid-row-gap: 35px;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 90px;
    }

    .calculator-title {
        max-width: 720px;
    }

    .example-photo img {
        width: 100%;
        max-height: 460px;
        height: 460px;
        margin-right: 0;
    }

    .examples-item.slick-slide {
        flex-direction: column;
    }

    .example-info {
        margin-top: 195px;
    }

    .examples-small-block {
        bottom: 0;
        top: 47%;
        max-height: 170px;
    }

    .examples-small-slider.slick-initialized.slick-slider {
        max-width: 720px;
    }

    .example-small-photo.slick-slide,
    .examples-small-item.slick-slide,
    .examples-small-item.slick-slide.slick-current {
        width: 165px;
        max-width: 165px;
    }

    .example-small-photo.slick-slide img {
        height: 100px;
        width: 165px;
    }

    .more-examples {
        width: 165px;
        height: 100px;
    }

    .slider-buttons {
        display: flex;
        position: absolute;
        top: 57%;
        left: 44%;
        z-index: 999;
    }

    .examples-slider .example-info p {
        max-width: 720px;
        margin-bottom: 10px;
    }

    table.example-table {
        max-width: 720px;
        margin-bottom: 15px;
    }

    section.examples {
        padding: 30px 0;
    }

    .master-top {
        margin-bottom: 80px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .master-top .title {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
    }

    .attention {
        display: flex;
        align-items: center;
        max-width: none;
        width: 100%;
        margin-right: 0;
        justify-content: center;
        margin-bottom: 28px;
    }

    .question-list {
        flex-direction: column;
    }

    .video-review-item {
        max-width: 100%;
        flex: 0 1 48%;
    }

    section.video-reviews {
        padding: 50px 0 100px 0;
    }

    .video-reviews-block {
        margin-bottom: 20px;
    }

    .map-block {
        padding: 30px 60px;
        left: 0;
    }

    section.scheme {
        padding: 50px 0 50px 0;
    }

    .step {
        max-width: 340px;
        flex: 0 1 50%;
    }

    .article-imgs.small img {
        max-width: 220px;
        max-height: 150px;
    }

    .variants-article {
        max-width: 500px;
    }

    .modal-image {
        display: none;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 620px;
        padding: 0 20px;
    }

    .schedule {
        display: none;
    }

    .home-title h1.title {
        font-size: 28px;
        line-height: 40px;
    }

    .home-title p {
        font-size: 20px;
        line-height: 32px;
    }

    .cards-block {
        grid-template-columns: 1fr 1fr;
    }

    .calc-column-1 {
        margin-right: 90px;
    }

    .examples-small-block {
        left: 20px;
    }

    .examples-small-slider.slick-initialized.slick-slider {
        max-width: 328px;
    }

    .example-small-photo.slick-slide img {
        width: 140px;
    }

    .map-block {
        left: 0;
    }
}

@media (max-width: 490px) {
    .container {
        max-width: 320px;
        padding: 0;
    }

    .head-social {
        display: none;
    }

    .schedule {
        display: none;
    }

    h1.title {
        font-size: 24px;
        letter-spacing: .75px;
        line-height: 36px;
    }

    .home-title {
        max-width: 320px;
        padding-top: 157px;
    }

    .home-title h1.title {
        margin-bottom: 15px;
        font-size: 24px;
    }


    .home-title p {
        margin-bottom: 30px;
        max-width: 320px;
        font-size: 14px;
        line-height: 24px;
    }

    .home-bottom {
        margin-top: 100px;
        padding-bottom: 38px;
    }

    .home-item {
        flex: 0 1 100%;
        margin-bottom: 20px;
    }

    .cards-block {
        max-width: 320px;
        grid-column-gap: 0;
        grid-row-gap: 30px;
        grid-template-columns: 1fr;
        margin-bottom: 90px;
    }

    .cards-item {
        max-width: 100%;
        text-align: inherit;
        display: flex;
        flex-wrap: wrap;
    }

    .cards-item img {
        width: 40px;
        height: 40px;
        margin-bottom: 0;
        margin-right: 20px;
    }

    .cards-item h5 {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: .42px;
        margin-bottom: 0;
        font-weight: 400;
        max-width: 260px;
        width: 100%;
        flex-shrink: 0;
        overflow: hidden;
    }

    .cards-item p {
        font-size: 13px;
        line-height: 21px;
        max-width: 260px;
        width: 100%;
        margin-left: 60px;
        overflow: hidden;
    }

    section.works {
        padding-bottom: 62px;
        padding-top: 80px;
    }

    .calculator-title h4.pre-section {
        margin-bottom: 20px;
        font-size: 18px;
        letter-spacing: 0.54px;
        line-height: 27px;
    }

    .calculator-title p {
        font-size: 13px;
        line-height: 21px;
    }

    .calculator-title {
        max-width: 320px;
        margin-bottom: 28px;
    }

    .calc-name {
        font-size: 16px;
        letter-spacing: 0.48px;
        line-height: 27px;
    }

    .custom-radio+label {
        font-size: 14px;
        line-height: 27px;
    }

    .calc-column-1 {
        max-width: none;
        margin-right: 0;
        flex: 0 1 100%;
        margin-bottom: 30px;
    }

    .calc-type-object {
        margin-bottom: 28px;
    }

    .calc-column-2 {
        max-width: none;
        flex: 0 1 100%;
    }

    .calc-column-3 {
        margin-left: 0;
        max-width: 100%;
        margin-top: 30px;
        padding: 40px 30px;
    }

    h4.raschet-title {
        font-size: 18px;
        letter-spacing: 0.54px;
        line-height: 27px;
        margin-bottom: 12px;
    }

    .calc-column-3 p {
        line-height: 21px;
        color: rgba(26, 26, 26, 0.7);
        margin-bottom: 40px;
        font-size: 13px;
    }

    section.examples h3.section-title {
        font-size: 24px;
        line-height: 48px;
        width: 100%;
        margin-bottom: 25px;
        text-align: center;
    }

    .example-photo img {
        max-height: 180px;
        height: 180px;
    }

    .examples-small-block {
        bottom: 0;
        top: 28%;
        left: 0;
    }

    .examples-small-slider.slick-initialized.slick-slider {
        max-width: 220px;
    }

    .example-small-photo.slick-slide img {
        height: 70px;
        width: 100px;
    }

    .more-examples {
        width: 100px;
        height: 70px;
    }

    .more-examples a.more-count {
        font-size: 24px;
        line-height: 36px;
    }

    .example-small-photo.slick-slide,
    .examples-small-item.slick-slide,
    .examples-small-item.slick-slide.slick-current {
        max-height: 70px;
        width: 100px;
        margin-right: 10px;
    }

    .slider-buttons {
        top: 37.5%;
        left: 37%;
    }

    .example-info {
        margin-top: 150px;
    }

    .examples-slider .example-info h5 {
        margin-bottom: 17px;
    }

    .examples-slider .example-info p {
        max-width: 320px;
        margin-bottom: 10px;
        font-size: 13px;
        line-height: 21px;
    }

    table.example-table td.heading {
        line-height: 21px;
        width: 160px;
        font-size: 14px;
    }

    table.example-table td {
        font-size: 13px;
        line-height: 21px;
    }

    section.master {
        padding: 80px 0 50px 0;
    }

    .master-top {
        margin-bottom: 60px;
    }

    .master-top .title {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
        font-size: 24px;
        letter-spacing: 0.72px;
        text-align: center;
        line-height: 36px;
    }

    .attention h5 {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 0;
    }

    .attention p {
        font-size: 14px;
        line-height: 27px;
    }

    .master-item {
        flex: 0 1 100%;
    }

    .master-info h5 {
        margin-bottom: 8px;
        font-size: 16px;
        letter-spacing: 0.48px;
        line-height: 27px;
    }

    .master-info p {
        font-size: 13px;
        line-height: 21px;
    }

    .master-info {
        max-width: 320px;
        margin-bottom: 30px;
    }

    section.question {
        padding: 80px 0 110px 0;
    }

    .title-block h3.section-title {
        margin-bottom: 15px;
        font-size: 24px;
        letter-spacing: 0.72px;
        line-height: 36px;
    }

    p.subtitle {
        font-size: 13px;
        line-height: 21px;
    }

    .title-block {
        max-width: 320px;
        width: 100%;
        margin-bottom: 30px;
    }

    .question-info h5 {
        margin-bottom: 8px;
        font-size: 16px;
        letter-spacing: 0.48px;
        line-height: 27px;
    }

    .question-info p {
        font-size: 13px;
        line-height: 21px;
    }

    .question-column {
        flex: 0 1 100%;
        margin-right: 0;
        max-width: 320px;
    }

    .question-item {
        margin-bottom: 30px;
    }

    .question-list {
        margin-bottom: 0;
    }

    .conclusion {
        padding: 30px;
    }

    .conclusion h5 {
        font-size: 16px;
        letter-spacing: 0.48px;
        line-height: 24px;
    }

    .conclusion p {
        font-size: 13px;
        line-height: 21px;
    }

    section.video-reviews {
        padding: 80px 0 80px 0;
    }

    section.video-reviews h3.section-title {
        text-align: left;
        font-size: 24px;
        letter-spacing: 0.72px;
        line-height: 36px;
        margin-bottom: 25px;
    }

    .video-review-item {
        max-width: 100%;
        max-height: 178px;
        flex: 0 1 100%;
        margin-bottom: 10px;
    }

    .video-review-item img {
        max-height: 178px;
    }

    .video-reviews-block {
        margin-bottom: 80px;
    }

    .map-block {
        padding: 40px 30px;
        max-width: 100%;
        top: 0;
        left: 0;
    }

    .map-block h4 {
        margin-bottom: 30px;
        font-size: 21px;
        letter-spacing: 0.63px;
        line-height: 30px;
    }

    .map-item-title {
        font-size: 18px;
        letter-spacing: 0.54px;
        line-height: 30px;
    }

    .map-block p {
        margin-bottom: 30px;
        font-size: 13px;
        letter-spacing: 0.39px;
        line-height: 30px;
    }

    section.scheme {
        padding: 80px 0 40px 0;
    }

    .step {
        max-width: 320px;
        flex: 0 1 100%;
    }

    .step span {
        margin-top: 0;
        margin-right: 20px;
    }

    .step-info p {
        line-height: 21px;
        font-size: 13px;
    }

    .step span:after {
        position: absolute;
        content: '';
        width: 2px;
        height: 130px;
        background: #FFD927;
        top: 30px;
    }

    .step:nth-child(4) span::after {
        display: block;
    }

    .step:nth-child(7) span::after {
        display: none;
    }

    .map-block.foot p {
        margin-bottom: 0;
    }

    .footer {
        max-width: 320px;
        padding: 60px 30px;
        flex-direction: column;
    }

    .footer .logo {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .footer-social {
        margin-right: 0;
    }

    .footer-info {
        display: block;
        margin-right: 0;
        text-align: center;
        line-height: 27px;
        max-width: 320px;
        margin-bottom: 28px;
    }

    .footer-social {
        margin-right: 0;
        margin-bottom: 30px;
    }


    .variants-article {
        max-width: 142px;
    }

    .variants-menu {
        max-width: 66px;
        margin-right: 30px;
    }

    section.variants {
        padding: 80px 0;
    }

    section.variants .title {
        max-width: 320px;
        margin-bottom: 35px;
        font-size: 24px;
        letter-spacing: 0.72px;
        line-height: 36px;
    }

    .tabcontent {
        display: block !important;
        /* margin-bottom: 40px; */
    }

    .variants-menu {
        display: none;
    }

    .variants-article {
        max-width: 320px;
        border: none;
        padding: 0;
        width: 100%;
    }

    .tabcontent details {
        pointer-events: auto;
    }

    .tabcontent summary:before {
        display: block;
    }

    .article-title {
        font-weight: bold;
        font-size: 21px;
        letter-spacing: .9px;
        line-height: 1;
        margin-bottom: 12px;
    }

    .variants-article p {
        font-size: 13px;
        line-height: 21px;
        margin-bottom: 40px;
    }

    .article-imgs img {
        max-width: 48%;
        margin-bottom: 0;
    }

    .article-imgs {
        margin-bottom: 30px;
    }

    .article-imgs.small img {
        max-width: 155px;
        max-height: 116px;
        margin-bottom: 10px;
    }

    .sum-title {
        display: block;
    }

    .tabcontent summary {
        padding: 20px 0 20px 0;
        font-size: 20px;
        border-top: 1px solid rgb(26 26 26 / 10%);
    }


    .acc-text {
        -webkit-box-shadow: 0px 0px 12px 5px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 0px 12px 5px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 0px 12px 5px rgba(34, 60, 80, 0.2);
        right: 15px;
        padding: 15px;
    }


    .map-block.foot {
        padding: 60px;
        max-width: 428px;
        -webkit-box-shadow: 0px -6px 50px -2px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px -6px 50px -2px rgba(34, 60, 80, 0.2);
        box-shadow: 0px -6px 50px -2px rgba(34, 60, 80, 0.2);
    }

    .head-social__menu {
        display: flex;
    }

    .accordion {
        padding: 20px 0 0 0;
        border-bottom: none;
    }

    .acc-text {
        bottom: 60px;
    }

    .master-item img {
        margin-right: 20px;
    }

    section.scheme .title {
        margin-bottom: 34px;
        font-size: 24px;
        line-height: 36px;
    }

}